.rotation {
	.outer {
		.bottom {
			bottom: -18px;
		}
		.top {
			top: -17px;
		}
		.left {
			left: -17px;
		}
		.right {
			right: -17px;
		}
	}
	&.active {
		.outer {
			.bottom {
				bottom: -28px;
				span {
					color: #8c7c7a;
				}
			}
		}
	}
}


.play-btn, .button.primary {
	filter: none !important;
}