<div class="record-player">
    <div class="filler-1"></div>
    <div class="filler-2"></div>
    <div class="filler-3"></div>
    <div class="filler-4"></div>
    <div class="filler-5"></div>
    <div class="filler-6"></div>
    <div class="filler-7"></div>
    <div class="filler-8"></div>
    <div class="base">
        <div class="needle"></div>
        <a href="javascript:;" ng-click="play()" class="play-btn"><span></span></a>
        <div class="effect-ring"></div>
        <div class="beats-ring"></div>
        <div class="melody-ring"></div>
        <div class="inner-label">
            <div class="inner-label-details">
                <div class="label-top">
                    <div class="logo"></div>
                </div>
                <div class="label-bottom">
                    <span class="name">Mum Song</span>
                    <span class="desc"><i class="dot">.</i>DEDICATIONS<i class="dot">.</i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="heading-category">
    <span class="sub-title text-heavy">First Name</span>
    <div class="heading-bullet">
        <h1>song Dedication</h1>
    </div>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Vestibulum non odio vel felis convallis feugiat et mattis libero.</p>
<a href="#/melody-select" class="button primary"><span><em>CREATE YOUR OWN</em></span></a>