// ------------------------------------------------------------\\
// 	VARIABLES 									
// ------------------------------------------------------------\\

// Colors 
//-------------------------------------------------------------\\

$color-black:     		#000000 !default;
$color-white:     		#ffffff !default;
$color-gray: 			#808080 !default;
$color-gray-darken: 	darken($color-gray, 30%) !default; 
$color-gray-lighten: 	lighten($color-gray, 45%) !default;

$color-normal:         	#7e6d6b !default;
$color-primary: 	    #69b6d7 !default;
$color-secondary:     	#df4a5d !default;
$color-tertiary:     	#ddd1c3 !default;
$color-completed: 		#47bc28 !default;
$color-error: 			#ff0000 !default;
$color-important: 		#1fadb2 !default;


$bg-black-bg: 			$color-black !default;
$bg-black-color: 		$color-white !default;

$bg-white-bg: 			$color-white !default;
$bg-white-color: 		$color-normal !default;

$bg-gray-bg: 			$color-gray !default;
$bg-gray-color: 		$color-normal !default;

$bg-gray-darken-bg: 	$color-gray-darken !default;
$bg-gray-darken-color: 	$color-white !default;

$bg-gray-lighten-bg: 	$color-gray-lighten !default;
$bg-gray-lighten-color: $color-normal !default;

$bg-normal-bg: 			$color-normal !default;
$bg-normal-color: 		$color-white !default;

$bg-primary-bg: 		$color-primary !default;
$bg-primary-color: 		$color-white !default;

$bg-secondary-bg: 		$color-secondary !default;
$bg-secondary-color: 	$color-white !default;

$bg-tertiary-bg: 		$color-tertiary !default;
$bg-tertiary-color: 	$color-normal !default;

$bg-completed-bg: 		$color-completed !default;
$bg-completed-color: 	$color-white !default;

$bg-error-bg: 			$color-error !default;
$bg-error-color: 		$color-white !default;

$bg-important-bg: 		$color-important !default;
$bg-important-color: 	$color-white !default;


// Global 
//-------------------------------------------------------------\\


$global-padding-top-normal: 			10px !default;
$global-padding-bottom-normal: 			10px !default;
$global-padding-left-normal: 			20px !default;
$global-padding-right-normal: 			20px !default;	

$global-padding-top-moderate: 			8px !default;
$global-padding-bottom-moderate: 		8px !default;
$global-padding-left-moderate: 			10px !default;
$global-padding-right-moderate: 		10px !default;	

$global-padding-top-light: 				8px !default;
$global-padding-bottom-light: 			8px !default;
$global-padding-left-light: 			10px !default;
$global-padding-right-light: 			10px !default;	

$global-border-radius-normal: 			0px !default;
$global-border-color: 					#f5f5f5 !default;

$global-font-size-normal:      			15px;
$global-font-size-moderate:      		14px;
$global-font-size-light:      			14px;

$global-line-height-normal:  			1.2 !default; // 18/15

$global-margin-bottom-normal: 			floor($global-font-size-normal * $global-line-height-normal) !default;
$global-margin-bottom-moderate: 		$global-margin-bottom-normal !default;
$global-margin-bottom-light: 			$global-margin-bottom-normal !default;

$global-indent: 						20px !default;

$body-bg:  								$color-white !default;
$text-color: 							$color-normal !default;

$hr-border: 							2px solid $color-tertiary !default;
$hr-margin-bottom: 						$global-margin-bottom-normal !default;


// Typography 
//-------------------------------------------------------------\\


$font-family-normal:      		'proxima_nova', Arial, sans-serif !default;
$font-family-primary:  			'font-name', Arial, sans-serif !default;
$font-family-secondary:  		'font-name', Arial, sans-serif !default;
$font-family-tertiary:  		'font-name', Arial, sans-serif !default;

$text-link: 					#7e6d6b !default;
$text-link-hover: 				darken($text-link, 15%);

$heading-font-family: 			$font-family-normal !default;
$heading-font-weight: 			normal !default;

$heading-1-normal: 				43px !default;
$heading-2-normal: 				34px !default;
$heading-3-normal: 				22px !default;
$heading-4-normal: 				18px !default;	
$heading-5-normal: 				14px !default;
$heading-6-normal: 				12px !default;

$heading-1-light: 				28px !default;
$heading-2-light: 				27px !default;
$heading-3-light: 				16px !default;
$heading-4-light: 				18px !default;	
$heading-5-light: 				14px !default;
$heading-6-light: 				12px !default;

$heading-1-font-weight: 		normal !default;

$heading-margin-bottom-normal: 	12px !default;
$heading-margin-bottom-moderate:$global-margin-bottom-moderate !default;
$heading-margin-bottom-light: 	$global-margin-bottom-light !default;

$heading-color: 				$color-normal !default;
$heading-line-height: 			1.1 !default;
$heading-small-font-size: 		65% !default;

$heading-bar-bg: 				$color-primary !default;
$heading-bar-color: 			$color-white !default;

$heading-bar-padding-top-normal: 		8px !default;
$heading-bar-padding-bottom-normal: 	8px !default;
$heading-bar-padding-left-normal: 		$global-padding-left-normal !default;
$heading-bar-padding-right-normal: 		$global-padding-right-normal !default;

$heading-border-bottom: 					1px solid $color-gray !default;
$heading-border-top: 						0px solid $color-gray !default;

$heading-border-padding-top-normal: 		8px !default;
$heading-border-padding-bottom-normal: 		8px !default;
$heading-border-padding-left-normal: 		$global-padding-left-normal !default;
$heading-border-padding-right-normal: 		$global-padding-right-normal !default;

$blockquote-padding-top-normal: 			10px !default;
$blockquote-padding-bottom-normal: 			10px !default;
$blockquote-padding-left-normal: 			40px !default;
$blockquote-padding-right-normal: 			10px !default;

$blockquote-padding-top-moderate: 			10px !default;
$blockquote-padding-bottom-moderate: 		10px !default;
$blockquote-padding-left-moderate: 			40px !default;
$blockquote-padding-right-moderate: 		10px !default;

$blockquote-padding-top-light: 				10px !default;
$blockquote-padding-bottom-light: 			10px !default;
$blockquote-padding-left-light: 			40px !default;
$blockquote-padding-right-light: 			10px !default;

$blockquote-bg: 							none !default;
$blockquote-color: 							$color-black !default;
$blockquote-font-size-normal: 				22px !default;
$blockquote-font-size-moderate: 			22px !default;
$blockquote-font-size-light: 				22px !default;
$blockquote-font-weight: 					bold !default;
$blockquote-author-font-size: 				12px !default;
$blockquote-author-text-align: 				left !default;




// Bar
//-------------------------------------------------------------\\

// Bar
$bar-padding-top-normal: 				10px !default;
$bar-padding-bottom-normal: 			10px !default;
$bar-padding-left-normal: 				10px !default;
$bar-padding-right-normal: 				10px !default;

$bar-margin-bottom: 					10px !default;

$bar-bg: 								$color-gray-lighten !default;
$bar-color: 							$color-normal !default;
$bar-border: 							1px solid darken($color-gray-lighten, 10%) !default;

// Top bar
$topbar-padding-top-normal: 			0px !default;
$topbar-padding-bottom-normal: 			0px !default;
$topbar-padding-left-normal: 			20px !default;
$topbar-padding-right-normal: 			20px !default;

$topbar-margin-bottom: 					0px !default;

$topbar-height: 						40px !default;

$topbar-bg: 							$color-gray-lighten !default;
$topbar-color: 							$color-normal !default;
$topbar-font-size: 						14px !default;

$topbar-border-top: 					none !default; // 1px solid $color-primary
$topbar-border-bottom: 					none !default; // 1px solid $color-primary
$topbar-border-left: 					none !default; // 1px solid $color-primary
$topbar-border-right: 					none !default; // 1px solid $color-primary


// Nav bar
$navbar-padding-top-normal:  			18px !default;
$navbar-padding-bottom-normal:  		18px !default;
$navbar-padding-left-normal: 			20px !default;
$navbar-padding-right-normal: 			20px !default;

$navbar-margin-bottom: 					0px !default;

$navbar-height: 						82px !default;

$navbar-bg: 							#d34548 !default;
$navbar-color: 							$color-white !default;

$navbar-border-top: 					none !default; // 1px solid $color-primary
$navbar-border-bottom: 					none !default; // 1px solid $color-primary
$navbar-border-left: 					none !default; // 1px solid $color-primary
$navbar-border-right: 					none !default; // 1px solid $color-primary


// Bottom Bar
$bottombar-padding-top-normal: 			12px !default;
$bottombar-padding-bottom-normal: 		12px !default;
$bottombar-padding-left-normal: 		10px !default;
$bottombar-padding-right-normal: 		10px !default;

$bottombar-margin-bottom: 				0px !default;

$bottombar-bg: 							$color-gray-lighten !default;		
$bottombar-color: 						$color-white !default;

$bottombar-border-top: 					none !default; // 1px solid $color-primary
$bottombar-border-bottom: 				none !default; // 1px solid $color-primary
$bottombar-border-left: 				none !default; // 1px solid $color-primary
$bottombar-border-right: 				none !default; // 1px solid $color-primary



// Nav 
//-------------------------------------------------------------\\


// Nav
$nav-margin-top-normal: 				6px !default; 
$nav-margin-bottom-normal: 				0 !default;
$nav-margin-right-normal: 				0 !default;
$nav-margin-left-normal: 				0 !default;

$nav-font-size-normal: 					16px !default;
$nav-font-size-moderate: 				inherit !default;
$nav-font-size-light: 					inherit !default;

$nav-font-family: 						$font-family-primary;
$nav-font-weight: 						normal !default;
$nav-text-transform: 					none !default;

// Nav List
$nav-list-margin-right-normal: 			0 !default; // Desktop 
$nav-list-margin-left-normal:      		50px !default;

$nav-list-margin-right-moderate: 		inherit !default; // Tablet
$nav-list-margin-left-moderate:      	inherit !default;

$nav-list-margin-right-light: 			inherit !default; // Mobile
$nav-list-margin-left-light:      		inherit !default;

$nav-list-border-left:  				none !default;
$nav-list-border-right:  				none !default;

// Nav Link
$nav-link-padding-top-normal: 			6px !default; // Desktop 
$nav-link-padding-bottom-normal: 		6px !default;
$nav-link-padding-right-normal: 		15px !default;
$nav-link-padding-left-normal: 			15px !default;

$nav-link-padding-top-moderate: 		inherit !default; // Tablet
$nav-link-padding-bottom-moderate: 		inherit !default;
$nav-link-padding-right-moderate: 		inherit !default;
$nav-link-padding-left-moderate: 		inherit !default;

$nav-link-padding-top-light: 			10px !default; // Mobile
$nav-link-padding-bottom-light: 		10px !default;
$nav-link-padding-right-light: 			10px !default;
$nav-link-padding-left-light: 			10px !default;

$nav-link-border-top: 	 				none !default;
$nav-link-border-bottom: 				3px solid transparent !default;

$nav-link-bg: 							none !default;
$nav-link-color: 						$color-white !default;

// hover
$nav-link-bg-hover: 					none !default;
$nav-link-color-hover: 					inherit !default;
$nav-link-border-top-hover: 	 		none !default;
$nav-link-border-bottom-hover: 			3px solid $color-white !default;
$nav-link-border-left-hover:  			none !default;
$nav-link-border-right-hover:  			none !default;

// active
$nav-link-bg-active: 					$nav-link-bg-hover !default;
$nav-link-color-active: 				$nav-link-color-hover !default;
$nav-link-border-top-active: 	 		$nav-link-border-top-hover !default;
$nav-link-border-bottom-active: 		$nav-link-border-bottom-hover !default;
$nav-link-border-left-active:  			$nav-link-border-left-hover !default;
$nav-link-border-right-active:  		$nav-link-border-right-hover !default;


// Nav Content
$nav-content-padding-top-normal: 		0px !default;
$nav-content-padding-bottom-normal: 	0px !default;
$nav-content-padding-left-normal: 		0px !default;
$nav-content-padding-right-normal: 		0px !default;

$nav-content-padding-top-moderate: 		0px !default;
$nav-content-padding-bottom-moderate: 	0px !default;
$nav-content-padding-left-moderate: 		0px !default;
$nav-content-padding-right-moderate: 		0px !default;

$nav-content-padding-top-light: 		0px !default;
$nav-content-padding-bottom-light: 	0px !default;
$nav-content-padding-left-light: 		0px !default;
$nav-content-padding-right-light: 		0px !default;

$nav-content-height-normal: 			auto !default;
$nav-content-height-moderate: 			auto !default;
$nav-content-height-light: 			auto !default;

$nav-content-bg: 						$color-white !default;


// Top Nav
$topnav-padding-top-normal: 		3px !default;
$topnav-padding-bottom-normal: 		3px !default;
$topnav-padding-left-normal: 		5px !default;
$topnav-padding-right-normal: 		5px !default;

$topnav-margin-top: 				8px !default;
$topnav-margin-bottom: 				0px !default;


// Top Nav List
$topnav-list-margin-left: 			10px !default;
$topnav-list-margin-right: 			0px !default;

$topnav-font-size: 					12px !default;


// SIDENAV

// Sidenav Padding
$sidenav-padding: 					10px 15px !default; // top, right, bottom, left


// Side Nav styling
$sidenav-font-size-normal: 			14px !default;
$sidenav-font-family: 				$nav-font-family !default;
$sidenav-font-weight: 				bold !default;

// Sidenav Link
$sidenav-link-color:				$color-normal !default;
$sidenav-link-bg: 					inherit !default;

// Sidenav Hover
$sidenav-link-color-hover:			$color-white !default;
$sidenav-link-bg-hover: 			$color-primary !default;

// Sidenav Active
$sidenav-link-color-active: 		$sidenav-link-color-hover !default;
$sidenav-link-bg-active: 			$sidenav-link-bg-hover !default;




// Tab
//-------------------------------------------------------------\\

$tab-padding-top-normal: 			9px !default;
$tab-padding-bottom-normal: 		7px !default;
$tab-padding-left-normal: 			18px !default;
$tab-padding-right-normal: 			18px !default;

$tab-padding-top-moderate: 			6px !default;
$tab-padding-bottom-moderate: 		6px !default;
$tab-padding-left-moderate: 		10px !default;
$tab-padding-right-moderate: 		10px !default;

$tab-padding-top-light: 			6px !default;
$tab-padding-bottom-light: 			6px !default;
$tab-padding-left-light: 			10px !default;
$tab-padding-right-light: 			0px !default;

$tab-margin-left-normal: 			0 !default;
$tab-margin-left-moderate: 			0 !default;
$tab-margin-right-normal: 			0 !default;
$tab-margin-right-moderate: 		10px !default;

$tab-margin-bottom: 				0px !default;

$tab-font-size-normal: 				15px !default;
$tab-font-size-moderate: 			12px !default;
$tab-font-size-light: 				12px !default;

$tab-font-family: 					$font-family-normal;
$tab-font-weight: 					normal !default;
$tab-text-transform: 				uppercase !default;


// Normal
$tab-bg: 							none !default;
$tab-color: 						$color-white;
$tab-border-top: 	 				none !default;
$tab-border-bottom: 				none !default;
$tab-border-left:  					none !default;
$tab-border-right:  				none !default;

// Hover
$tab-bg-hover: 						none !default;
$tab-color-hover: 					$color-primary !default;
$tab-border-top-hover: 	 			none !default;
$tab-border-bottom-hover: 			none !default;
$tab-border-left-hover:  			none !default;
$tab-border-right-hover:  			none !default;

// Active
$tab-bg-active: 					$tab-bg-hover !default;
$tab-color-active: 					$tab-color-hover !default;
$tab-border-top-active: 	 		$tab-border-top-hover !default;
$tab-border-bottom-active: 			$tab-border-bottom-hover !default;
$tab-border-left-active:  			$tab-border-left-hover !default;
$tab-border-right-active:  			$tab-border-right-hover !default;


// Buttons
//-------------------------------------------------------------\\

// Button paddings / marings styling
$button-padding-top-normal: 		7px !default;
$button-padding-bottom-normal: 		7px !default;
$button-padding-left-normal: 		15px !default;
$button-padding-right-normal: 		15px !default;

$button-padding-top-light: 			6px !default;
$button-padding-bottom-light: 		6px !default;
$button-padding-left-light: 		10px !default;
$button-padding-right-light: 		10px !default;

$button-padding-top-moderate: 		7px !default;
$button-padding-bottom-moderate: 	7px !default;
$button-padding-left-moderate: 		12px !default;
$button-padding-right-moderate: 	12px !default;

$button-padding-top-heavy: 			9px !default;
$button-padding-bottom-heavy: 		9px !default;
$button-padding-left-heavy: 		20px !default;
$button-padding-right-heavy: 		20px !default;

$button-margin-bottom: 				10px !default;

// Button border styling
$button-border: 					none !default;
$button-normal-border:    			1px solid darken($color-gray-lighten, 15%) !default;
$button-border-radius:  			2px !default;

// Button font / colors stlying
$button-font: 						$font-family-normal !default;
$button-color: 						$color-normal !default;
$button-font-weight: 				normal !default;

$button-font-size-normal: 			22px !default;
$button-font-size-light: 			16px !default;
$button-font-size-moderate: 		16px !default;
$button-font-size-heavy: 			24px !default;

$button-min-width: 					auto !default;
$button-arrow-size: 				30px !default;

// Shadow Inset
$button-shadow-inset-color: 		darken($color-primary, 10%) !default;
$button-shadow-inset-opacity: 		0 !default;
$button-shadow-inset-category: 		0 -3px 0px 0 !default; // h-shadow, v-shadow, blur, spread;

// Shadow Outset
$button-shadow-color: 				darken($color-primary, 10%) !default;
$button-shadow-opacity: 			0 !default; // Disable Outset Shadow, by giving 0 opacity;
$button-shadow-category: 			0 0px 5px 0 !default; // h-shadow, v-shadow, blur, spread;


// Button Category
// margin for left aligned.
$button-category-margin-right: 		0px !default;
//margin for center aligned.
$button-category-margin-center: 	0px !default;
//margin for right aligned.
$button-category-margin-left: 		0px !default;


$button-normal-bg: 					$color-gray-lighten !default;
$button-normal-color: 				$color-normal !default;
$button-normal-border-color: 		$color-gray-lighten !default;

$button-primary-bg: 				$color-primary !default;
$button-primary-color: 				$color-white !default;
$button-primary-border-color: 		$color-primary !default;

$button-secondary-bg: 				$color-secondary !default;
$button-secondary-color: 			$color-white !default;
$button-secondary-border-color: 	$color-secondary !default;

$button-tertiary-bg: 				$color-tertiary !default;
$button-tertiary-color: 			$color-normal !default;
$button-tertiary-border-color: 		$color-tertiary !default;

$button-completed-bg: 				$color-completed !default;
$button-completed-color: 			$color-white !default;
$button-completed-border-color: 	$color-completed !default;

$button-error-bg: 					$color-error !default;
$button-error-color: 				$color-white;
$button-error-border-color: 		$color-error !default;



// Dropdown 
//-------------------------------------------------------------\\

$dropdown-padding-top-normal: 			10px !default;
$dropdown-padding-bottom-normal: 		10px !default;
$dropdown-padding-left-normal: 			10px !default;
$dropdown-padding-right-normal: 		10px !default;

$dropdown-padding-top-moderate: 			10px !default;
$dropdown-padding-bottom-moderate: 		10px !default;
$dropdown-padding-left-moderate: 			10px !default;
$dropdown-padding-right-moderate: 		10px !default;

$dropdown-padding-top-light: 			10px !default;
$dropdown-padding-bottom-light: 		10px !default;
$dropdown-padding-left-light: 			10px !default;
$dropdown-padding-right-light: 		10px !default;

$dropdown-position: 			absolute !default;
$dropdown-position-left: 		0 !default;
$dropdown-position-right: 		auto !default;
$dropdown-position-top: 		$nav-link-padding-top-normal * 2 !default;

$dropdown-bg: 					$color-primary !default;
$dropdown-color: 				$color-black !default;

$dropdown-min-width: 			250px !default;

$dropdown-border: 				1px solid $color-gray-lighten !default;
$dropdown-list-border-top: 		inherit !default;
$dropdown-list-border-bottom: 	1px solid $color-gray-lighten !default;



// Tables
//-------------------------------------------------------------\\

// Table padding/margin styling
$table-padding-top-normal: 				10px !default;
$table-padding-bottom-normal: 			10px !default;
$table-padding-left-normal: 			10px !default;
$table-padding-right-normal: 			10px !default;

$table-margin-bottom: 					$global-margin-bottom-normal !default;

// Table basic styling
$table-bg: 								transparent !default;
$table-color: 							inherit !default;

// Table border in between
$table-border-between: 					2px solid $color-white !default;

// Table th/td vertical alignment
$table-vertical-align: 					bottom !default;

// Table th styling
$table-th-bg: 							$color-primary !default;
$table-th-color: 						$color-white !default;
$table-th-font-weight: 					bold !default;

// Table tr odd/even colored styling
$table-row-odd-bg: 						$color-gray-lighten !default;
$table-row-odd-color: 					$color-black !default;
$table-row-even-bg: 					$color-white !default;
$table-row-even-color: 					$color-black !default;

$table-row-even-hover: 					none !default; // darken($table-row-even-bg, 15%)
$table-row-odd-hover: 					none !default; // darken($table-row-odd-bg, 15%)


// Table w/ borders
$table-border-top: 						1px solid darken($color-gray-lighten, 10%) !default;
$table-border-bottom: 					1px solid darken($color-gray-lighten, 10%) !default;
$table-border-left: 					1px solid darken($color-gray-lighten, 10%) !default;
$table-border-right: 					1px solid darken($color-gray-lighten, 10%) !default;


// List
//-------------------------------------------------------------\\

$list-padding-top-normal: 					5px !default;
$list-padding-bottom-normal: 				5px !default;
$list-padding-left-normal: 					0px !default;
$list-padding-right-normal: 				0px !default;

// List margin
$list-container-bottom: 					$global-margin-bottom-normal;

// List border top or bottom.
// Normal is bottom
$list-border-top: 							none !default;
$list-border-bottom: 						1px solid $color-gray !default;

// List combination of border and background
$list-border-bg-top: 						none !default;
$list-border-bg-bottom: 					1px solid $color-white !default;


// List styles, font, color, etc.
$list-line-height: 							$global-line-height-normal;
$list-font-size-normal: 					$global-font-size-normal;
$list-color: 								$text-color !default;

// List to display block / fluid
$list-display: 								normal !default;

// List Indention
$list-indent: 								$global-indent !default;


// List inline styling
$list-inline-margin-right: 					20px !default;



// List with background - all styling
$list-bg-padding-top-normal: 				$list-padding-top-normal !default;
$list-bg-padding-bottom-normal: 			$list-padding-bottom-normal !default;
$list-bg-padding-left-normal: 				10px !default;
$list-bg-padding-right-normal: 				10px !default;

// List with background - background
$list-bg-bg: 								$color-gray-lighten !default;
$list-bg-bg-hover: 							$color-primary !default;
$list-bg-color: 							$color-normal !default;
$list-bg-color-hover: 						$color-white !default;
$list-bg-bg-active: 						$list-bg-bg-hover !default;
$list-bg-color-active: 						$list-bg-color-hover !default;

// List arrow styling 
$list-arrow-color: 							$color-normal !default;
$list-arrow-size-normal: 					4px !default;
$list-arrow-size-moderate: 					4px !default;
$list-arrow-size-light: 					4px !default;
$list-arrow-indent: 						$list-bg-padding-left-normal + $list-arrow-size-normal - 1 !default;
$list-arrow-position-top: 					$list-padding-top-normal + $list-arrow-size-normal + 2 !default;

$list-bullet-color: 						$color-primary !default;
$list-bullet-font-size: 					18px !default;
$list-bullet-line-height: 					1.25 !default;
$list-bullet-padding-left: 					$list-bg-padding-left-normal !default;
$list-bullet-position-top: 					$list-padding-top-normal !default;



$dt-font-weight: 							bold !default;
$dt-font-size-normal:						$global-font-size-normal !default; 
$dt-dd-margi-bottom: 						10px !default;
$dt-color: 									$color-normal !default;



// Form 
//-------------------------------------------------------------\\

$input-padding-top-normal: 			9px !default;
$input-padding-bottom-normal: 		7px !default;
$input-padding-left-normal: 		10px !default;
$input-padding-right-normal: 		10px !default;

$input-padding-top-moderate: 		7px !default;
$input-padding-bottom-moderate: 	7px !default;
$input-padding-left-moderate: 		10px !default;
$input-padding-right-moderate: 		10px !default;

$input-padding-top-light: 			7px !default;
$input-padding-bottom-light: 		7px !default;
$input-padding-left-light: 			10px !default;
$input-padding-right-light: 		10px !default;

$input-bg: 							$color-white !default;
$input-border: 						1px solid darken($color-gray-lighten, 10%);
$input-border-radius:  				0px !default;
$input-placehoder: 					#998a87 !default;
$input-color:          				#998a87 !default;

// Shadow Inset
$input-shadow-inset-color: 			$color-black !default;
$input-shadow-inset-opacity: 		0.6 !default;
$input-shadow-inset-category: 		1px 1px 2px 0px !default; // h-shadow, v-shadow, blur, spread;

// Shadow Outset
$input-shadow-color: 				darken($color-gray, 10%) !default;
$input-shadow-opacity: 				0 !default; // Disable Outset Shadow, by giving 0 opacity;
$input-shadow-category: 			0 1px 2px 0 !default; // h-shadow, v-shadow, blur, spread;

// Input Focus
$input-shadow-color-focus: 			$color-primary !default;


$input-font-size-normal: 			16px !default;
$input-font-size-moderate: 			14px !default;
$input-font-size-light: 			13px !default;

$input-height-normal: 				floor(($input-padding-top-normal + $input-padding-bottom-normal) + ($input-font-size-normal * $global-line-height-normal) + 2) !default;
$input-font-family: 				$font-family-normal !default;

$input-transform: 					none !default;
$input-font-weight: 				normal !default;

$input-margin-bottom: 				6px !default;

$form-margin-bottom: 				14px !default;


$select-color: 					#7f7f7f !default;

$label-font-family: 			$font-family-normal !default;
$label-margin-bottom: 			2px !default;
$label-font-size: 				13px !default;

$label-font-weight: 			bold !default;


// Input Category

$input-category-label-bg: 			$color-primary !default;
$input-category-label-color: 		$color-white !default;
$input-category-label-border: 		1px solid transparent !default;



// Images
//-------------------------------------------------------------\\

$image-margin-bottom: 						$global-margin-bottom-normal !default;

$image-border:  							1px solid darken($color-gray-lighten, 10%) !default;

// Image Banner
$image-banner-margin-bottom: 				$image-margin-bottom !default;

// Image Curve
$image-border-radius: 						$global-border-radius-normal !default; 

// Image Thumbnail
$image-thumbnail-border: 					$image-border !default;
$image-thumbnail-bg: 						$color-white !default;
$image-thumbnail-padding: 					5px !default;

// Image Sizes - light, moderate, normal, heavy
$image-size-light: 								25% !default;
$image-size-moderate: 							40% !default;
$image-size-normal: 							60% !default;
$image-size-heavy: 								80% !default;



// Banners
//-------------------------------------------------------------\\

// Banner Content padding styling
$banner-content-padding-top-normal: 			15px !default;
$banner-content-padding-right-normal: 			15px !default;
$banner-content-padding-bottom-normal: 			15px !default;
$banner-content-padding-left-normal: 			15px !default;

$banner-content-padding-top-moderate: 			inherit !default;
$banner-content-padding-right-moderate: 		inherit !default;
$banner-content-padding-bottom-moderate: 		inherit !default;
$banner-content-padding-left-moderate: 			inherit !default;

$banner-content-padding-top-light: 				inherit !default;
$banner-content-padding-right-light: 			inherit !default;
$banner-content-padding-bottom-light: 			inherit !default;
$banner-content-padding-left-light: 			inherit !default;

$banner-content-padding-top-heavy: 				inherit !default;
$banner-content-padding-right-heavy: 			inherit !default;
$banner-content-padding-bottom-heavy: 			inherit !default;
$banner-content-padding-left-heavy: 			inherit !default;

// Ribbon styling
$banner-ribbon-bg: 								$color-primary !default;
$banner-ribbon-color: 							$color-white !default;

// Tag styling
$banner-tag-bg: 								$color-primary !default;
$banner-tag-color: 								$color-white !default;
$banner-tag-offset: 							20px !default; // Position top/bottom offset.

// Caption padding styling
$banner-caption-padding-top-normal: 			15px !default;
$banner-caption-padding-right-normal: 			15px !default;
$banner-caption-padding-bottom-normal: 			15px !default;
$banner-caption-padding-left-normal: 			15px !default;

$banner-caption-padding-top-moderate: 			inherit !default;
$banner-caption-padding-right-moderate: 		inherit !default;
$banner-caption-padding-bottom-moderate: 		inherit !default;
$banner-caption-padding-left-moderate: 			inherit !default;

$banner-caption-padding-top-light: 				inherit !default;
$banner-caption-padding-right-light: 			inherit !default;
$banner-caption-padding-bottom-light: 			inherit !default;
$banner-caption-padding-left-light: 			inherit !default;

$banner-caption-padding-top-heavy: 				inherit !default;
$banner-caption-padding-right-heavy: 			inherit !default;
$banner-caption-padding-bottom-heavy: 			inherit !default;
$banner-caption-padding-left-heavy: 			inherit !default;

// Caption positioning
$banner-caption-position: 						absolute !default;
$banner-caption-position-top: 					auto !default;  // value "auto" needed if you want to position to bottom.
$banner-caption-position-bottom: 				0 !default; // value "auto" needed if you want to position to top.

// Caption styling - background, color, etc.
$banner-caption-bg: 							$color-tertiary !default; // rgba($color-primary, 0.5) - for transparent bg.
$banner-caption-color: 							$color-normal !default;
$banner-caption-link-color: 					$text-link !default;


// Hero
//-------------------------------------------------------------\\

$hero-bg:   									$color-gray-lighten !default;
$hero-border:   								0px solid #000000 !default;
$hero-shadow: 									$color-black !default;
$hero-shadow-opacity: 							0 !default;
$hero-shadow-category: 							3px 6px 13px 0px !default; // h-shadow, v-shadow, blur, spread;

$hero-padding-top-normal: 						0px !default;
$hero-padding-bottom-normal: 					0px !default;
$hero-padding-left-normal: 						0px !default;
$hero-padding-right-normal: 					0px !default;

$hero-color: 									$color-normal !default;
$hero-font-size: 								14px !default;

$hero-image-height-normal: 						400px !default;
$hero-image-height-moderate: 					300px !default;
$hero-image-height-light: 						200px !default;

$hero-image-border: 							0px solid $color-black !default;

$hero-content-padding-top-normal: 		    	45px !default;
$hero-content-padding-right-normal: 		    45px !default;
$hero-content-padding-bottom-normal: 		    45px !default;
$hero-content-padding-left-normal: 		    	45px !default;

$hero-content-padding-top-moderate: 		    14px !default;
$hero-content-padding-right-moderate: 		    14px !default;
$hero-content-padding-bottom-moderate: 		    14px !default;
$hero-content-padding-left-moderate: 		    14px !default;

$hero-content-padding-top-light: 		    	10px !default;
$hero-content-padding-right-light: 		    	10px !default;
$hero-content-padding-bottom-light: 		    10px !default;
$hero-content-padding-left-light: 		    	10px !default;


// Hero Content styling
$hero-content-bg: 								none !default;
$hero-content-color: 							$color-normal !default;



// Hero Image Styling
$hero-image-bg: 								rgba($color-tertiary, 0.5) !default;

$hero-image-padding-top-normal: 		    	15px !default;
$hero-image-padding-right-normal: 		    	15px !default;
$hero-image-padding-bottom-normal: 		    	20px !default;
$hero-image-padding-left-normal: 		    	20px !default;



// Icons
//-------------------------------------------------------------\\

$icon-bar-color: 						$color-tertiary !default;

// Icon in left position - margin right
$icon-margin: 							3px !default;


// Panels
//-------------------------------------------------------------\\

// Panel margin bottom
$panel-margin-bottom: 							$global-margin-bottom-normal !default;
$panel-border-radius: 							$global-border-radius-normal !default;

// Panel Top padding - adjustable top / right / bottom / left.
$panel-top-padding-top-normal: 					$global-padding-top-normal !default;
$panel-top-padding-bottom-normal: 				$global-padding-bottom-normal !default;
$panel-top-padding-left-normal: 				$global-padding-left-normal !default;
$panel-top-padding-right-normal: 				$global-padding-right-normal !default;

$panel-top-padding-top-moderate: 				$global-padding-top-moderate !default;
$panel-top-padding-bottom-moderate: 			$global-padding-bottom-normal !default;
$panel-top-padding-left-moderate: 				$global-padding-left-moderate !default;
$panel-top-padding-right-moderate: 				$global-padding-right-moderate !default;

$panel-top-padding-top-light: 					$global-padding-top-light !default;
$panel-top-padding-bottom-light: 				$global-padding-bottom-light !default;
$panel-top-padding-left-light: 					$global-padding-left-light !default;
$panel-top-padding-right-light: 				$global-padding-right-light !default;

// Panel Top styling.
$panel-top-bg: 									$color-primary !default;
$panel-top-color: 								$color-white !default;
$panel-top-border-radius: 						$global-border-radius-normal !default;
$panel-top-border: 								0 !default;


// Panel Content padding - adjustable top / right / bottom / left.
$panel-content-padding-top-normal: 				20px !default;
$panel-content-padding-bottom-normal: 			20px !default;
$panel-content-padding-left-normal: 			$global-padding-left-normal !default;
$panel-content-padding-right-normal: 			$global-padding-right-normal !default;

$panel-content-padding-top-moderate: 				25px !default;
$panel-content-padding-bottom-moderate: 			25px !default;
$panel-content-padding-left-moderate: 			$global-padding-left-moderate !default;
$panel-content-padding-right-moderate: 			$global-padding-right-moderate !default;

$panel-content-padding-top-light: 				25px !default;
$panel-content-padding-bottom-light: 			25px !default;
$panel-content-padding-left-light: 				$global-padding-left-light !default;
$panel-content-padding-right-light: 			$global-padding-right-light !default;

// Panel Content background / color
$panel-content-bg: 								transparent !default;
$panel-content-color: 							inherit !default;

$panel-content-border: 							1px solid $color-tertiary !default;
$panel-content-border-radius: 					0 !default;
$panel-content-border-radius-bottom: 			0 !default;


// Panel Bottom padding - adjustable top / right / bottom / left.
$panel-bottom-padding-top-normal: 				$panel-top-padding-top-normal !default;
$panel-bottom-padding-bottom-normal: 			$panel-top-padding-bottom-normal !default;
$panel-bottom-padding-left-normal: 				$panel-top-padding-left-normal !default;
$panel-bottom-padding-right-normal: 			$panel-top-padding-right-normal !default;

$panel-bottom-padding-top-moderate: 			$panel-top-padding-top-moderate !default;
$panel-bottom-padding-bottom-moderate: 			$panel-top-padding-bottom-moderate !default;
$panel-bottom-padding-left-moderate: 			$panel-top-padding-left-moderate !default;
$panel-bottom-padding-right-moderate: 			$panel-top-padding-right-moderate !default;

$panel-bottom-padding-top-light: 				$panel-top-padding-top-light !default;
$panel-bottom-padding-bottom-light: 			$panel-top-padding-bottom-light !default;
$panel-bottom-padding-left-light: 				$panel-top-padding-left-light !default;
$panel-bottom-padding-right-light: 				$panel-top-padding-right-light !default;

$panel-bottom-bg: 								$color-primary !default;
$panel-bottom-color: 							$color-white !default;
$panel-bottom-border-radius: 					$global-border-radius-normal !default;


// Panel with Images margins ".left/.right/"
$panel-margin-left: 			15px !default;
$panel-margin-right: 			15px !default;



// Articles
//-------------------------------------------------------------\\

// Article margin bottom
$article-margin-bottom: 		$global-margin-bottom-normal !default;


// Article heading padding - adjustable top, right, bottom, left
$article-top-padding-top-normal: 			10px !default;
$article-top-padding-bottom-normal: 		10px !default;
$article-top-padding-left-normal: 			10px !default;
$article-top-padding-right-normal: 			10px !default;

// Article heading padding for tablet
$article-top-padding-top-moderate: 			10px !default;
$article-top-padding-bottom-moderate: 		10px !default;
$article-top-padding-left-moderate: 		10px !default;
$article-top-padding-right-moderate: 		10px !default;

// Article heading padding for mobile
$article-top-padding-top-light: 			10px !default;
$article-top-padding-bottom-light: 			10px !default;
$article-top-padding-left-light: 			10px !default;
$article-top-padding-right-light: 			10px !default;

$article-top-bg: 							none !default;
$article-top-color: 						inherit !default;


// Article content padding - adjustable top, right, bottom, left
$article-content-padding-top-normal: 			0px !default;
$article-content-padding-bottom-normal: 		0px !default;
$article-content-padding-left-normal: 			0px !default;
$article-content-padding-right-normal: 			0px !default;

// Article content padding for tablet
$article-content-padding-top-moderate: 			10px !default;
$article-content-padding-bottom-moderate: 		10px !default;
$article-content-padding-left-moderate: 		10px !default;
$article-content-padding-right-moderate: 		10px !default;

// Article content padding for mobile
$article-content-padding-top-light: 			10px !default;
$article-content-padding-bottom-light: 			10px !default;
$article-content-padding-left-light: 			10px !default;
$article-content-padding-right-light: 			10px !default;


// Article caption padding - adjustable top / right / bottom / left.
$article-caption-padding-top-normal: 			10px !default;
$article-caption-padding-bottom-normal: 		10px !default;
$article-caption-padding-left-normal: 			10px !default;
$article-caption-padding-right-normal: 			10px !default;

// Article caption padding for tablet
$article-caption-padding-top-moderate: 			10px !default;
$article-caption-padding-bottom-moderate: 		10px !default;
$article-caption-padding-left-moderate: 			10px !default;
$article-caption-padding-right-moderate: 			10px !default;

// Article caption padding for tablet
$article-caption-padding-top-light: 			10px !default;
$article-caption-padding-bottom-light: 		10px !default;
$article-caption-padding-left-light: 			10px !default;
$article-caption-padding-right-light: 			10px !default;

// Article caption position - adjustable top / bottom.
$article-caption-top: 			auto !default;
$article-caption-bottom: 		0 !default;
$article-caption-color: 		$color-white;
$article-caption-align: 		center !default;


// Margin for ".left/.right/".
$article-margin-left: 			15px !default;
$article-margin-right: 			15px !default;


// Article Date styling
$article-date-color: 							$color-primary !default;
$article-date-font-size: 						14px !default;			


// Article Tag Styling
$article-tag-border: 							1px solid darken($color-gray-lighten, 10%);

$article-tag-padding-top-normal: 				10px !default;
$article-tag-padding-bottom-normal: 			10px !default;
$article-tag-padding-left-normal: 				10px !default;
$article-tag-padding-right-normal: 				10px !default;



// Blocks
//-------------------------------------------------------------\\

// Block Container Padding - adjustable top / bottom
$block-padding-top-normal: 				20px !default;
$block-padding-bottom-normal: 			40px !default;

$block-padding-top-moderate: 			20px !default;
$block-padding-bottom-moderate: 		20px !default;

$block-padding-top-light: 				20px !default;
$block-padding-bottom-light: 			20px !default;


// BLock Container Margin
$block-margin-bottom-normal: 			$global-margin-bottom-normal !default;
$block-margin-bottom-moderate: 			0px !default;
$block-margin-bottom-light: 			0px !default;


// Block Content Padding - left / right
$block-content-padding-left: 			20px !default;
$block-content-padding-right: 			20px !default;




// Block Border styling
$block-border-bottom: 					1px solid $color-tertiary !default; //1px solid darken($color-gray-lighten, 10%)



// Details 
//-------------------------------------------------------------\\

$details-padding-right: 				15px !default;
$details-padding-left: 					15px !default;



// Header
//-------------------------------------------------------------\\

$header-margin-bottom: 					0px !default;

// Header Logo styling
$header-logo-color: 					$color-white !default;
$header-logo-font-size: 				24px !default;


// Footer
//-------------------------------------------------------------\\


// Footer padding.
$footer-content-padding-top-normal: 		6px !default;
$footer-content-padding-bottom-normal: 		6px !default;
$footer-content-padding-left-normal: 		0px !default;
$footer-content-padding-right-normal: 		0px !default;

// Footer styling.
$footer-color: 								#6b7986 !default;

// Footer Content
$footer-content-bg: 						#e8ddd6 !default;


// Footer Nav
$footernav-margin-top-normal: 				6px !default;
$footernav-margin-bottom-normal: 			0 !default;
$footernav-margin-right-normal: 			0 !default;
$footernav-margin-left-normal: 				0 !default;

$footernav-color: 							#373636 !default;
$footernav-font-size: 						14px !default;
$footernav-font-family: 					$font-family-normal !default;

$footernav-list-margin-right: 				25px !default;
$footernav-list-margin-left: 				0px !default;

$footernav-link-color: 						$color-white !default;

$footernav-link-color-hover: 				$color-primary !default;

$footernav-link-color-active: 				$footernav-link-color-hover !default;




// Grid Layout
//-------------------------------------------------------------\\


// Grid cell padding - you can choose whether border in between, or all sides.
$grid-cell-border-between: 				1px solid darken($color-gray-lighten, 10%); // In between border


$grid-cell-bg: 							$color-primary !default;
$grid-cell-color: 						$color-white !default;
$grid-cell-link-color: 					$color-tertiary !default;

$grid-cell-padding-top-normal: 			20px !default;
$grid-cell-padding-bottom-normal: 		20px !default;
$grid-cell-padding-left-normal: 		20px !default;
$grid-cell-padding-right-normal: 		20px !default;


// Grid off borders. 
$grid-off-border-width: 				1px !default;
$grid-off-border-bg: 					darken($color-gray-lighten, 10%) !default;

// Grid content padding - adjustable top / right / bottom / left.
$grid-content-padding-top-normal: 		25px !default;
$grid-content-padding-bottom-normal: 	25px !default;
$grid-content-padding-left-normal: 		25px !default;
$grid-content-padding-right-normal: 	25px !default;

// Grid content styling
$grid-content-bg: 						none !default;
$grid-content-color: 					inherit !default;
$grid-content-border-bg: 				$grid-off-border-bg !default;


// Gutter
//-------------------------------------------------------------\\

// Gutter for specific spacing
$grid-gutter-normal:  				20px !default;
$grid-gutter-light:  				10px !default;
$grid-gutter-moderate:  			14px !default;
$grid-gutter-heavy: 				30px !default;


// Mobile Grid Control
$grid-container-row-light: 			$grid-gutter-normal !default;

// Mobile Margin bottom
$grid-margin-bottom-light: 			10px !default;




// Container
//-------------------------------------------------------------\\

$container-moderate:  			((720px + $grid-gutter-normal)) !default;
$container-normal:  			((940px + $grid-gutter-normal)) !default;
$container-heavy:  				((940px + $grid-gutter-normal)) !default;



// Breakpoints 
//-------------------------------------------------------------\\

$grid-light: 						767px !default;
$grid-moderate: 					768px !default;
$grid-normal: 						1025px !default;
$grid-heavy: 						1200px !default;