// ------------------------------------------------------------\\
//  OVERRIDE Styles here. All Components, Modules, etc.                                                
// ------------------------------------------------------------\\


// Base
//-------------------------------------------------------------\\

body {
	background: url(../images/body-bg.png) 0 0 repeat;
}

html, body {
  height: 100%;
}

.wrapper {
	background: url(../images/wrapper-bg.jpg) 50% 0 no-repeat;
	min-height: 768px;
	padding-bottom: 50px;
}

hr {
    @include text-shadow(rgba(black, 0.4) 1px 1px 0);
    &:last-child {
        margin-bottom: 0;
    }
}



// Typography
//-------------------------------------------------------------\\
@import url(http://fonts.googleapis.com/css?family=Satisfy);
/*
@font-face {
    font-family: 'proxima_nova';
    src: url(../../fonts/proximanovaexcn-semibold-webfont.eot');
    src: url('../../fonts/proximanovaexcn-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/proximanovaexcn-semibold-webfont.woff') format('woff'),
         url('../../fonts/proximanovaexcn-semibold-webfont.ttf') format('truetype'),
         url('../.../fonts/proximanovaexcn-semibold-webfont.svg#proxima_nova_extra_condensSBd') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/

h1 {
	@include text-shadow(rgba(black, 0.4) 1px 1px 0);
	position: relative;
	letter-spacing: 6px;
	text-transform: uppercase;
	.dot {
		position: relative;
		top: -9px;
	}
	&:after {
		
	}
}

h2 {
	@include text-shadow(rgba(black, 0.4) 1px 1px 0);
	position: relative;
	letter-spacing: 4px;
	text-transform: uppercase;
	.dot {
		position: relative;
		top: -7px;
	}
}

.sub-title {
	font-family: 'Satisfy', cursive;
	color: darken($color-tertiary, 3%);
	font-size: 18px;
	@include text-shadow(rgba(black, 0.3) 0px 1px 0);
	line-height: 1;
}


// Buttons
//-------------------------------------------------------------\\


.button.primary {
	background-color: #0092d1; // Old browsers
	@include filter-gradient(#0092d1, #0081b9, vertical); // IE6-9
	@include background-image(linear-gradient(top,  #0092d1 0%,#0090cf 47%,#0084bd 81%,#0081b9 100%));
	padding: 2px;
	@include box-shadow(rgba(#000000, 0.3) 0 0 3px 1px);
	letter-spacing: 3px;
	.dot {
		position: relative;
		top: -4px;
	}
	&:hover {
		background: none;
		background-color: #12729b;
	}
	span {
		border: 1px solid #5db1d4;
	}
}

.button {
	text-transform: uppercase;
	span {
		display: block;
		padding: 5px 10px;
	}
}

.button.secondary {
	background-color: #df4a5d; // Old browsers
	@include filter-gradient(#df4a5d, #c74253, vertical); // IE6-9
	@include background-image(linear-gradient(top,  #df4a5d 0%,#df4a5d 52%,#dc495c 69%,#c84254 95%,#c74253 100%));
	padding: 2px;
	@include box-shadow(rgba(#000000, 0.3) 0 0 3px 1px);
	letter-spacing: 3px;
	.dot {
		position: relative;
		top: -6px;
	}
	&:hover {
		background: none;
		background-color: #ad3a49;
	}
	span {
		border: 1px solid #e37785;
		padding: 5px 15px;
	}
}


// Nav
//-------------------------------------------------------------\\


// Form 
//-------------------------------------------------------------\\

.input-text {
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.select-box {
	&:after {
		content: '';
		background: url(../images/select-btn.png) 0 0 no-repeat;
		background-size: 33px 33px;
		width: 33px;
		height: 33px;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.iradio {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(../images/radio-box.png) 0 0 no-repeat;
    background-size: 20px 40px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    float: left;
    margin-top: -3px;
}

.iradio {
    background-position: 0 0;
}
.iradio.checked {
    background-position: 0px -20px;
    cursor: default;
}

.terms {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.underline {
	text-decoration: underline;
}
a.underline {
	&:hover {
		text-decoration: none;
	}
}

// List 
//-------------------------------------------------------------\\


// Bar 
//-------------------------------------------------------------\\


// Hero
//-------------------------------------------------------------\\

.tabs {
	letter-spacing: 2px;
	li {
		a {
			@include box-shadow(rgba(black, 0.5) 0 0 8px 0px inset);
			background-color: #e8ddd6;
			color: #7e6d6b;
			min-width: 90px;
		}
		a:hover {
			color: #ffffff;
			background-color: #007baf; 
			@include filter-gradient(#007baf, #007fb5, vertical); 
			@include background-image(linear-gradient(top,  #007baf 0%,#0086bf 14%,#008ac4 27%,#008ac4 77%,#0086be 91%,#007fb5 100%));
		}
	}
	li.active {
		a {
			color: #ffffff;
			background-color: #007baf; 
			@include filter-gradient(#007baf, #007fb5, vertical); 
			@include background-image(linear-gradient(top,  #007baf 0%,#0086bf 14%,#008ac4 27%,#008ac4 77%,#0086be 91%,#007fb5 100%));
		}
	}
}


// Icons 
//-------------------------------------------------------------\\


.icon-guitar {
	background: url(../images/icons/icon-guitar.png) 0 0 no-repeat;
	background-size: 70px 66px;
	width: 70px;
	height: 66px;
}

.icon-drum {
	background: url(../images/icons/icon-drum.png) 0 0 no-repeat;
	background-size: 36px 40px;
	width: 36px;
	height: 40px;
}

.icon-maracas {
	background: url(../images/icons/icon-maracas.png) 0 0 no-repeat;
	background-size: 46px 58px;
	width: 46px;
	height: 58px;
}

.icon-drum {
	background: url(../images/icons/icon-drum.png) 0 0 no-repeat;
	background-size: 36px 40px;
	width: 36px;
	height: 40px;
}

.icon-mic {
	background: url(../images/icons/icon-mic.png) 0 0 no-repeat;
	background-size: 27px 62px;
	width: 27px;
	height: 62px;
}

.icon-violin {
	background: url(../images/icons/icon-violin.png) 0 0 no-repeat;
	background-size: 59px 69px;
	width: 59px;
	height: 69px;
}

.icon-trumpet {
	background: url(../images/icons/icon-trumpet.png) 0 0 no-repeat;
	background-size: 77px 54px;
	width: 77px;
	height: 54px;
}

.icon-sax {
	background: url(../images/icons/icon-sax.png) 0 0 no-repeat;
	background-size: 65px 69px;
	width: 65px;
	height: 69px;
}

.icon-recorder {
	background: url(../images/icons/icon-recorder.png) 0 0 no-repeat;
	background-size: 46px 66px;
	width: 46px;
	height: 66px;
}

.icon-bong {
	background: url(../images/icons/icon-bong.png) 0 0 no-repeat;
	background-size: 51px 50px;
	width: 51px;
	height: 50px;
}

.icon-percussion {
	background: url(../images/icons/icon-percussion.png) 0 0 no-repeat;
	background-size: 49px 49px;
	width: 49px;
	height: 49px;
}

.icon-snare {
	background: url(../images/icons/icon-snare.png) 0 0 no-repeat;
	background-size: 48px 40px;
	width: 48px;
	height: 40px;
}

.icon-shaker {
	background: url(../images/icons/icon-shaker.png) 0 0 no-repeat;
	background-size: 48px 31px;
	width: 48px;
	height: 31px;
}




// Header
//-------------------------------------------------------------\\

.header {
	background: url(../images/header-bg.png) 0 0 no-repeat;
	width: 602px;
	height: 143px;
	margin:42px auto 11px auto;
	text-align: center;
}

.header-logo {
	background: url(../images/logo.png) 0 0 no-repeat;
	width: 92px;
	height: 83px;
	text-indent: -99999px;
	display: block;
	float: none;
	margin:0 auto;
	position: relative;
	top: -3px;
	left: 2px;
}

// Main
//-------------------------------------------------------------\\


.main-content {
	text-align: center;
	display: block;
}


// Instructions

.instructions {

}

.instruction-icons {
	padding-top: 7px;
	margin-bottom: 1px;
	ul {
		font-size: 0;
	}
	.plus {
		font-size: 40px;
		color: $color-tertiary;
		@include text-shadow(rgba(black, 0.3) 0px 1px 0);
	}
	.icon {
		@include transition-property(all);
        @include transition-duration(.2s);
        @include transition-timing-function(ease-out);
	}
	li {
		display: inline-block;
		vertical-align: top;
		line-height: 65px;
		margin-left: 7px;
		margin-right: 7px;
		&:hover {
			.icon {
				@include scale(1.3);
			}
		}
	}
	.icon-guitar {
		position: relative;
		top: -15px;
		right: -15px;
	}
	.icon-drum {
		position: relative;
		top: 3px;
	}
	.icon-maracas {
		position: relative;
		top: -5px;
	}
	.icon-mic {
		position: relative;
		top: -5px;
		left: 2px;
	}
}


// Player Box


.landing {
	.record-player {
		margin-top: 0;
	}
}

.record-player {
	width: 289px;
	margin:68px auto 10px auto;
	position: relative;
	.base {
		background: url(../images/player_parts/base.png) 0 0 no-repeat;
		background-size: 289px 289px;
		width: 289px;
		height: 289px;
		padding: 9px;
		position: relative;
		z-index: 2;
	}
	.effect-ring {
		background: url(../images/player_parts/effect-ring.png) 0 0 no-repeat;
		background-size: 270px 270px;
		width: 270px;
		height: 270px;
		position: absolute;
		left: 10px;
		top: 10px;
		z-index: 3;
	}
	.effect-ring-blue {
		background: url(../images/player_parts/effect-ring-blue.png) 0 0 no-repeat;
		background-size: 270px 270px;
		width: 270px;
		height: 270px;
		position: absolute;
		left: 10px;
		top: 10px;
		z-index: 3;
	}
	.beats-ring {
		background: url(../images/player_parts/beats-ring.png) 0 0 no-repeat;
		background-size: 231px 231px;
		width: 231px;
		height: 231px;
		position: absolute;
		left: 30px;
		top: 30px;
		z-index: 4;
	}
	.beats-ring-blue {
		background: url(../images/player_parts/beats-ring-blue.png) 0 0 no-repeat;
		background-size: 231px 231px;
		width: 231px;
		height: 231px;
		position: absolute;
		left: 30px;
		top: 30px;
		z-index: 4;
	}
	.melody-ring {
		background: url(../images/player_parts/melody-ring.png) 0 0 no-repeat;
		background-size: 184px 184px;
		width: 184px;
		height: 184px;
		position: absolute;
		left: 53px;
		top: 53px;
		z-index: 5;
	}
	.melody-ring-blue {
		background: url(../images/player_parts/melody-ring-blue.png) 0 0 no-repeat;
		background-size: 184px 184px;
		width: 184px;
		height: 184px;
		position: absolute;
		left: 53px;
		top: 53px;
		z-index: 5;
	}
	.outer-label {
		background: url(../images/player_parts/outer-label-bg.png) 0 0 no-repeat;
		background-size: 140px 140px;
		width: 140px;
		height: 140px;
		position: absolute;
		left: 76px;
		top: 74px;
	}
	.inner-label {
		background: url(../images/player_parts/inner-label-bg.png) 0 0 no-repeat;
		background-size: 140px 140px;
		width: 140px;
		height: 140px;
		position: absolute;
		left: 76px;
		top: 74px;
		display: block;
		z-index: 6;
		text-align: center;
		color: #ffffff;
		.inner-label-details {
			position: relative;
			width: 140px;
			height: 140px;
		}
		.label-top {
			position: absolute;
			top: 15px;
			left: 0;
			width: 100%;
			.bend {
				line-height: 1;
				color: #ffffff;
				font-size: 13px;
				span {
					color: #ffffff;
					line-height: normal;
				}
			}
		}
		.label-bottom {
			position: absolute;
			bottom: 20px;
			left: 0;
			width: 100%;
			text-align: center;
			span {
				display: block;
			}
		}
		.desc {
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 11px;
		}
		.logo {
			background: url(../images/logo.png) 0 0 no-repeat;
			background-size: 44px 40px;
			width: 44px;
			height: 40px;
			margin:0 auto;
		}
		.name {
			font-family: 'Satisfy', cursive;
			font-size: 18px;
			letter-spacing: normal !important;
			line-height: 1;
		}
		.dot {
			position: relative;
			top: -3px;

		}
	}
	.needle {
		background: url(../images/player_parts/needle.png) 0 0 no-repeat;
		width: 124px;
		height: 211px;
		position: absolute;
		right: -15px;
		top: 1px;
		z-index: 7;
	}
	.play-btn {
		background-color: #0092d1; // Old browsers
		@include filter-gradient(#0092d1, #0081b9, vertical); // IE6-9
		@include background-image(linear-gradient(top,  #0092d1 0%,#0090cf 47%,#0084bd 81%,#0081b9 100%));
		padding: 2px;
		@include box-shadow(rgba(#000000, 0.3) 0 0 3px 1px);
		letter-spacing: 3px;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		position: absolute;
		right: -30px;
		top: 65px;
		z-index: 8;
		@include transition-property(background-color);
	    @include transition-duration(.4s);
	    @include transition-timing-function(ease-out);
		&:hover {
			background: none;
			background-color: #12729b;
		}
		span {
			border: 1px solid #5db1d4;
			display: block;
			width: 36px;
			height: 36px;
			background: url(../images/player_parts/play-btn.png) 53% 50% no-repeat;
			background-size: 14px 18px;
			border-radius: 50%;
		}
	}
}

.filler-1 {
	background: url(../images/filler1.png) 0 0 no-repeat;
	background-size: 119px 138px;
	width: 119px;
	height: 138px;
	position: absolute;
	top: -65px;
	right: 0;
	z-index: 1;
}

.filler-2 {
	background: url(../images/filler2.png) 0 0 no-repeat;
	background-size: 182px 199px;
	width: 182px;
	height: 199px;
	position: absolute;
	bottom:-5px;
	left: -90px;
	z-index: 1;
}

.filler-3 {
	background: url(../images/filler3.png) 0 0 no-repeat;
	background-size: 103px 83px;
	width: 103px;
	height: 83px;
	position: absolute;
	bottom:35px;
	right: -25px;
	z-index: 1;
}

.filler-4 {
	background: url(../images/filler4.png) 0 0 no-repeat;
	background-size: 55px 109px;
	width: 55px;
	height: 109px;
	position: absolute;
	top: 27px;
	left: 0px;
	z-index: 1;
}

.filler-5 {
	background: url(../images/filler5.png) 0 0 no-repeat;
	background-size: 93px 92px;
	width: 93px;
	height: 92px;
	position: absolute;
	top: -44px;
	left: 85px;
	z-index: 1;
}

.filler-6 {
	background: url(../images/filler6.png) 0 0 no-repeat;
	background-size: 29px 61px;
	width: 29px;
	height: 61px;
	position: absolute;
	top: 121px;
	right: -44px;
	z-index: 1;
}

.filler-7 {
	background: url(../images/filler7.png) 0 0 no-repeat;
	background-size: 42px 33px;
	width: 42px;
	height: 33px;
	position: absolute;
	bottom: -5px;
	right: 53px;
	z-index: 1;
}

.filler-8 {
	background: url(../images/filler8.png) 0 0 no-repeat;
	background-size: 35px 69px;
	width: 35px;
	height: 69px;
	position: absolute;
	top: 25px;
	left: -47px;
	z-index: 1;
}



.circle {
	width: 65px;
	height: 65px;
	background-color: #c7beb3;
	display: inline-block;
	border-radius: 50%;
	@include box-shadow(rgba(black, 0.1) 2px 2px 4px 0px inset);
	@include transition-property(background-color);
    @include transition-duration(.3s);
    @include transition-timing-function(ease-out);
    position: relative;
}


// Icon Nav

.icon-nav {
	margin-bottom: 30px !important;
	li {
		display: inline-block;
		vertical-align: top;
		margin-left: 29px;
		margin-right: 29px;
		cursor: pointer;
		.icon {
			@include transition-property(all);
	        @include transition-duration(.2s);
	        @include transition-timing-function(ease-out);
		}
	}
	li:hover {
		.circle {
			background-color: $color-primary;
		}
		.icon {
			@include scale(1.3);
		}
	}
	li.active {
		.circle {
			background-color: $color-primary;
		}
	}
	.icon-guitar {
		background-size: 87px 83px;
		width: 87px;
		height: 83px;
		position: absolute;
		top: -26px;
		left: 10px;
	}
	.icon-violin {
		position: absolute;
		top: -10px;
		left: 0;
	}
	.icon-trumpet {
		position: absolute;
		top: -3px;
		left: 5px;
	}
	.icon-sax {
		position: absolute;
		left: -16px;
		top: -6px;
	}
	.icon-recorder {
		position: absolute;
		left: 9px;
		top: -4px;
	}
	.icon-bong {
		position: relative;
		top: 8px;
		left: 3px;
	}
	.icon-drum {
		background-size: 40px 44px;
		width: 40px;
		height: 44px;
		position: relative;
		top: 12px;
		left: 2px;
	}
	.icon-percussion {
		position: relative;
		top: 8px;
		left: 2px;
	}
	.icon-snare {
		position: relative;
		top: 11px;
		left: 2px;
	}
	.icon-shaker {
		position: relative;
		top: 17px;
		left: 1px;
	}
}



// Bottom Nav

.bottom-nav {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	li {
		float: left;
		width: 25%;
		position: relative;
		background: url(../images/triangle-menu.png) 50% 0 no-repeat;
	}
	a {
		display: block;
		height: 57px;
		font-size: 14px;
		padding-top: 30px;
		color: $color-normal;
		background: url(../images/triangle-menu-hover.png) 50% 0px no-repeat;
		@include transition-property(all);
        @include transition-duration(.2s);
        @include transition-timing-function(ease-out);
	}
	li:hover, li.active {
		.circle {
			background: none;
			background-color: #67b2d3;
		}
		.icon {
			@include scale(1.2);
		}
		a {
			background: url(../images/triangle-menu-hover.png) 50% -156px no-repeat;
			text-decoration: none;
			color: $color-white;
		}
	}
	.icon {
		@include transition-property(all);
        @include transition-duration(.2s);
        @include transition-timing-function(ease-out);
	}
	.circle {
		width: 42px;
		height: 42px;
		position: absolute;
		left: 50%;
		top: -18px;
		margin-left: -21px;
		@include transition-property(all);
        @include transition-duration(.2s);
        @include transition-timing-function(ease-out);
	}
	.icon-guitar {
		background-size: 48px 46px;
		position: absolute;
		top: -13px;
		left: 9px;
	}
	.icon-bong {
		background-size: 33px 33px;
		width: 33px;
		height: 33px;
		position: relative;
		left: 2px;
	}
	.icon-mic {
		background-size: 20px 46px;
		width: 20px;
		height: 46px;
		position: relative;
		top: -11px;
		left: 2px;
	}
}


// Rotation

.rotation {
	width: 414px;
	height: 414px;
	position: absolute;
	left: -62px;
	top: -62px;
	.outer {
		background-color: rgba(#ffffff, 0);
		z-index: 10;
		border: 28px solid #ffffff;
		border-radius: 50%;
		width: 100%;
		height: 100%;
		@include box-shadow(rgba(#000000, 0.4) 0 0 20px 0px);
		font-family: 'Satisfy', cursive;
		font-size: 14px;
		.bend {
			line-height: 1;
			font-size: 14px;
			span {
				color: #c0b6a3;
				line-height: normal;
				font-family: 'Satisfy', cursive;
			}
		}
		.left {
			left: -26px;
		}
		.right {
		}
		.top {
			left: 50%;
			@include rotate(180deg);
		}
	}
	.inner {
		position: absolute;
		top: 28px;
		left: 28px;
		background-color: rgba(#ece7df, 0);
		border: 35px solid #ece7df;
		border-radius: 50%;
		width: 358px;
		height: 358px;
		border-left-color: #dfd9ce;
		border-right-color: #dfd9ce;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 1px;
		.bend {
			line-height: 1;
			font-size: 14px;
			span {
				color: #7e6d6b;
				line-height: normal;
			}
		}
		.top {
			width: 100%;
			text-align: center;
			left: 0;
		}
	}
	.rotation-content {
		position: relative;
		width: 100%;
		height: 100%;
		> div.active {
			span {
				color: $color-white;
			}
		}
	}
	.top {
		position: absolute;
		top: -24px;
		z-index: 20;
	}
	.bottom {
		position: absolute;
		bottom: -27px;
		left: 50%;
		z-index: 20;
		@include translate(-50%, 0px);
	}
	.right {
		position: absolute;
		top: 50%;
		right: -24px;
		@include rotate(-90deg);
		z-index: 20;
	}
	.left {
		position: absolute;
		top: 50%;
		left: -46px;
		@include rotate(90deg);
		z-index: 20;
	}
	&.active {
		&:after {
			content:'';
			background: url(../images/rotation-active-bg.png) 0 0 no-repeat;
			background-size: 303px 122px;
			width: 303px;
			height: 122px;
			position: absolute;
			bottom: -15px;
			left: 50%;
			z-index: 13;
			@include translate(-50%, 0px);
		}
		.inner {
			.bottom {
				span {
					color: #ffffff;
				}
			}
		}
		.outer {
			.bottom {
				bottom: -31px;
				span {
					color: #8c7c7a;
				}
			}
		}
	}
}


.rotation-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.rotate-next {
	background: url(../images/arrow-right.png) 0 0 no-repeat;
	background-size: 67px 58px;
	width: 67px;
	height: 29px;
	position: absolute;
	bottom: -34px;
	right: 85px;
	&:hover {
		background-position: 0 -29px;
	}
}

.rotate-prev {
	background: url(../images/arrow-left.png) 0 0 no-repeat;
	background-size: 67px 58px;
	width: 67px;
	height: 29px;
	position: absolute;
	bottom: -34px;
	left: 85px;
	&:hover {
		background-position: 0 -29px;
	}
}

.rotate-up {
	background: url(../images/arrow-up-down.png) 0 0 no-repeat;
	background-size: 47px 62px;
	width: 47px;
	height: 31px;
	position: absolute;
	bottom: -40px;
	left: 50%;
	@include translate(-50%, 0px);
	&:hover {
		background: url(../images/arrow-up-down-hover.png) 0 0 no-repeat;
		background-size: 47px 62px;
	}
}

.rotate-down {
	background: url(../images/arrow-up-down.png) 0 -31px no-repeat;
	background-size: 47px 62px;
	width: 47px;
	height: 31px;
	position: absolute;
	bottom: -71px;
	left: 50%;
	@include translate(-50%, 0px);
	&:hover {
		background: url(../images/arrow-up-down-hover.png) 0 -31px no-repeat;
		background-size: 47px 62px;
	}
}

@-moz-document url-prefix() { 
  	.rotation {
  		.outer {
  			.bottom {
				bottom: -20px;
			}
			.top {
				top: -18px;
			}
			.left {
				left: -17px;
			}
			.right {
				right: -18px;
			}
  		}
  		&.active {
  			.outer {
				.bottom {
					bottom: -24px;
					span {
						color: #8c7c7a;
					}
				}
			}
  		}
  	}
}

.rotation-active {
	
}



// Thankyou

.thankyou {
	
}

.share {
	border-top: 2px solid $color-tertiary;
	width: 157px;
	padding-top: 15px;
}



// Footer
//-------------------------------------------------------------\\


.disc {
	background: url(../images/disc.png) 0 0 no-repeat;
	width: 324px;
	height: 104px;
	margin:0 auto;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 99;
	.footer-content {
		border-top: 1px solid #ad9d96;
		text-align: center;
		font-size: 11px;
		color: #7d6c6b;
		letter-spacing: 2px;
		text-transform: uppercase;
		a {
			color: #7d6c6b;
		}
	}
	.div {
		margin-left: 10px;
		margin-right: 10px;
	}
}



@media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {
    
}

@media (min-width: $grid-normal) and (max-width: $grid-heavy - 1) {
    
}

@media (min-width: $grid-heavy) {

}

@media (max-width: $grid-light) {
   
}