// ------------------------------------------------------------\\
//  TYPOGRAPHY                                               
// ------------------------------------------------------------\\

p, address {
    line-height:$global-line-height-normal;
    margin-bottom: $global-margin-bottom-normal;
}

a {
    color:$text-link;
    text-decoration:none;
    &:hover {
        text-decoration:underline;
    }
}

.underline-link {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}


strong {
    font-weight:bold;
}

em {
    font-style:italic;
}


.heading-category {
    display: block;
    margin-bottom: $heading-margin-bottom-normal;
    @include clear();
    h1,h2,h3,h4,h5,h6 {
        line-height: $heading-line-height;
        margin-bottom: 0;
    }
    p:last-child {
        margin-bottom: 0;
    }
    .left {
        margin-right: 20px;
    }
    .right {
        margin-left: 20px;
    }
}

.heading-border {
    border-bottom: $heading-border-bottom;
    border-top: $heading-border-top;
    display: block;
    padding: $heading-border-padding-top-normal $heading-border-padding-right-normal $heading-border-padding-bottom-normal $heading-border-padding-left-normal;
    @include clear();
    h1,h2,h3,h4,h5,h6 {
        margin-bottom: 0;
    }
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: $heading-margin-bottom-normal;
    line-height: $heading-line-height;
    color: $heading-color;
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    small {
        font-size: $heading-small-font-size;
        color: $color-gray;
    }
    span {
        font-size: $heading-small-font-size;
        color: $color-gray;
        display: block;
    }
}


h1 {
    font-size: $heading-1-normal;
}

h2 {
    font-size: $heading-2-normal;
}

h3 {
    font-size: $heading-3-normal;
}

h4 {
    font-size: $heading-4-normal;
}

h5 {
    font-size: $heading-5-normal;
}

h6 {
    font-size: $heading-6-normal;
}



blockquote {
    background: $blockquote-bg;
    padding: $blockquote-padding-top-normal $blockquote-padding-right-normal $blockquote-padding-bottom-normal $blockquote-padding-left-normal;
    color: $blockquote-color;
    font-weight: $blockquote-font-weight;
    font-size: $blockquote-font-size-normal;
    margin-bottom: $block-margin-bottom-normal;
    p {
        line-height: $global-line-height-normal;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .author {
        display: block;
        font-size: $blockquote-author-font-size;
        text-align: $blockquote-author-text-align;
    }
}




@media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {
    blockquote {
        padding: $blockquote-padding-top-moderate $blockquote-padding-right-moderate $blockquote-padding-bottom-moderate $blockquote-padding-left-moderate;
        font-size: $blockquote-font-size-moderate;
    }
    p, address {
        margin-bottom: $global-margin-bottom-moderate;
    }
    .heading-category {
        margin-bottom: $heading-margin-bottom-moderate;
    }
    h1,h2,h3,h4,h5,h6 {
        margin-bottom: $heading-margin-bottom-moderate;
    }
}

@media (min-width: $grid-normal) and (max-width: $grid-heavy - 1) {
    
}

@media (min-width: $grid-heavy) {

}

@media (max-width: $grid-light) {
    h1 {
        font-size: $heading-1-light;
    }
    h2 {
        font-size: $heading-2-light;
    }
    h3 {
        font-size: $heading-3-light;
    }
    h4 {
        font-size: $heading-4-light;
    }
    h5 {
        font-size: $heading-5-light;
    }
    h6 {
        font-size: $heading-6-light;
    }
    blockquote {
        padding: $blockquote-padding-top-light $blockquote-padding-right-light $blockquote-padding-bottom-light $blockquote-padding-left-light;
        font-size: $blockquote-font-size-light;
    }
    p, address {
        margin-bottom: $global-margin-bottom-light;
    }
    .heading-category {
        margin-bottom: $heading-margin-bottom-light;
    }
    h1,h2,h3,h4,h5,h6 {
        margin-bottom: $heading-margin-bottom-light;
    }
}