// ------------------------------------------------------------\\
//  VISIBILITY                                              
// ------------------------------------------------------------\\

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.hide-on-light {
    display: block !important;
}

.hide-on-moderate {
    display: block !important;
}

.hide-on-normal {
    display: block !important;
}

.hide-on-heavy {
    display: block !important;
}

.hide-on-inline {
    display: inline-block !important;
}

.show-on-light {
    display: none !important;
}

.show-on-moderate {
    display: none !important;
}

.show-on-inline-moderate {
    display: none !important
}

.show-on-normal {
    display: none !important;
}

.show-on-inline-normal {
    display: none !important;
}

.show-on-heavy {
    display: none !important;
}

.show-on-inline-heavy {
    display: none !important;
}

.show-on-inline {
    display: none !important;
}


@media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {
    .hide-on-moderate, .hide-on-inline-moderate {
        display: none !important;
    }
    .show-on-moderate {
        display: block !important
    }
    .show-on-inline-moderate {
        display: inline-block !important;
    }
}

@media (min-width: $grid-normal) and (max-width: $grid-heavy - 1) {
    .hide-on-normal, .hide-on-inline-normal {
        display: none !important;
    }
    .show-on-normal {
        display: block !important;
    }
    .show-on-inline-normal {
        display: inline-block !important;
    }
}

@media (min-width: $grid-heavy) {
    .hide-on-heavy, .hide-on-inline-heavy {
        display: none !important;
    }
    .show-on-heavy {
        display: block !important;
    }
    .show-on-inline-heavy {
        display: inline-block !important;
    }
}

@media (max-width: $grid-light) {
    .hide-on-light, .hide-on-inline-light {
        display: none !important;
    }
    .show-on-light {
        display: block !important;
    }
    .show-on-inline-light {
        display: inline-block !important;
    }
}