// ------------------------------------------------------------\\
//  BANNER                                             
// ------------------------------------------------------------\\


.banner {
    .banner-image {
        position: relative;
        img {
            width: 100%;
            display: block;
            margin-bottom: 0;
        }
    }
    .caption {
        width: 100%;
        position: $banner-caption-position;
        left: 0;
        top: $banner-caption-position-top;
        bottom: $banner-caption-position-bottom;
        padding: $banner-caption-padding-top-normal $banner-caption-padding-right-normal $banner-caption-padding-bottom-normal $banner-caption-padding-left-normal;
        background: $banner-caption-bg;
        color: $banner-caption-color;
        a {
            color: $banner-caption-link-color;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
    .banner-content {
        padding: $banner-content-padding-top-normal $banner-content-padding-right-normal $banner-content-padding-bottom-normal $banner-content-padding-left-normal;
    }
    .ribbon {
        //background: url(../images/ribbon.png) 0 0 no-repeat;
        width: 99px;
        height: 99px;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        .ribbon-content {
            position: relative;
            background: $banner-ribbon-bg;
            color: $banner-ribbon-color;
            @include rotate(-45deg);
            width: 140px;
            font-size: 14px;
            display: block;
            text-align: center;
            padding: 10px 0;
            top: 20px;
            left: -32px;
            a {
                color: $banner-ribbon-color;
            }
        }
        &.right {
            margin:0;
            left: auto;
            right: 0;
            .ribbon-content {
                @include rotate(45deg);
                top: 20px;
                left: -8px;
            }
        }
        &.bottom.right {
            .ribbon-content {
                @include rotate(316deg);
                top: 47px;
                left: -10px;
            }
        }
        &.bottom {
            top: auto;
            bottom: 0;
            .ribbon-content {
                @include rotate(-316deg);
                top: 46px;
                left: -32px;
            }
        }
    }
    .tag {
        background: $banner-tag-bg;
        color: $banner-tag-color;
        font-size: 14px;
        padding: 10px;
        display: inline-block;
        position: absolute;
        left: 0;
        top: $banner-tag-offset;
        &.right {
            left: auto;
            right: 0;
        }
        &.bottom {
            top: auto;
            bottom: $banner-tag-offset;
        }
    }
}


// Image Content - with caption.
//-------------------------------------------------------------\\





@media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {
    .caption {
        padding: $banner-caption-padding-top-moderate $banner-caption-padding-right-moderate $banner-caption-padding-bottom-moderate $banner-caption-padding-left-moderate;
    }
    .banner-content {
        padding: $banner-content-padding-top-moderate $banner-content-padding-right-moderate $banner-content-padding-bottom-moderate $banner-content-padding-left-moderate;
    }
}

@media (min-width: $grid-normal) and (max-width: $grid-heavy - 1) {
    
}

@media (min-width: $grid-heavy) {
    .caption {
        padding: $banner-caption-padding-top-heavy $banner-caption-padding-right-heavy $banner-caption-padding-bottom-heavy $banner-caption-padding-left-heavy;
    }
    .banner-content {
        padding: $banner-content-padding-top-heavy $banner-content-padding-right-heavy $banner-content-padding-bottom-heavy $banner-content-padding-left-heavy;
    }
}

@media (max-width: $grid-light) {
    .caption {
        padding: $banner-caption-padding-top-light $banner-caption-padding-right-light $banner-caption-padding-bottom-light $banner-caption-padding-left-light;
    }
    .banner-content {
        padding: $banner-content-padding-top-light $banner-content-padding-right-light $banner-content-padding-bottom-light $banner-content-padding-left-light;
    }
}
