// ------------------------------------------------------------\\
//  BLOCKS                                               
// ------------------------------------------------------------\\


.block {
    padding-top: $block-padding-top-normal;
    padding-bottom: $block-padding-bottom-normal;
    margin-bottom: $block-margin-bottom-normal;
    border-bottom: $block-border-bottom;
    display: block;
    @include clear();
    .block-content {
        padding-left: $block-content-padding-left;
        padding-right: $block-content-padding-right;
    }
    &:last-child {
        margin-bottom: 0;
        border-bottom: none;
    }
}





@media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {
    .block {
	    padding-top: $block-padding-top-moderate;
        padding-bottom: $block-padding-bottom-moderate;
	    margin-bottom: $block-margin-bottom-moderate;
	}
}

@media (min-width: $grid-normal) and (max-width: $grid-heavy - 1) {
    
}

@media (min-width: $grid-heavy) {

}

@media (max-width: $grid-light) {
   	.block {
	    padding-top: $block-padding-top-light;
        padding-bottom: $block-padding-bottom-light;
	    margin-bottom: $block-margin-bottom-light;
	}
}
