// ------------------------------------------------------------\\
//  FOOTER                                                
// ------------------------------------------------------------\\

.footer {
	color: $footer-color;
	display: block;
	position: relative;
	@include clear();
}

.footer-content {
	background: $footer-content-bg;
	display: block;
	@include clear();
	padding: $footer-content-padding-top-normal $footer-content-padding-right-normal $footer-content-padding-bottom-normal $footer-content-padding-left-normal
}

.footer-logo {
	color: #6b7986;
	font-size: 28px;
	border-right:3px solid $color-primary;
	float: left;
	padding-right: 25px;
	margin-right: 25px;
	margin-bottom: 20px;
}


// Footer Social
//-------------------------------------------------------------\\

.footer-social {
	font-size: 0;
	list-style: none;
	margin:7px 0 0 0;
	padding: 0;
	float: right;
	li {
		display: inline-block;
		vertical-align: top;
		margin:0;
		padding: 0;
		margin-left: 16px;
		&:first-child {
			margin-left: 0;
		}
		&:before {
			display: none;
		}
	}
	a {
		font-size: 30px;
		color: $color-white;
		width: 58px;
		height: 58px;
		line-height: 58px;
		display: block;
		text-align: center;
		border-radius: 50%;
		background-color: #425563;
		@include transition-property(background-color);
		@include transition-duration(.3s);
		@include transition-timing-function(ease-out);
		&:hover {
			background-color: $color-primary;
		}
	}
}


@media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {

}

@media (min-width: $grid-normal) and (max-width: $grid-heavy - 1) {
    
}

@media (min-width: $grid-heavy) {

}

@media (max-width: $grid-light) {
   
}