// ------------------------------------------------------------\\
//  HERO                                               
// ------------------------------------------------------------\\


.hero {
    position: relative;
    background: $hero-bg;
    border: $hero-border;
    font-size: $hero-font-size;
    color: $hero-color;
    padding: $hero-padding-top-normal $hero-padding-right-normal $hero-padding-bottom-normal $hero-padding-left-normal; 
    @include box-shadow(rgba($hero-shadow, $hero-shadow-opacity) 3px 6px 13px 0px);
    @include clear();
}

.hero-image {
    display: block;
    border: $hero-image-border;
    position: relative;
    img {
        width: 100%;
    }
    .hero-content {
        position: absolute;
        left: $hero-content-padding-left-normal;
        top: 50%;
        background: $hero-image-bg;
        padding: $hero-image-padding-top-normal $hero-image-padding-right-normal $hero-image-padding-bottom-normal $hero-image-padding-left-normal;
        @include translate(0, -50%);
    }
}

.hero-full {
    .hero-image {
        background-size: cover !important;
        background-position: 50% 50% !important;
        height: $hero-image-height-normal;
        img {
            width: 100%;
        }
    }
}

.hero-image img {
    display: block;
}

.hero-content {
    padding: $hero-content-padding-top-normal $hero-content-padding-right-normal $hero-content-padding-bottom-normal $hero-content-padding-left-normal;
    color: $hero-content-color;
    p:last-child {
        margin-bottom: 0;
    }
    .hero-intro {
        
    }
}




@media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {
    .hero-content {
        padding: $hero-content-padding-top-moderate $hero-content-padding-right-moderate $hero-content-padding-bottom-moderate $hero-content-padding-left-moderate;
    }
    .hero-full {
        .hero-image {
            height: $hero-image-height-moderate;
        }
    }
}

@media (min-width: $grid-normal) and (max-width: $grid-heavy - 1) {
    
}

@media (min-width: $grid-heavy) {

}

@media (max-width: $grid-light) {
    .hero-content {
        padding: $hero-content-padding-top-light $hero-content-padding-right-light $hero-content-padding-bottom-light $hero-content-padding-left-light;
    }
    .hero-full {
        .hero-image {
            height: $hero-image-height-light;
        }
    }
}