// ------------------------------------------------------------\\
//  IMAGES                                               
// ------------------------------------------------------------\\

img {
    display: inline-block;
    vertical-align: middle;
}


// Image Banner - Common Banner
//-------------------------------------------------------------\\

.image {
    margin-bottom: $image-banner-margin-bottom;
    border-radius: $image-border-radius;
    display: block;
    width: auto !important;
}


// Image Circular
//-------------------------------------------------------------\\

.image-circular {
    border-radius: 50%;
    overflow: hidden;
    border: $image-border;
    margin-bottom: $image-margin-bottom;
}


// Image Thumbnails - curve, circular, common, fluid, etc.
//-------------------------------------------------------------\\

.image-thumbnail {
    border: $image-thumbnail-border;
    border-radius: $image-border-radius;
    background-color: $image-thumbnail-bg;
    padding: $image-thumbnail-padding;
    display: block;
    margin-bottom: $image-margin-bottom;
}


// Image Full
//-------------------------------------------------------------\\

.image-full {
    margin-bottom: $image-banner-margin-bottom;
    display: block;
    width: 100%;
    height: auto;
}


// Image Sizes - light, moderate, normal, heavy
//-------------------------------------------------------------\\

img.light {
    width: $image-size-light !important;
}
img.moderate {
    width: $image-size-moderate !important;
}
img.normal {
    width: $image-size-normal !important;
}
img.heavy {
    width: $image-size-heavy !important;
}



@media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {
    
}

@media (min-width: $grid-normal) and (max-width: $grid-heavy - 1) {
    
}

@media (min-width: $grid-heavy) {

}

@media (max-width: $grid-light) {
    
}
