// ------------------------------------------------------------\\
//  LISTS                                               
// ------------------------------------------------------------\\


// Definition List
//-------------------------------------------------------------\\

dl {
    margin-bottom: $list-container-bottom;
    font-size: $list-font-size-normal;
    display: block;
    dt {
        line-height: $list-line-height;
        font-weight: $dt-font-weight;
        margin-bottom: $dt-dd-margi-bottom;
        font-size: $dt-font-size-normal;
        color: $dt-color;
    }
    dd {
        margin-bottom: $dt-dd-margi-bottom;
    }
}




// Definition List
//-------------------------------------------------------------\\

ol {
    list-style-type: decimal;
    margin-bottom: $list-container-bottom;
    padding-left: floor($global-font-size-normal * $global-line-height-normal);
    li {
        padding: $list-padding-top-normal $list-padding-right-normal $list-padding-bottom-normal $list-padding-left-normal;
        line-height: $list-line-height;
        position: relative;
    }
    a {
        display: $list-display;
    }
}




// Unordered List
//-------------------------------------------------------------\\

ul {
    margin-bottom: $list-container-bottom;
    list-style: none;
    padding: 0;
    margin:0;
    color: $list-color;
    font-size: $list-font-size-normal;
    &:last-child {
        margin-bottom: 0;
    }
    ul {
        margin-bottom: 0 !important;
    }
    li {
        padding: $list-padding-top-normal $list-padding-right-normal $list-padding-bottom-normal $list-padding-left-normal;
        padding-left: $list-bullet-padding-left;
        line-height: $list-line-height;
        position: relative;
        &:before {
            position: absolute;
            left: -2px;
            top: $list-bullet-position-top;
            content: "\2022";
            padding-right:5px;
            color:$list-bullet-color;
            font-size: $list-bullet-font-size;
            line-height: $list-bullet-line-height;
        }
    }
    a {
        display: $list-display;
    }
    &.with-bg {
        li {
            padding-left: ($list-bullet-padding-left * 2) + ($list-bg-padding-left-normal / 2);
            width: 100%;
            background: $list-bg-bg;
            color: $list-bg-color;
            &:before {
                left: $list-bg-padding-left-normal;
                color:$list-color;
            }
        }
        a {
            margin-left: -(($list-bullet-padding-left * 2) + ($list-bg-padding-left-normal / 2));
            padding-left: ($list-bullet-padding-left * 2) + ($list-bg-padding-left-normal / 2);
            display: block;
            color: $list-bg-color;
            &:hover {
                background-color: $list-bg-bg-hover;
                color: $list-bg-color-hover;
                text-decoration: none;
                &:before {
                    position: absolute;
                    left: $list-bg-padding-left-normal;
                    top: $list-bullet-position-top;
                    content: "\2022";
                    padding-right:5px;
                    color:$list-bg-color-hover;
                    font-size: $list-bullet-font-size;
                    line-height: $list-bullet-line-height;
                }
            }
        }
    }
    &.border {

    }
}


.list {
    margin:0;
    padding: 0;
    list-style-type: none;
    margin-bottom: $list-container-bottom;
    li {
        padding: 0;
        margin:0;
        &:before {
           content: '';
        }
    }
}




// Unordered List w/ Backgrouund
//-------------------------------------------------------------\\


.list.with-bg {
    li {
        padding: $list-bg-padding-top-normal $list-bg-padding-right-normal $list-bg-padding-bottom-normal $list-bg-padding-left-normal;
        width: 100%;
        background: $list-bg-bg;
        color: $list-bg-color;
        &.active {
            a {
                background-color: $list-bg-bg-hover;
                color: $list-bg-color-hover;
            }
        }
    }
    a {
        color: $list-bg-color;
        display: block;
        padding: $list-bg-padding-top-normal $list-bg-padding-right-normal $list-bg-padding-bottom-normal $list-bg-padding-left-normal;
        margin-top: -$list-bg-padding-top-normal;
        margin-left: -$list-bg-padding-left-normal;
        margin-bottom: -$list-bg-padding-bottom-normal;
        margin-right: -$list-bg-padding-right-normal;
        position: relative;
        &:hover {
            background-color: $list-bg-bg-hover;
            color: $list-bg-color-hover;
            text-decoration: none;
            &:before {
                content: "";
            }
        }
    }
    .no-bg {
        background: none;
        color: $list-color;
    }
}

ul.with-bg {
    a {
        margin-top: -$list-bg-padding-top-normal;
        margin-bottom: -$list-bg-padding-bottom-normal;
        padding-top: $list-bg-padding-top-normal;
        padding-bottom: $list-bg-padding-bottom-normal;
    }
}



// Unordered Inline
//-------------------------------------------------------------\\


ul.inline {
    li {
        display: inline-block;
        vertical-align: top;
        margin-right: $list-inline-margin-right;
        width: auto;
        &:last-child {
            margin-right: 0;
        }
    }
}


// Unordered List w/ Indention
//-------------------------------------------------------------\\

ul.indent {
    padding-left: $list-indent;
    &.with-bg {
        padding-left: 0;
        li {
            padding-left: $list-indent;
        }
        a {
            margin-left: -$list-indent;
            padding-left: $list-indent;
        }
    }
}



// Unordered List w/ Border
//-------------------------------------------------------------\\

ul.border {
    margin-bottom: $list-container-bottom;
    li {
        padding-top: $list-padding-top-normal;
        padding-bottom: $list-padding-bottom-normal;
        border-bottom: $list-border-bottom;
        &:last-child {
            border-top: $list-border-top;
            border-bottom: none;
        }
    }
    &.with-bg {
        li {
           border-bottom: $list-border-bg-bottom;
        }
    }
}



// Unordered List w/ Arrow
//-------------------------------------------------------------\\

ul.arrow {
    margin-bottom: $list-container-bottom;
    li {
        padding: $list-padding-top-normal $list-padding-right-normal $list-padding-bottom-normal $list-padding-left-normal;
        padding-left: $list-arrow-indent;
        &:before {
            content: "";
            width: 0; 
            height: 0; 
            border-top: $list-arrow-size-normal solid transparent;
            border-bottom: $list-arrow-size-normal solid transparent;
            border-left: $list-arrow-size-normal solid $list-arrow-color;
            position: absolute;
            left: 0;
            top: $list-arrow-position-top;
        }
    }
    &.with-bg {
        li {
            padding-left: $list-arrow-indent * 2;
            &:before {
                left: $list-arrow-indent;
                border-left: $list-arrow-size-normal solid $list-arrow-color;
            }
        }
        a {
            padding-left: $list-arrow-indent * 2;
            margin-left: -$list-arrow-indent * 2;
            &:before {
                content: "";
                width: 0; 
                height: 0; 
                border-top: $list-arrow-size-normal solid transparent;
                border-bottom: $list-arrow-size-normal solid transparent;
                border-left: $list-arrow-size-normal solid $list-arrow-color;
                position: absolute;
                top: $list-arrow-position-top;
                left: $list-arrow-indent;
                border-left: $list-arrow-size-normal solid $list-arrow-color;
            }
            &:hover {
                &:before {
                    border-left: $list-arrow-size-normal solid $list-bg-color-hover;
                    top: $list-arrow-position-top;
                    left: $list-arrow-indent;
                }
            }
        }
    }
}







@media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {
    
}

@media (min-width: $grid-normal) and (max-width: $grid-heavy - 1) {
    
}

@media (min-width: $grid-heavy) {

}

@media (max-width: $grid-light) {
   
}
