// ------------------------------------------------------------\\
//  MAIN                                              
// ------------------------------------------------------------\\

.main {
	
}

.main-top {
	color: $color-normal;
	text-align: center;
	border-bottom: 1px solid $color-tertiary;
	margin-bottom: 30px;
	padding-top: 60px;
	padding-bottom: 60px;
	p:last-child {
		margin-bottom: 0;
	}
	h1 {
		text-transform: uppercase;
		font-size: 50px;
	}
}


@media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {

}

@media (min-width: $grid-normal) and (max-width: $grid-heavy - 1) {
    
}

@media (min-width: $grid-heavy) {

}

@media (max-width: $grid-light) {
   
}