// ------------------------------------------------------------\\
//  NAV                                              
// ------------------------------------------------------------\\


.mobile-menu-bg {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 4;
    display: none;
}

.nav-switch {
	position: relative;
	float: right;
	padding: 5px;
	margin-top: 12px;
	margin-right: 10px;
	margin-bottom: 0px;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 4px;
	display: none;
	.icon {
		margin-right: 0;
	}
}

.nav-page-title {
	float: left;
	font-size: 14px;
	color: $color-primary;
	margin-top: 13px;
	display: none;
	text-transform: uppercase;
}

.line {
	height: 2px;
	background: $icon-bar-color;
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	margin-bottom: 4px;
	&:last-child {
		margin-bottom: 0;
	}
}





// Nav Menu
//-------------------------------------------------------------\\

.nav {
	font-size: $nav-font-size-normal;
	font-family: $nav-font-family;
	font-weight: $nav-font-weight;
	list-style:none;
	padding: 0;
	margin: $nav-margin-top-normal $nav-margin-right-normal $nav-margin-bottom-normal $nav-margin-left-normal;
	text-transform: $nav-text-transform;
}

.nav > li {
	position: relative;
	float: left;
	padding: 0;
	margin-left: $nav-list-margin-left-normal;
	margin-right: $nav-list-margin-right-normal;
	border-left: $nav-list-border-left;
	border-right: $nav-list-border-right;
	&:last-child {
		border-right: none;
		margin-right: 0;
	}
	&:first-child {
		margin-left: 0;
		border-left: 0;
		border-left: none;
	}
	&:before {
		display: none;
	}
}

.nav > li > a {
	padding: $nav-link-padding-top-normal $nav-link-padding-right-normal $nav-link-padding-bottom-normal $nav-link-padding-left-normal;
	color: $nav-link-color;
	background-color: $nav-link-bg;
	display: block;
	border-top: $nav-link-border-top;
	border-bottom: $nav-link-border-bottom;
}

.nav > li > a:hover {
	text-decoration: none;
	background-color: $nav-link-bg-hover;
	color: $nav-link-color-hover;
	border-top: $nav-link-border-top-hover;
	border-bottom: $nav-link-border-bottom-hover;
}

.nav > li.active > a {
	text-decoration: none;
	background-color: $nav-link-bg-active;
	color: $nav-link-color-active;
	border-top: $nav-link-border-top-active;
	border-bottom: $nav-link-border-bottom-active;
}


// Top Nav
//-------------------------------------------------------------\\

.top-nav {
	list-style:none;
	padding: 0;
	margin:0;
	font-size: $topnav-font-size;
	margin-top: $topnav-margin-top;
	margin-bottom: $topnav-margin-bottom;
	li {
		padding: 0;
		margin:0;
		margin-left: $topnav-list-margin-left;
		margin-right: $topnav-list-margin-right;
		float: left;
		&:before {
			display: none;
		}
	}
	li a {
		padding: $topnav-padding-top-normal $topnav-padding-right-normal $topnav-padding-bottom-normal $topnav-padding-left-normal;
		display: block;
		color: $topbar-color;
		border: 1px solid $color-normal;
		&:hover {
			background-color: $color-primary;
			color: $color-white;
			text-decoration: none;
		}
	}
}


// Nav Sidebar
//-------------------------------------------------------------\\

.sidenav {
	font-size: $sidenav-font-size-normal;
	font-family: $sidenav-font-family;
	list-style:none;
	padding: 0;
	margin: 0;
	text-transform: $nav-text-transform;
	font-weight: $sidenav-font-weight;
	li {
		display: block;
		margin:0;
		padding: 0;
		&:before {
			display: none;
		}
	}
	li.active {
		a {
			color: $sidenav-link-color-active;
			background-color: $sidenav-link-bg-active;
		}
	}
	a {
		display: block;
		color: $sidenav-link-color;
		background-color: $sidenav-link-bg;
		padding: $sidenav-padding;
		&:hover {
			text-decoration: none;
			color: $sidenav-link-color-hover;
			background-color: $sidenav-link-bg-hover;
		}
	}
}



// Footer Nav
//-------------------------------------------------------------\\

.footer-nav {
	font-size: $footernav-font-size;
	font-family: $footernav-font-family;
	list-style:none;
	padding: 0;
	margin: $footernav-margin-top-normal $footernav-margin-right-normal $footernav-margin-bottom-normal $footernav-margin-left-normal;
	li {
		display: inline-block;
		margin: 0;
		padding: 0;
		margin-right: $footernav-list-margin-right;
		margin-left: $footernav-list-margin-left;
		
		&:before {
			display: none;
		}
	}
	a {
		color: $footernav-link-color;
		display: block;
		&:hover {
			color: $footernav-link-color-hover !important;
			text-decoration: none;
		}
	}
	li.active {
		a {
			color: $footernav-link-color-active !important;
		}
	}
}




@media (min-width: $grid-moderate) {
	.mobile-menu-bg {
	    display: none !important;
	}
}

@media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {
    .nav-content {
		height: $nav-content-height-moderate;
		background-color: $nav-content-bg;
		padding: $nav-content-padding-top-moderate $nav-content-padding-right-moderate $nav-content-padding-bottom-moderate $nav-content-padding-left-moderate;
	}
	.nav {
		font-size: $nav-font-size-moderate;
	}
	.nav > li {
		margin-right: $nav-list-margin-right-moderate;
		margin-left: $nav-list-margin-left-moderate;
	}
	.nav > li > a {
		padding: $nav-link-padding-top-moderate $nav-link-padding-right-moderate $nav-link-padding-bottom-moderate $nav-link-padding-left-moderate;
	}
}

@media (min-width: $grid-normal) and (max-width: $grid-heavy - 1) {
    
}

@media (min-width: $grid-heavy) {

}

@media (max-width: $grid-light) {
	.nav-page-title {
		display: block;
	}
   	.nav-switch {
		display: block;
	}
	.nav-fold {
		width: 100%;
		height: 0;
		overflow: hidden;
		position: relative;
		background: #ffffff;
		clear: both;
		z-index: 9;
		padding: 0;
	}
	.nav-content {
		height: $nav-content-height-light;
		background-color: $nav-content-bg;
		padding: $nav-content-padding-top-light $nav-content-padding-right-light $nav-content-padding-bottom-light $nav-content-padding-left-light;
	}
	
	.nav {
		font-size: $nav-font-size-light;
		padding-left: 0;
		margin:0;
		padding-top: 10px;
		padding-bottom: 20px;
	}

	.nav > li {
		float: none;
		display: block;
		padding: 0 10px 0 10px;
		margin: 0;
	}

	.nav > li.active > a {
		color: $color-secondary;
		border-color: $color-secondary;
	}

	.nav > li > a {
		padding: $nav-link-padding-top-light $nav-link-padding-right-light $nav-link-padding-bottom-light $nav-link-padding-left-light;
		color: $color-primary;
		font-size: 16px;
		font-weight: bold;
		&:hover {
			color: $color-secondary;
			border-color: $color-secondary;
		}
	}
}