// ------------------------------------------------------------\\
//  PAGING                                              
// ------------------------------------------------------------\\


// Page

.paging {
	@include clear();
	a {
		
	}
}



// Pagination

ul.pagination {
	@include clear();
	display: block;
	li {
		display: inline;	
	}
}




@media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {
    
}

@media (min-width: $grid-normal) and (max-width: $grid-heavy - 1) {
    
}

@media (min-width: $grid-heavy) {

}

@media (max-width: $grid-light) {
   
}