/* line 3, ../sass/ie9.scss */
.rotation .outer .bottom {
  bottom: -18px;
}
/* line 6, ../sass/ie9.scss */
.rotation .outer .top {
  top: -17px;
}
/* line 9, ../sass/ie9.scss */
.rotation .outer .left {
  left: -17px;
}
/* line 12, ../sass/ie9.scss */
.rotation .outer .right {
  right: -17px;
}
/* line 18, ../sass/ie9.scss */
.rotation.active .outer .bottom {
  bottom: -28px;
}
/* line 20, ../sass/ie9.scss */
.rotation.active .outer .bottom span {
  color: #8c7c7a;
}

/* line 29, ../sass/ie9.scss */
.play-btn, .button.primary {
  filter: none !important;
}
