@import url(http://fonts.googleapis.com/css?family=Satisfy);
/* line 10, ../sass/layout.scss */
body {
  background: url(../images/body-bg.png) 0 0 repeat;
}

/* line 14, ../sass/layout.scss */
html, body {
  height: 100%;
}

/* line 18, ../sass/layout.scss */
.wrapper {
  background: url(../images/wrapper-bg.jpg) 50% 0 no-repeat;
  min-height: 768px;
  padding-bottom: 28px;
}
/* line 22, ../sass/layout.scss */
.wrapper > .container {
  padding-bottom: 30px;
}

/* line 27, ../sass/layout.scss */
hr {
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 0;
}
/* line 29, ../sass/layout.scss */
hr:last-child {
  margin-bottom: 0;
}

@font-face {
  font-family: 'proxima_nova';
  src: url("../fonts/proximanovaexcn-semibold-webfont.eot");
  src: url("../fonts/proximanovaexcn-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanovaexcn-semibold-webfont.woff") format("woff"), url("../fonts/proximanovaexcn-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanovaexcn-semibold-webfont.svg#proxima_nova_extra_condensSBd") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 51, ../sass/layout.scss */
.heading-bullet {
  display: block;
}
/* line 53, ../sass/layout.scss */
.heading-bullet h1, .heading-bullet h2 {
  display: inline-block;
}
/* line 57, ../sass/layout.scss */
.heading-bullet h1:before {
  content: "\2022";
  position: absolute;
  left: -18px;
  top: 45%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 24px;
}
/* line 65, ../sass/layout.scss */
.heading-bullet h1:after {
  content: "\2022";
  position: absolute;
  right: -18px;
  top: 45%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 24px;
}
/* line 75, ../sass/layout.scss */
.heading-bullet h2:before {
  content: "\2022";
  position: absolute;
  left: -18px;
  top: 45%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 24px;
}
/* line 83, ../sass/layout.scss */
.heading-bullet h2:after {
  content: "\2022";
  position: absolute;
  right: -18px;
  top: 45%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 24px;
}

/* line 94, ../sass/layout.scss */
h1 {
  position: relative;
  letter-spacing: 6px;
  text-transform: uppercase;
}

/* line 100, ../sass/layout.scss */
h2 {
  position: relative;
  letter-spacing: 4px;
  text-transform: uppercase;
}

/* line 106, ../sass/layout.scss */
.sub-title {
  font-family: 'Satisfy', cursive;
  color: #7e6d6b;
  font-size: 17px;
  display: block;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 0;
  line-height: 1;
}
/* line 113, ../sass/layout.scss */
.sub-title.text-heavy {
  font-size: 22px;
}

/* line 124, ../sass/layout.scss */
.button.primary {
  background-color: #0092d1;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0092D1', endColorstr='#FF0081B9');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0092d1), color-stop(47%, #0090cf), color-stop(81%, #0084bd), color-stop(100%, #0081b9));
  background-image: -webkit-linear-gradient(top, #0092d1 0%, #0090cf 47%, #0084bd 81%, #0081b9 100%);
  background-image: -moz-linear-gradient(top, #0092d1 0%, #0090cf 47%, #0084bd 81%, #0081b9 100%);
  background-image: -o-linear-gradient(top, #0092d1 0%, #0090cf 47%, #0084bd 81%, #0081b9 100%);
  background-image: linear-gradient(top, #0092d1 0%, #0090cf 47%, #0084bd 81%, #0081b9 100%);
  padding: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px 1px;
  letter-spacing: 3px;
}
/* line 131, ../sass/layout.scss */
.button.primary .dot {
  position: relative;
  top: -4px;
}
/* line 135, ../sass/layout.scss */
.button.primary:hover {
  background: none;
  background-color: #12729b;
}
/* line 139, ../sass/layout.scss */
.button.primary span {
  border: 1px solid #5db1d4;
}

/* line 144, ../sass/layout.scss */
.button {
  text-transform: uppercase;
}
/* line 146, ../sass/layout.scss */
.button span {
  display: block;
  padding: 8px 28px 7px 28px;
}
/* line 150, ../sass/layout.scss */
.button em {
  font-style: normal;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
/* line 155, ../sass/layout.scss */
.button em:before {
  content: "\2022";
  position: absolute;
  left: -10px;
  top: 45%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 13px;
}
/* line 163, ../sass/layout.scss */
.button em:after {
  content: "\2022";
  position: absolute;
  right: -10px;
  top: 45%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 13px;
}

/* line 174, ../sass/layout.scss */
.button.secondary {
  background-color: #df4a5d;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFDF4A5D', endColorstr='#FFC74253');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #df4a5d), color-stop(52%, #df4a5d), color-stop(69%, #dc495c), color-stop(95%, #c84254), color-stop(100%, #c74253));
  background-image: -webkit-linear-gradient(top, #df4a5d 0%, #df4a5d 52%, #dc495c 69%, #c84254 95%, #c74253 100%);
  background-image: -moz-linear-gradient(top, #df4a5d 0%, #df4a5d 52%, #dc495c 69%, #c84254 95%, #c74253 100%);
  background-image: -o-linear-gradient(top, #df4a5d 0%, #df4a5d 52%, #dc495c 69%, #c84254 95%, #c74253 100%);
  background-image: linear-gradient(top, #df4a5d 0%, #df4a5d 52%, #dc495c 69%, #c84254 95%, #c74253 100%);
  padding: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px 1px;
  letter-spacing: 3px;
}
/* line 181, ../sass/layout.scss */
.button.secondary .dot {
  position: relative;
  top: -6px;
}
/* line 185, ../sass/layout.scss */
.button.secondary:hover {
  background: none;
  background-color: #ad3a49;
}
/* line 189, ../sass/layout.scss */
.button.secondary span {
  border: 1px solid #e37785;
  padding: 5px 15px;
}

/* line 196, ../sass/layout.scss */
.button-triangle {
  color: #ffffff;
  position: relative;
  display: inline-block;
  padding: 2px;
  font-size: 24px;
  min-width: 230px;
  text-align: center;
  z-index: 99;
}
/* line 205, ../sass/layout.scss */
.button-triangle em {
  font-style: normal;
  position: relative;
  z-index: 4;
  display: inline-block;
  top: 6px;
}
/* line 211, ../sass/layout.scss */
.button-triangle em:before {
  content: "\2022";
  position: absolute;
  left: -10px;
  top: 45%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 13px;
}
/* line 219, ../sass/layout.scss */
.button-triangle em:after {
  content: "\2022";
  position: absolute;
  right: -10px;
  top: 45%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 13px;
}
/* line 228, ../sass/layout.scss */
.button-triangle span {
  display: block;
  position: relative;
  z-index: 3;
}
/* line 232, ../sass/layout.scss */
.button-triangle span:before {
  content: '';
  position: absolute;
  left: 17px;
  top: 1px;
  width: 0;
  height: 0;
  border-left: 99px solid transparent;
  border-right: 99px solid transparent;
  border-top: 54px solid #e1808d;
}
/* line 243, ../sass/layout.scss */
.button-triangle span:after {
  content: '';
  position: absolute;
  left: 21px;
  top: 2px;
  width: 0;
  height: 0;
  border-left: 95px solid transparent;
  border-right: 95px solid transparent;
  border-top: 51px solid #df4a5d;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 258, ../sass/layout.scss */
.button-triangle:before {
  content: '';
  position: absolute;
  left: 8px;
  top: 0;
  z-index: 2;
  width: 0;
  height: 0;
  border-left: 110px solid transparent;
  border-right: 110px solid transparent;
  border-top: 61px solid #c12d40;
}
/* line 270, ../sass/layout.scss */
.button-triangle:hover {
  text-decoration: none;
}
/* line 273, ../sass/layout.scss */
.button-triangle:hover span:after {
  border-top-color: #c12d40;
}

/* line 289, ../sass/layout.scss */
.input-text {
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 296, ../sass/layout.scss */
.select-box:after {
  content: '';
  background: url(../images/select-btn.png) 0 0 no-repeat;
  background-size: 37px 72px;
  width: 37px;
  height: 36px;
  position: absolute;
  right: 0;
  top: 1px;
}
/* line 307, ../sass/layout.scss */
.select-box:hover:after {
  background-position: 0 -36px;
}
/* line 311, ../sass/layout.scss */
.select-box select {
  cursor: pointer;
}

/* line 316, ../sass/layout.scss */
.input-radio {
  font-size: 0;
}
/* line 318, ../sass/layout.scss */
.input-radio label span {
  display: inline-block;
}

/* line 323, ../sass/layout.scss */
.iradio {
  margin: 0;
  padding: 0;
  width: 26px;
  height: 26px;
  background: url(../images/radio-box.png) 0 0 no-repeat;
  background-size: 26px 52px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/* line 338, ../sass/layout.scss */
.iradio {
  background-position: 0 0;
}

/* line 341, ../sass/layout.scss */
.iradio.checked {
  background-position: 0px -26px;
  cursor: default;
}

/* line 346, ../sass/layout.scss */
.terms {
  font-size: 14px;
}

/* line 350, ../sass/layout.scss */
.underline {
  text-decoration: underline;
}

/* line 354, ../sass/layout.scss */
a.underline:hover {
  text-decoration: none;
}

/* line 370, ../sass/layout.scss */
.tabs {
  letter-spacing: 2px;
}
/* line 373, ../sass/layout.scss */
.tabs li a {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 8px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 8px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 8px 0px inset;
  background-color: #e8ddd6;
  color: #7e6d6b;
  min-width: 90px;
}
/* line 379, ../sass/layout.scss */
.tabs li a:hover {
  color: #ffffff;
  background-color: #007baf;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF007BAF', endColorstr='#FF007FB5');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007baf), color-stop(14%, #0086bf), color-stop(27%, #008ac4), color-stop(77%, #008ac4), color-stop(91%, #0086be), color-stop(100%, #007fb5));
  background-image: -webkit-linear-gradient(top, #007baf 0%, #0086bf 14%, #008ac4 27%, #008ac4 77%, #0086be 91%, #007fb5 100%);
  background-image: -moz-linear-gradient(top, #007baf 0%, #0086bf 14%, #008ac4 27%, #008ac4 77%, #0086be 91%, #007fb5 100%);
  background-image: -o-linear-gradient(top, #007baf 0%, #0086bf 14%, #008ac4 27%, #008ac4 77%, #0086be 91%, #007fb5 100%);
  background-image: linear-gradient(top, #007baf 0%, #0086bf 14%, #008ac4 27%, #008ac4 77%, #0086be 91%, #007fb5 100%);
}
/* line 387, ../sass/layout.scss */
.tabs li.active a {
  color: #ffffff;
  background-color: #007baf;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF007BAF', endColorstr='#FF007FB5');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007baf), color-stop(14%, #0086bf), color-stop(27%, #008ac4), color-stop(77%, #008ac4), color-stop(91%, #0086be), color-stop(100%, #007fb5));
  background-image: -webkit-linear-gradient(top, #007baf 0%, #0086bf 14%, #008ac4 27%, #008ac4 77%, #0086be 91%, #007fb5 100%);
  background-image: -moz-linear-gradient(top, #007baf 0%, #0086bf 14%, #008ac4 27%, #008ac4 77%, #0086be 91%, #007fb5 100%);
  background-image: -o-linear-gradient(top, #007baf 0%, #0086bf 14%, #008ac4 27%, #008ac4 77%, #0086be 91%, #007fb5 100%);
  background-image: linear-gradient(top, #007baf 0%, #0086bf 14%, #008ac4 27%, #008ac4 77%, #0086be 91%, #007fb5 100%);
}

/* line 401, ../sass/layout.scss */
.icon-guitar {
  background: url(../images/icons/icon-guitar.png) 0 0 no-repeat;
  background-size: 70px 66px;
  width: 70px;
  height: 66px;
}

/* line 408, ../sass/layout.scss */
.icon-drum {
  background: url(../images/icons/icon-drum.png) 0 0 no-repeat;
  background-size: 36px 40px;
  width: 36px;
  height: 40px;
}

/* line 415, ../sass/layout.scss */
.icon-maracas {
  background: url(../images/icons/icon-maracas.png) 0 0 no-repeat;
  background-size: 46px 58px;
  width: 46px;
  height: 58px;
}

/* line 422, ../sass/layout.scss */
.icon-drum {
  background: url(../images/icons/icon-drum.png) 0 0 no-repeat;
  background-size: 36px 40px;
  width: 36px;
  height: 40px;
}

/* line 429, ../sass/layout.scss */
.icon-mic {
  background: url(../images/icons/icon-mic.png) 0 0 no-repeat;
  background-size: 27px 62px;
  width: 27px;
  height: 62px;
}

/* line 436, ../sass/layout.scss */
.icon-violin {
  background: url(../images/icons/icon-violin.png) 0 0 no-repeat;
  background-size: 59px 69px;
  width: 59px;
  height: 69px;
}

/* line 443, ../sass/layout.scss */
.icon-trumpet {
  background: url(../images/icons/icon-trumpet.png) 0 0 no-repeat;
  background-size: 91px 54px;
  width: 91px;
  height: 54px;
}

/* line 450, ../sass/layout.scss */
.icon-sax {
  background: url(../images/icons/icon-sax.png) 0 0 no-repeat;
  background-size: 79px 84px;
  width: 79px;
  height: 84px;
}

/* line 457, ../sass/layout.scss */
.icon-recorder {
  background: url(../images/icons/icon-recorder.png) 0 0 no-repeat;
  background-size: 44px 82px;
  width: 46px;
  height: 82px;
}

/* line 464, ../sass/layout.scss */
.icon-bong {
  background: url(../images/icons/icon-bong.png) 0 0 no-repeat;
  background-size: 64px 63px;
  width: 64px;
  height: 63px;
}

/* line 471, ../sass/layout.scss */
.icon-percussion {
  background: url(../images/icons/icon-percussion.png) 0 0 no-repeat;
  background-size: 62px 61px;
  width: 62px;
  height: 61px;
}

/* line 478, ../sass/layout.scss */
.icon-snare {
  background: url(../images/icons/icon-snare.png) 0 0 no-repeat;
  background-size: 60px 50px;
  width: 60px;
  height: 50px;
}

/* line 485, ../sass/layout.scss */
.icon-shaker {
  background: url(../images/icons/icon-shaker.png) 0 0 no-repeat;
  background-size: 59px 39px;
  width: 59px;
  height: 39px;
}

/* line 492, ../sass/layout.scss */
.icon-cymbals {
  background: url(../images/icons/icon-cymbals.png) 0 0 no-repeat;
  background-size: 45px 47px;
  width: 45px;
  height: 47px;
}

/* line 499, ../sass/layout.scss */
.icon-maraca {
  background: url(../images/icons/icon-maraca.png) 0 0 no-repeat;
  background-size: 39px 64px;
  width: 39px;
  height: 64px;
}

/* line 506, ../sass/layout.scss */
.icon-triangle {
  background: url(../images/icons/icon-triangle.png) 0 0 no-repeat;
  background-size: 57px 77px;
  width: 57px;
  height: 77px;
}

/* line 513, ../sass/layout.scss */
.icon-bell {
  background: url(../images/icons/icon-bell.png) 0 0 no-repeat;
  background-size: 48px 63px;
  width: 48px;
  height: 63px;
}

/* line 520, ../sass/layout.scss */
.icon-cymbals-blue {
  background: url(../images/icons/icon-cymbals-blue.png) 0 0 no-repeat;
  background-size: 70px 73px;
  width: 70px;
  height: 73px;
}

/* line 527, ../sass/layout.scss */
.icon-drum-head {
  background: url(../images/icons/icon-drum-head.png) 0 0 no-repeat;
  background-size: 53px 64px;
  width: 53px;
  height: 64px;
}

/* line 534, ../sass/layout.scss */
.icon-guitar-acoustic {
  background: url(../images/icons/icon-guitar-acoustic.png) 0 0 no-repeat;
  background-size: 69px 79px;
  width: 69px;
  height: 79px;
}

/* line 541, ../sass/layout.scss */
.icon-guitar-acoustic {
  background: url(../images/icons/icon-guitar-acoustic.png) 0 0 no-repeat;
  background-size: 69px 79px;
  width: 69px;
  height: 79px;
}

/* line 555, ../sass/layout.scss */
.header {
  background: url(../images/header-bg.png) 0 0 no-repeat;
  background-size: 953px 217px;
  width: 953px;
  height: 217px;
  text-indent: -999999px;
  margin: 30px auto 11px auto;
  text-align: center;
}

/* line 565, ../sass/layout.scss */
.header-logo {
  background-size: 92px 83px;
  width: 115px;
  height: 106px;
  text-indent: -99999px;
  display: block;
  float: none;
  margin: 0 auto;
  position: relative;
  top: 8px;
  left: 5px;
}

/* line 583, ../sass/layout.scss */
.main-content {
  text-align: center;
  display: block;
  padding-bottom: 30px;
}

/* line 596, ../sass/layout.scss */
.instruction-icons {
  padding-top: 7px;
  margin-bottom: 1px;
}
/* line 599, ../sass/layout.scss */
.instruction-icons ul {
  font-size: 0;
}
/* line 602, ../sass/layout.scss */
.instruction-icons .plus {
  font-size: 40px;
  color: #ddd1c3;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 0;
}
/* line 607, ../sass/layout.scss */
.instruction-icons .icon {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 612, ../sass/layout.scss */
.instruction-icons li {
  display: inline-block;
  vertical-align: top;
  line-height: 65px;
  margin-left: 7px;
  margin-right: 7px;
}
/* line 619, ../sass/layout.scss */
.instruction-icons li:hover .icon {
  -webkit-transform: scale(1.3, 1.3);
  -moz-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -o-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}
/* line 624, ../sass/layout.scss */
.instruction-icons .icon-guitar {
  position: relative;
  top: -15px;
  right: -15px;
}
/* line 629, ../sass/layout.scss */
.instruction-icons .icon-drum {
  position: relative;
  top: 3px;
}
/* line 633, ../sass/layout.scss */
.instruction-icons .icon-maracas {
  position: relative;
  top: -5px;
}
/* line 637, ../sass/layout.scss */
.instruction-icons .icon-mic {
  position: relative;
  top: -5px;
  left: 2px;
}

/* line 647, ../sass/layout.scss */
.record-player {
  width: 360px;
  margin: 80px auto 28px auto;
  position: relative;
}
/* line 651, ../sass/layout.scss */
.record-player .base {
  background: url(../images/player_parts/base.png) 0 0 no-repeat;
  background-size: 360px 360px;
  width: 360px;
  height: 360px;
  padding: 9px;
  position: relative;
  z-index: 2;
}
/* line 660, ../sass/layout.scss */
.record-player .effect-ring {
  background: url(../images/player_parts/effect-ring.png) 0 0 no-repeat;
  background-size: 338px 338px;
  width: 338px;
  height: 338px;
  position: absolute;
  left: 12px;
  top: 11px;
  z-index: 3;
}
/* line 670, ../sass/layout.scss */
.record-player .effect-ring-blue {
  background: url(../images/player_parts/effect-ring-blue.png) 0 0 no-repeat;
  background-size: 338px 338px;
  width: 338px;
  height: 338px;
  position: absolute;
  left: 11px;
  top: 11px;
  z-index: 3;
}
/* line 680, ../sass/layout.scss */
.record-player .beats-ring {
  background: url(../images/player_parts/beats-ring.png) 0 0 no-repeat;
  background-size: 290px 290px;
  width: 290px;
  height: 290px;
  position: absolute;
  left: 36px;
  top: 36px;
  z-index: 4;
}
/* line 690, ../sass/layout.scss */
.record-player .beats-ring-blue {
  background: url(../images/player_parts/beats-ring-blue.png) 0 0 no-repeat;
  background-size: 290px 290px;
  width: 290px;
  height: 290px;
  position: absolute;
  left: 36px;
  top: 36px;
  z-index: 4;
}
/* line 700, ../sass/layout.scss */
.record-player .melody-ring {
  background: url(../images/player_parts/melody-ring.png) 0 0 no-repeat;
  background-size: 234px 234px;
  width: 234px;
  height: 234px;
  position: absolute;
  left: 64px;
  top: 64px;
  z-index: 5;
}
/* line 710, ../sass/layout.scss */
.record-player .melody-ring-blue {
  background: url(../images/player_parts/melody-ring-blue.png) 0 0 no-repeat;
  background-size: 234px 234px;
  width: 234px;
  height: 234px;
  position: absolute;
  left: 64px;
  top: 64px;
  z-index: 5;
}
/* line 720, ../sass/layout.scss */
.record-player .outer-label {
  background: url(../images/player_parts/outer-label-bg.png) 0 0 no-repeat;
  background-size: 140px 140px;
  width: 140px;
  height: 140px;
  position: absolute;
  left: 76px;
  top: 74px;
}
/* line 729, ../sass/layout.scss */
.record-player .inner-label {
  background: url(../images/player_parts/inner-label-bg.png) 0 0 no-repeat;
  background-size: 174px 174px;
  width: 174px;
  height: 174px;
  position: absolute;
  left: 94px;
  top: 94px;
  display: block;
  z-index: 6;
  text-align: center;
  color: #f1ebe6;
}
/* line 741, ../sass/layout.scss */
.record-player .inner-label:after {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  background: #d9d2cc;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  z-index: 5;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 753, ../sass/layout.scss */
.record-player .inner-label .inner-label-details {
  position: relative;
  width: 174px;
  height: 174px;
}
/* line 758, ../sass/layout.scss */
.record-player .inner-label .label-top {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
}
/* line 763, ../sass/layout.scss */
.record-player .inner-label .label-top .bend {
  line-height: 1;
  color: #ffffff;
  font-size: 15px;
}
/* line 767, ../sass/layout.scss */
.record-player .inner-label .label-top .bend span {
  color: #ffffff;
  line-height: normal;
}
/* line 773, ../sass/layout.scss */
.record-player .inner-label .label-bottom {
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
  text-align: center;
}
/* line 779, ../sass/layout.scss */
.record-player .inner-label .label-bottom span {
  display: block;
}
/* line 783, ../sass/layout.scss */
.record-player .inner-label .desc {
  text-transform: uppercase;
  letter-spacing: normal;
  font-size: 14px;
}
/* line 788, ../sass/layout.scss */
.record-player .inner-label .logo {
  background: url(../images/logo.png) 0 0 no-repeat;
  background-size: 51px 46px;
  width: 51px;
  height: 46px;
  margin: 0 auto;
}
/* line 795, ../sass/layout.scss */
.record-player .inner-label .name {
  font-family: 'Satisfy', cursive;
  font-size: 22px;
  letter-spacing: normal !important;
  line-height: 1;
}
/* line 801, ../sass/layout.scss */
.record-player .inner-label .dot {
  position: relative;
  top: -3px;
}
/* line 807, ../sass/layout.scss */
.record-player .needle {
  background: url(../images/player_parts/needle.png) 0 0 no-repeat;
  background-size: 155px 264px;
  width: 155px;
  height: 264px;
  position: absolute;
  right: -25px;
  top: 4px;
  z-index: 7;
}
/* line 817, ../sass/layout.scss */
.record-player .play-btn {
  background-color: #0092d1;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0092D1', endColorstr='#FF0081B9');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0092d1), color-stop(47%, #0090cf), color-stop(81%, #0084bd), color-stop(100%, #0081b9));
  background-image: -webkit-linear-gradient(top, #0092d1 0%, #0090cf 47%, #0084bd 81%, #0081b9 100%);
  background-image: -moz-linear-gradient(top, #0092d1 0%, #0090cf 47%, #0084bd 81%, #0081b9 100%);
  background-image: -o-linear-gradient(top, #0092d1 0%, #0090cf 47%, #0084bd 81%, #0081b9 100%);
  background-image: linear-gradient(top, #0092d1 0%, #0090cf 47%, #0084bd 81%, #0081b9 100%);
  padding: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px 1px;
  letter-spacing: 3px;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  position: absolute;
  right: -53px;
  top: 82px;
  z-index: 8;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 834, ../sass/layout.scss */
.record-player .play-btn:hover {
  background: none;
  background-color: #12729b;
}
/* line 838, ../sass/layout.scss */
.record-player .play-btn span {
  border: 1px solid #5db1d4;
  display: block;
  width: 48px;
  height: 48px;
  background: url(../images/player_parts/play-btn.png) 56% 50% no-repeat;
  background-size: 19px 24px;
  border-radius: 50%;
}

/* line 850, ../sass/layout.scss */
.filler-1 {
  background: url(../images/filler1.png) 0 0 no-repeat;
  background-size: 149px 171px;
  width: 149px;
  height: 171px;
  position: absolute;
  top: -77px;
  right: -10px;
  z-index: 1;
}

/* line 861, ../sass/layout.scss */
.filler-2 {
  background: url(../images/filler2.png) 0 0 no-repeat;
  background-size: 226px 248px;
  width: 226px;
  height: 248px;
  position: absolute;
  bottom: -25px;
  left: -90px;
  z-index: 1;
}

/* line 872, ../sass/layout.scss */
.filler-3 {
  background: url(../images/filler3.png) 0 0 no-repeat;
  background-size: 128px 103px;
  width: 128px;
  height: 103px;
  position: absolute;
  bottom: 35px;
  right: -35px;
  z-index: 1;
}

/* line 883, ../sass/layout.scss */
.filler-4 {
  background: url(../images/filler4.png) 0 0 no-repeat;
  background-size: 68px 137px;
  width: 68px;
  height: 137px;
  position: absolute;
  top: 27px;
  left: 0px;
  z-index: 1;
}

/* line 894, ../sass/layout.scss */
.filler-5 {
  background: url(../images/filler5.png) 0 0 no-repeat;
  background-size: 116px 116px;
  width: 116px;
  height: 116px;
  position: absolute;
  top: -52px;
  left: 94px;
  z-index: 1;
}

/* line 905, ../sass/layout.scss */
.filler-6 {
  background: url(../images/filler6.png) 0 0 no-repeat;
  background-size: 37px 76px;
  width: 37px;
  height: 76px;
  position: absolute;
  top: 151px;
  right: -54px;
  z-index: 1;
}

/* line 916, ../sass/layout.scss */
.filler-7 {
  background: url(../images/filler7.png) 0 0 no-repeat;
  background-size: 53px 41px;
  width: 53px;
  height: 41px;
  position: absolute;
  bottom: -10px;
  right: 73px;
  z-index: 1;
}

/* line 927, ../sass/layout.scss */
.filler-8 {
  background: url(../images/filler8.png) 0 0 no-repeat;
  background-size: 44px 86px;
  width: 44px;
  height: 86px;
  position: absolute;
  top: 25px;
  left: -57px;
  z-index: 1;
}

/* line 940, ../sass/layout.scss */
.circle {
  width: 80px;
  height: 80px;
  background-color: #c7beb3;
  display: inline-block;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 4px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 4px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 4px 0px inset;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
}

/* line 957, ../sass/layout.scss */
.icon-nav {
  margin-bottom: 30px !important;
}
/* line 959, ../sass/layout.scss */
.icon-nav li {
  display: inline-block;
  vertical-align: top;
  margin-left: 29px;
  margin-right: 29px;
  cursor: pointer;
}
/* line 965, ../sass/layout.scss */
.icon-nav li .icon {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 973, ../sass/layout.scss */
.icon-nav li:hover .circle {
  background-color: #69b6d7;
}
/* line 976, ../sass/layout.scss */
.icon-nav li:hover .icon {
  -webkit-transform: scale(1.3, 1.3);
  -moz-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -o-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}
/* line 981, ../sass/layout.scss */
.icon-nav li.active .circle {
  background-color: #69b6d7;
}
/* line 985, ../sass/layout.scss */
.icon-nav .icon-guitar {
  background-size: 95px 115px;
  width: 95px;
  height: 115px;
  position: absolute;
  top: -40px;
  left: 10px;
}
/* line 993, ../sass/layout.scss */
.icon-nav .icon-violin {
  position: absolute;
  top: -10px;
  left: 0;
}
/* line 998, ../sass/layout.scss */
.icon-nav .icon-trumpet {
  position: absolute;
  top: 6px;
  left: 5px;
}
/* line 1003, ../sass/layout.scss */
.icon-nav .icon-sax {
  position: absolute;
  left: -16px;
  top: -9px;
}
/* line 1008, ../sass/layout.scss */
.icon-nav .icon-recorder {
  position: absolute;
  left: 17px;
  top: -8px;
}
/* line 1013, ../sass/layout.scss */
.icon-nav .icon-bong {
  position: relative;
  top: 8px;
  left: 3px;
}
/* line 1018, ../sass/layout.scss */
.icon-nav .icon-drum {
  background-size: 40px 44px;
  width: 40px;
  height: 44px;
  position: relative;
  top: 12px;
  left: 2px;
}
/* line 1026, ../sass/layout.scss */
.icon-nav .icon-percussion {
  position: relative;
  top: 8px;
  left: 2px;
}
/* line 1031, ../sass/layout.scss */
.icon-nav .icon-snare {
  position: relative;
  top: 14px;
  left: 2px;
}
/* line 1036, ../sass/layout.scss */
.icon-nav .icon-shaker {
  position: relative;
  top: 19px;
  left: 1px;
}
/* line 1041, ../sass/layout.scss */
.icon-nav .icon-maraca {
  position: relative;
  left: 6px;
  top: 8px;
}
/* line 1046, ../sass/layout.scss */
.icon-nav .icon-triangle {
  position: relative;
  top: 4px;
  left: 4px;
}
/* line 1051, ../sass/layout.scss */
.icon-nav .icon-cymbals-blue {
  position: relative;
  left: 5px;
}
/* line 1055, ../sass/layout.scss */
.icon-nav .icon-cymbals {
  position: relative;
  top: 14px;
}
/* line 1059, ../sass/layout.scss */
.icon-nav .icon-drum-head {
  position: relative;
  top: 6px;
  left: -3px;
}
/* line 1064, ../sass/layout.scss */
.icon-nav .icon-guitar-acoustic {
  position: relative;
  top: -10px;
  left: -5px;
}

/* line 1075, ../sass/layout.scss */
.bottom-nav {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  max-width: 1200px;
  margin: 0 auto;
}
/* line 1081, ../sass/layout.scss */
.bottom-nav li {
  float: left;
  width: 25%;
  position: relative;
  background: url(../images/triangle-menu.png) 50% 0 no-repeat;
}
/* line 1087, ../sass/layout.scss */
.bottom-nav a {
  display: block;
  height: 70px;
  font-size: 17px;
  padding-top: 35px;
  color: #7e6d6b;
  background: url(../images/triangle-menu-hover.png) 50% 0px no-repeat;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 1100, ../sass/layout.scss */
.bottom-nav li:hover .circle, .bottom-nav li.active .circle {
  background: none;
  background-color: #67b2d3;
}
/* line 1104, ../sass/layout.scss */
.bottom-nav li:hover .icon, .bottom-nav li.active .icon {
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
/* line 1107, ../sass/layout.scss */
.bottom-nav li:hover a, .bottom-nav li.active a {
  background: url(../images/triangle-menu-hover.png) 50% -156px no-repeat;
  text-decoration: none;
  color: white;
}
/* line 1113, ../sass/layout.scss */
.bottom-nav .icon {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 1119, ../sass/layout.scss */
.bottom-nav .circle {
  width: 52px;
  height: 52px;
  position: absolute;
  left: 50%;
  top: -25px;
  margin-left: -25px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 1131, ../sass/layout.scss */
.bottom-nav .icon-guitar {
  background-size: 56px 69px;
  width: 56px;
  height: 69px;
  position: absolute;
  top: -24px;
  left: 7px;
}
/* line 1139, ../sass/layout.scss */
.bottom-nav .icon-bong {
  background-size: 42px 40px;
  width: 42px;
  height: 40px;
  position: relative;
  left: 2px;
}
/* line 1146, ../sass/layout.scss */
.bottom-nav .icon-mic {
  background-size: 25px 57px;
  width: 25px;
  height: 57px;
  position: relative;
  top: -15px;
  left: 2px;
}
/* line 1154, ../sass/layout.scss */
.bottom-nav .icon-cymbals {
  background-size: 33px 35px;
  width: 33px;
  height: 35px;
  position: relative;
  top: 9px;
}

/* line 1167, ../sass/layout.scss */
.rotation {
  width: 518px;
  height: 518px;
  position: absolute;
  left: -80px;
  top: -80px;
}
/* line 1173, ../sass/layout.scss */
.rotation .outer {
  background-color: rgba(255, 255, 255, 0);
  z-index: 10;
  border: 35px solid #ffffff;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 20px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 20px 0px;
  font-size: 14px;
}
/* line 1182, ../sass/layout.scss */
.rotation .outer .bend {
  line-height: 1;
  font-size: 20px;
}
/* line 1185, ../sass/layout.scss */
.rotation .outer .bend span {
  color: #c0b6a3;
  line-height: normal;
}
/* line 1190, ../sass/layout.scss */
.rotation .outer .left {
  left: -30px;
}
/* line 1195, ../sass/layout.scss */
.rotation .outer .top {
  left: 50%;
}
/* line 1200, ../sass/layout.scss */
.rotation .inner {
  position: absolute;
  top: 36px;
  left: 36px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 45px solid #ece7df;
  border-radius: 50%;
  width: 448px;
  height: 448px;
  border-left-color: #dfd9ce;
  border-right-color: #dfd9ce;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 1214, ../sass/layout.scss */
.rotation .inner .bend {
  line-height: 1;
  font-size: 17px;
}
/* line 1217, ../sass/layout.scss */
.rotation .inner .bend span {
  color: #7e6d6b;
  line-height: normal;
}
/* line 1222, ../sass/layout.scss */
.rotation .inner .top {
  width: 100%;
  text-align: center;
  left: 0;
}
/* line 1228, ../sass/layout.scss */
.rotation .inner .right {
  right: -37px;
}
/* line 1231, ../sass/layout.scss */
.rotation .inner .left {
  left: -55px;
}
/* line 1235, ../sass/layout.scss */
.rotation .rotation-content {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 1240, ../sass/layout.scss */
.rotation .rotation-content > div.active span {
  color: white;
}
/* line 1245, ../sass/layout.scss */
.rotation .top {
  position: absolute;
  top: -30px;
  z-index: 20;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 1251, ../sass/layout.scss */
.rotation .bottom {
  position: absolute;
  bottom: -31px;
  left: 50%;
  z-index: 20;
  -webkit-transform: translate(-50%, 0px);
  -moz-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  -o-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}
/* line 1258, ../sass/layout.scss */
.rotation .right {
  position: absolute;
  top: 50%;
  right: -28px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: 20;
}
/* line 1265, ../sass/layout.scss */
.rotation .left {
  position: absolute;
  top: 50%;
  left: -49px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  z-index: 20;
}
/* line 1273, ../sass/layout.scss */
.rotation.active:after {
  content: '';
  background: url(../images/rotation-active-bg.png) 0 0 no-repeat;
  background-size: 379px 153px;
  width: 379px;
  height: 153px;
  position: absolute;
  bottom: -20px;
  left: 50.2%;
  z-index: 13;
  -webkit-transform: translate(-50%, 0px);
  -moz-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  -o-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}
/* line 1287, ../sass/layout.scss */
.rotation.active .inner .bottom span {
  color: #ffffff;
}
/* line 1293, ../sass/layout.scss */
.rotation.active .outer .bottom {
  bottom: -35px;
}
/* line 1295, ../sass/layout.scss */
.rotation.active .outer .bottom span {
  color: #8c7c7a;
}

/* line 1304, ../sass/layout.scss */
.rotation-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 1310, ../sass/layout.scss */
.rotate-next {
  background: url(../images/arrow-right.png) 0 0 no-repeat;
  background-size: 84px 72px;
  width: 84px;
  height: 36px;
  position: absolute;
  bottom: -34px;
  right: 95px;
}
/* line 1318, ../sass/layout.scss */
.rotate-next:hover, .rotate-next.active {
  background-position: 0 -36px;
}

/* line 1323, ../sass/layout.scss */
.rotate-prev {
  background: url(../images/arrow-left.png) 0 0 no-repeat;
  background-size: 84px 72px;
  width: 84px;
  height: 36px;
  position: absolute;
  bottom: -34px;
  left: 95px;
}
/* line 1331, ../sass/layout.scss */
.rotate-prev:hover, .rotate-prev.active {
  background-position: 0 -36px;
}

/* line 1336, ../sass/layout.scss */
.rotate-up {
  background: url(../images/arrow-up-down.png) 0 0 no-repeat;
  background-size: 59px 76px;
  width: 59px;
  height: 38px;
  position: absolute;
  bottom: -47px;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
  -moz-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  -o-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}
/* line 1345, ../sass/layout.scss */
.rotate-up:hover, .rotate-up.active {
  background: url(../images/arrow-up-down-hover.png) 0 0 no-repeat;
  background-size: 59px 76px;
}

/* line 1351, ../sass/layout.scss */
.rotate-down {
  background: url(../images/arrow-up-down.png) 0 -38px no-repeat;
  background-size: 59px 76px;
  width: 59px;
  height: 38px;
  position: absolute;
  bottom: -84px;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
  -moz-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  -o-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}
/* line 1360, ../sass/layout.scss */
.rotate-down:hover, .rotate-down.active {
  background: url(../images/arrow-up-down-hover.png) 0 -38px no-repeat;
  background-size: 59px 76px;
}

@-moz-document url-prefix() {
  /* line 1369, ../sass/layout.scss */
  .rotation .outer .bottom {
    bottom: -20px;
  }
  /* line 1372, ../sass/layout.scss */
  .rotation .outer .top {
    top: -18px;
  }
  /* line 1375, ../sass/layout.scss */
  .rotation .outer .left {
    left: -17px;
  }
  /* line 1378, ../sass/layout.scss */
  .rotation .outer .right {
    right: -18px;
  }
  /* line 1384, ../sass/layout.scss */
  .rotation.active .outer .bottom {
    bottom: -28px;
  }
  /* line 1386, ../sass/layout.scss */
  .rotation.active .outer .bottom span {
    color: #8c7c7a;
  }
}

/* line 1401, ../sass/layout.scss */
.tabs li a {
  min-width: 110px;
}

/* line 1411, ../sass/layout.scss */
.share-block {
  position: relative;
  padding-top: 20px;
}
/* line 1415, ../sass/layout.scss */
.share-block:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0px);
  -moz-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  -o-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
  width: 195px;
  height: 3px;
  background-color: #ddd1c3;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px 1px inset;
}

/* line 1429, ../sass/layout.scss */
form .heading-category {
  margin-bottom: 5px;
}

/* line 1434, ../sass/layout.scss */
.form-content {
  padding-bottom: 80px;
}

/* line 1441, ../sass/layout.scss */
.instructions .record-player {
  margin-top: 50px;
}

/* line 1452, ../sass/layout.scss */
.disc {
  background: url(../images/disc.png) 0 0 no-repeat;
  width: 324px;
  height: 104px;
  margin: 0 auto;
}

/* line 1459, ../sass/layout.scss */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 99;
}
/* line 1465, ../sass/layout.scss */
.footer .footer-content {
  border-top: 1px solid #ad9d96;
  text-align: center;
  font-size: 13px;
  color: #7d6c6b;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* line 1472, ../sass/layout.scss */
.footer .footer-content a {
  color: #7d6c6b;
}
/* line 1476, ../sass/layout.scss */
.footer .div {
  margin-left: 13px;
  margin-right: 13px;
}

/* line 1483, ../sass/layout.scss */
.lyrics {
  padding-bottom: 90px;
}

/* line 1487, ../sass/layout.scss */
.finish-record {
  padding-bottom: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* line 1493, ../sass/layout.scss */
  .header {
    background: url(../images/header-bg.png) 0 0 no-repeat;
    background-size: 602px 143px;
    width: 602px;
    height: 143px;
    margin: 42px auto 11px auto;
    text-align: center;
  }

  /* line 1502, ../sass/layout.scss */
  .bottom-nav {
    max-width: 768px;
  }
  /* line 1504, ../sass/layout.scss */
  .bottom-nav li {
    float: left;
    width: 25%;
    position: relative;
    background: url(../images/triangle-menu.png) 50% 0 no-repeat;
  }
  /* line 1510, ../sass/layout.scss */
  .bottom-nav a {
    display: block;
    height: 47px;
    font-size: 14px;
    padding-top: 24px;
  }
  /* line 1516, ../sass/layout.scss */
  .bottom-nav .circle {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: -28px;
    margin-left: -21px;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  /* line 1527, ../sass/layout.scss */
  .bottom-nav .icon-guitar {
    background-size: 44px 54px;
    width: 44px;
    height: 54px;
    position: absolute;
    top: -20px;
    left: 7px;
  }
  /* line 1535, ../sass/layout.scss */
  .bottom-nav .icon-bong {
    background-size: 33px 33px;
    width: 33px;
    height: 33px;
    position: relative;
    left: 2px;
  }
  /* line 1542, ../sass/layout.scss */
  .bottom-nav .icon-mic {
    background-size: 20px 46px;
    width: 20px;
    height: 46px;
    position: relative;
    top: -11px;
    left: 2px;
  }
  /* line 1550, ../sass/layout.scss */
  .bottom-nav .icon-cymbals {
    background-size: 28px 29px;
    width: 28px;
    height: 29px;
    position: relative;
    top: 7px;
  }

  /* line 1558, ../sass/layout.scss */
  .circle {
    width: 65px;
    height: 65px;
    background-color: #c7beb3;
    display: inline-block;
    border-radius: 50%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 4px 0px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 4px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 4px 0px inset;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    position: relative;
  }

  /* line 1570, ../sass/layout.scss */
  .icon-nav {
    margin-bottom: 10px !important;
  }
  /* line 1573, ../sass/layout.scss */
  .icon-nav li:hover .circle {
    background-color: #69b6d7;
  }
  /* line 1576, ../sass/layout.scss */
  .icon-nav li:hover .icon {
    -webkit-transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    -o-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
  }
  /* line 1581, ../sass/layout.scss */
  .icon-nav li.active .circle {
    background-color: #69b6d7;
  }
  /* line 1585, ../sass/layout.scss */
  .icon-nav .icon-guitar {
    background-size: 70px 85px;
    width: 70px;
    height: 85px;
    position: absolute;
    top: -27px;
    left: 10px;
  }
  /* line 1593, ../sass/layout.scss */
  .icon-nav .icon-guitar-acoustic {
    background-size: 60px 69px;
    width: 60px;
    height: 69px;
    position: relative;
    top: -10px;
    left: -5px;
  }
  /* line 1601, ../sass/layout.scss */
  .icon-nav .icon-violin {
    position: absolute;
    top: -10px;
    left: 0;
  }
  /* line 1606, ../sass/layout.scss */
  .icon-nav .icon-trumpet {
    background-size: 81px 48px;
    width: 81px;
    height: 48px;
    position: absolute;
    top: 2px;
    left: 5px;
  }
  /* line 1614, ../sass/layout.scss */
  .icon-nav .icon-sax {
    background-size: 65px 68px;
    width: 65px;
    height: 68px;
    position: absolute;
    left: -16px;
    top: -6px;
  }
  /* line 1622, ../sass/layout.scss */
  .icon-nav .icon-recorder {
    background-size: 38px 72px;
    width: 38px;
    height: 72px;
    position: absolute;
    left: 9px;
    top: -4px;
  }
  /* line 1630, ../sass/layout.scss */
  .icon-nav .icon-bong {
    background-size: 51px 50px;
    width: 51px;
    height: 50px;
    position: relative;
    top: 8px;
    left: 2px;
  }
  /* line 1638, ../sass/layout.scss */
  .icon-nav .icon-drum {
    background-size: 40px 44px;
    width: 40px;
    height: 44px;
    position: relative;
    top: 12px;
    left: 2px;
  }
  /* line 1646, ../sass/layout.scss */
  .icon-nav .icon-drum-head {
    background-size: 45px 55px;
    width: 45px;
    height: 55px;
  }
  /* line 1652, ../sass/layout.scss */
  .icon-nav .icon-percussion {
    background-size: 51px 51px;
    width: 51px;
    height: 51px;
    position: relative;
    top: 8px;
    left: 1px;
  }
  /* line 1660, ../sass/layout.scss */
  .icon-nav .icon-snare {
    background-size: 50px 42px;
    width: 50px;
    height: 42px;
    position: relative;
    top: 11px;
    left: 2px;
  }
  /* line 1668, ../sass/layout.scss */
  .icon-nav .icon-shaker {
    background-size: 49px 32px;
    width: 49px;
    height: 32px;
    position: relative;
    top: 16px;
    left: 1px;
  }
  /* line 1676, ../sass/layout.scss */
  .icon-nav .icon-maraca {
    background-size: 30px 50px;
    width: 30px;
    height: 50px;
    position: relative;
    left: 6px;
    top: 8px;
  }
  /* line 1684, ../sass/layout.scss */
  .icon-nav .icon-triangle {
    background-size: 48px 65px;
    width: 48px;
    height: 65px;
    position: relative;
    top: 4px;
    left: 4px;
  }
  /* line 1692, ../sass/layout.scss */
  .icon-nav .icon-cymbals-blue {
    background-size: 55px 57px;
    width: 55px;
    height: 57px;
    position: relative;
    left: 5px;
    top: 4px;
  }
  /* line 1700, ../sass/layout.scss */
  .icon-nav .icon-cymbals {
    background-size: 40px 42px;
    width: 40px;
    height: 42px;
    position: relative;
    top: 11px;
  }
  /* line 1707, ../sass/layout.scss */
  .icon-nav .icon-bell {
    background-size: 39px 53px;
    width: 38px;
    height: 53px;
    top: 5px;
    left: 3px;
  }

  /* line 1715, ../sass/layout.scss */
  .finish-record {
    padding-bottom: 20px;
  }

  /* line 1719, ../sass/layout.scss */
  .button-triangle {
    font-size: 20px;
    min-width: 200px;
  }
  /* line 1722, ../sass/layout.scss */
  .button-triangle span {
    display: block;
    position: relative;
    z-index: 3;
  }
  /* line 1726, ../sass/layout.scss */
  .button-triangle span:before {
    content: '';
    position: absolute;
    left: 17px;
    top: 1px;
    width: 0;
    height: 0;
    border-left: 79px solid transparent;
    border-right: 79px solid transparent;
    border-top: 44px solid #e1808d;
  }
  /* line 1737, ../sass/layout.scss */
  .button-triangle span:after {
    content: '';
    position: absolute;
    left: 21px;
    top: 2px;
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-top: 41px solid #df4a5d;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  /* line 1752, ../sass/layout.scss */
  .button-triangle:before {
    content: '';
    position: absolute;
    left: 8px;
    top: 0;
    z-index: 2;
    width: 0;
    height: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-top: 51px solid #c12d40;
  }
  /* line 1766, ../sass/layout.scss */
  .button-triangle:hover span:after {
    border-top-color: #c12d40;
  }
}
@media (max-width: 767px) {
  /* line 1789, ../sass/layout.scss */
  body {
    color: #7e6d6b;
  }

  /* line 1792, ../sass/layout.scss */
  h4 {
    color: #7e6d6b;
    font-size: 16px;
  }

  /* line 1797, ../sass/layout.scss */
  .wrapper {
    background: url(../images/mobile/wrapper-bg.jpg) 50% 0 no-repeat;
    background-size: 637px 530px;
    min-height: 430px;
    overflow: hidden;
  }
  /* line 1802, ../sass/layout.scss */
  .wrapper > .container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  /* line 1807, ../sass/layout.scss */
  .wrapper .main {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* line 1814, ../sass/layout.scss */
  .header {
    background: url(../images/mobile/header-bg.png) 0 0 no-repeat;
    background-size: 314px 114px;
    width: 314px;
    height: 114px;
    margin: 14px auto 2px auto;
  }

  /* line 1821, ../sass/layout.scss */
  .header-logo {
    background: url(../images/mobile/logo.png) 0 0 no-repeat;
    background-size: 60px 54px;
    width: 60px;
    height: 54px;
    position: relative;
    top: 5px;
    left: 2px;
  }

  /* line 1832, ../sass/layout.scss */
  .sub-title {
    font-family: 'Satisfy', cursive;
    color: #7e6d6b;
    font-size: 17px;
    display: block;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 0;
    line-height: 1;
  }
  /* line 1839, ../sass/layout.scss */
  .sub-title.text-heavy {
    font-size: 20px;
  }

  /* line 1846, ../sass/layout.scss */
  .heading-bullet h1:before {
    content: "\2022";
    position: absolute;
    left: -13px;
    top: 45%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 20px;
  }
  /* line 1854, ../sass/layout.scss */
  .heading-bullet h1:after {
    content: "\2022";
    position: absolute;
    right: -13px;
    top: 45%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 20px;
  }
  /* line 1864, ../sass/layout.scss */
  .heading-bullet h2:before {
    content: "\2022";
    position: absolute;
    left: -13px;
    top: 45%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 20px;
  }
  /* line 1872, ../sass/layout.scss */
  .heading-bullet h2:after {
    content: "\2022";
    position: absolute;
    right: -13px;
    top: 45%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 20px;
  }

  /* line 1883, ../sass/layout.scss */
  h1 {
    position: relative;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  /* line 1892, ../sass/layout.scss */
  .record-player {
    width: 206px;
    margin: 22px auto 10px auto;
    position: relative;
  }
  /* line 1896, ../sass/layout.scss */
  .record-player .base {
    background: url(../images/player_parts/base.png) 0 0 no-repeat;
    background-size: 206px 206px;
    width: 206px;
    height: 206px;
  }
  /* line 1902, ../sass/layout.scss */
  .record-player .effect-ring {
    background: url(../images/player_parts/effect-ring.png) 0 0 no-repeat;
    background-size: 194px 194px;
    width: 194px;
    height: 194px;
    position: absolute;
    left: 7px;
    top: 6px;
    z-index: 3;
  }
  /* line 1912, ../sass/layout.scss */
  .record-player .effect-ring-blue {
    background: url(../images/player_parts/effect-ring-blue.png) 0 0 no-repeat;
    background-size: 194px 194px;
    width: 194px;
    height: 194px;
    position: absolute;
    left: 7px;
    top: 6px;
    z-index: 3;
  }
  /* line 1922, ../sass/layout.scss */
  .record-player .beats-ring {
    background: url(../images/player_parts/beats-ring.png) 0 0 no-repeat;
    background-size: 165px 165px;
    width: 165px;
    height: 165px;
    position: absolute;
    left: 22px;
    top: 20px;
    z-index: 4;
  }
  /* line 1932, ../sass/layout.scss */
  .record-player .beats-ring-blue {
    background: url(../images/player_parts/beats-ring-blue.png) 0 0 no-repeat;
    background-size: 162px 162px;
    width: 162px;
    height: 162px;
    position: absolute;
    left: 23px;
    top: 21px;
    z-index: 4;
  }
  /* line 1942, ../sass/layout.scss */
  .record-player .melody-ring {
    background: url(../images/player_parts/melody-ring.png) 0 0 no-repeat;
    background-size: 131px 131px;
    width: 131px;
    height: 131px;
    position: absolute;
    left: 39px;
    top: 37px;
    z-index: 5;
  }
  /* line 1952, ../sass/layout.scss */
  .record-player .melody-ring-blue {
    background: url(../images/player_parts/melody-ring-blue.png) 0 0 no-repeat;
    background-size: 131px 131px;
    width: 131px;
    height: 131px;
    position: absolute;
    left: 39px;
    top: 37px;
    z-index: 5;
  }
  /* line 1962, ../sass/layout.scss */
  .record-player .outer-label {
    background: url(../images/player_parts/outer-label-bg.png) 0 0 no-repeat;
    background-size: 140px 140px;
    width: 140px;
    height: 140px;
    position: absolute;
    left: 76px;
    top: 74px;
  }
  /* line 1971, ../sass/layout.scss */
  .record-player .inner-label {
    background: url(../images/player_parts/inner-label-bg.png) 0 0 no-repeat;
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 55px;
    top: 53px;
    display: block;
    z-index: 6;
    text-align: center;
    color: #ffffff;
  }
  /* line 1983, ../sass/layout.scss */
  .record-player .inner-label:after {
    width: 8px;
    height: 8px;
  }
  /* line 1987, ../sass/layout.scss */
  .record-player .inner-label .inner-label-details {
    position: relative;
    width: 100px;
    height: 100px;
  }
  /* line 1992, ../sass/layout.scss */
  .record-player .inner-label .label-top {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
  }
  /* line 1997, ../sass/layout.scss */
  .record-player .inner-label .label-top .bend {
    line-height: 1;
    color: #ffffff;
    font-size: 11px;
  }
  /* line 2001, ../sass/layout.scss */
  .record-player .inner-label .label-top .bend span {
    color: #ffffff;
    line-height: normal;
  }
  /* line 2007, ../sass/layout.scss */
  .record-player .inner-label .label-bottom {
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  /* line 2013, ../sass/layout.scss */
  .record-player .inner-label .label-bottom span {
    display: block;
  }
  /* line 2017, ../sass/layout.scss */
  .record-player .inner-label .desc {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
  }
  /* line 2022, ../sass/layout.scss */
  .record-player .inner-label .logo {
    background: url(../images/logo.png) 0 0 no-repeat;
    background-size: 31px 28px;
    width: 31px;
    height: 28px;
    margin: 0 auto;
  }
  /* line 2029, ../sass/layout.scss */
  .record-player .inner-label .name {
    font-family: 'Satisfy', cursive;
    font-size: 18px;
    letter-spacing: normal !important;
    line-height: 1;
  }
  /* line 2035, ../sass/layout.scss */
  .record-player .inner-label .dot {
    position: relative;
    top: -3px;
  }
  /* line 2041, ../sass/layout.scss */
  .record-player .needle {
    background: url(../images/player_parts/needle.png) 0 0 no-repeat;
    background-size: 80px 136px;
    width: 80px;
    height: 136px;
    position: absolute;
    right: -15px;
    top: 9px;
    z-index: 7;
  }
  /* line 2051, ../sass/layout.scss */
  .record-player .play-btn {
    background-color: #0092d1;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0092D1', endColorstr='#FF0081B9');
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0092d1), color-stop(47%, #0090cf), color-stop(81%, #0084bd), color-stop(100%, #0081b9));
    background-image: -webkit-linear-gradient(top, #0092d1 0%, #0090cf 47%, #0084bd 81%, #0081b9 100%);
    background-image: -moz-linear-gradient(top, #0092d1 0%, #0090cf 47%, #0084bd 81%, #0081b9 100%);
    background-image: -o-linear-gradient(top, #0092d1 0%, #0090cf 47%, #0084bd 81%, #0081b9 100%);
    background-image: linear-gradient(top, #0092d1 0%, #0090cf 47%, #0084bd 81%, #0081b9 100%);
    padding: 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px 1px;
    letter-spacing: 3px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    right: -30px;
    top: 55px;
    z-index: 8;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  /* line 2068, ../sass/layout.scss */
  .record-player .play-btn:hover {
    background: none;
    background-color: #12729b;
  }
  /* line 2072, ../sass/layout.scss */
  .record-player .play-btn span {
    border: 1px solid #5db1d4;
    display: block;
    width: 26px;
    height: 26px;
    background: url(../images/player_parts/play-btn.png) 58% 50% no-repeat;
    background-size: 10px 12px;
    border-radius: 50%;
  }

  /* line 2084, ../sass/layout.scss */
  .filler-1 {
    background: url(../images/filler1.png) 0 0 no-repeat;
    background-size: 76px 87px;
    width: 76px;
    height: 87px;
    position: absolute;
    top: -22px;
    right: 0;
    z-index: 1;
  }

  /* line 2095, ../sass/layout.scss */
  .filler-2 {
    background: url(../images/mobile/filler2.png) 0 0 no-repeat;
    background-size: 107px 158px;
    width: 107px;
    height: 158px;
    position: absolute;
    bottom: 0px;
    left: -40px;
    z-index: 1;
  }

  /* line 2106, ../sass/layout.scss */
  .filler-3 {
    background: url(../images/mobile/filler3.png) 0 0 no-repeat;
    background-size: 65px 69px;
    width: 65px;
    height: 69px;
    position: absolute;
    bottom: 25px;
    right: -22px;
    z-index: 1;
  }

  /* line 2117, ../sass/layout.scss */
  .filler-4 {
    background: url(../images/filler4.png) 0 0 no-repeat;
    background-size: 39px 78px;
    width: 39px;
    height: 78px;
    position: absolute;
    top: 15px;
    left: 0px;
    z-index: 1;
  }

  /* line 2128, ../sass/layout.scss */
  .filler-5 {
    background: url(../images/filler5.png) 0 0 no-repeat;
    background-size: 59px 58px;
    width: 59px;
    height: 58px;
    position: absolute;
    top: -20px;
    left: 45px;
    z-index: 1;
  }

  /* line 2139, ../sass/layout.scss */
  .filler-6 {
    display: none;
  }

  /* line 2143, ../sass/layout.scss */
  .filler-7 {
    display: none;
  }

  /* line 2147, ../sass/layout.scss */
  .filler-8 {
    display: none;
  }

  /* line 2152, ../sass/layout.scss */
  .disc {
    background: url(../images/disc.png) 0 0 no-repeat;
    background-size: 235px 46px;
    width: 235px;
    height: 46px;
    margin: 0 auto;
  }

  /* line 2162, ../sass/layout.scss */
  .bottom-nav {
    max-width: 768px;
  }
  /* line 2164, ../sass/layout.scss */
  .bottom-nav li {
    float: left;
    width: 25%;
    position: relative;
    background: url(../images/triangle-menu.png) 50% 0 no-repeat;
    background-size: 153px 100px;
  }
  /* line 2171, ../sass/layout.scss */
  .bottom-nav a {
    background: url(../images/triangle-menu-hover.png) 50% 0px no-repeat;
    background-size: 153px 200px;
    display: block;
    height: 47px;
    font-size: 12px;
    padding-top: 29px;
  }
  /* line 2180, ../sass/layout.scss */
  .bottom-nav li:hover a, .bottom-nav li.active a {
    background: url(../images/triangle-menu-hover.png) 50% -100px no-repeat;
    background-size: 153px 200px;
    text-decoration: none;
    color: white;
  }
  /* line 2187, ../sass/layout.scss */
  .bottom-nav .circle {
    width: 28px;
    height: 28px;
    position: absolute;
    left: 50%;
    top: -10px;
    margin-left: -16px;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  /* line 2198, ../sass/layout.scss */
  .bottom-nav .icon-guitar {
    background-size: 30px 37px;
    width: 30px;
    height: 37px;
    position: absolute;
    top: -15px;
    left: 5px;
  }
  /* line 2206, ../sass/layout.scss */
  .bottom-nav .icon-bong {
    background-size: 25px 24px;
    width: 25px;
    height: 24px;
    position: relative;
    left: 2px;
  }
  /* line 2213, ../sass/layout.scss */
  .bottom-nav .icon-mic {
    background-size: 12px 28px;
    width: 12px;
    height: 28px;
    position: relative;
    top: -5px;
    left: 2px;
  }
  /* line 2221, ../sass/layout.scss */
  .bottom-nav .icon-cymbals {
    background-size: 20px 21px;
    width: 20px;
    height: 21px;
    position: relative;
    top: 3px;
    left: 1px;
  }

  /* line 2230, ../sass/layout.scss */
  .circle {
    width: 65px;
    height: 65px;
    background-color: #c7beb3;
    display: inline-block;
    border-radius: 50%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 4px 0px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 4px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 4px 0px inset;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    position: relative;
  }

  /* line 2245, ../sass/layout.scss */
  .button-triangle {
    font-size: 18px;
    min-width: 110px;
  }
  /* line 2248, ../sass/layout.scss */
  .button-triangle span {
    display: block;
    position: relative;
    z-index: 3;
  }
  /* line 2252, ../sass/layout.scss */
  .button-triangle span:before {
    content: '';
    position: absolute;
    left: 12px;
    top: 1px;
    width: 0;
    height: 0;
    border-left: 44px solid transparent;
    border-right: 44px solid transparent;
    border-top: 34px solid #e1808d;
  }
  /* line 2263, ../sass/layout.scss */
  .button-triangle span:after {
    content: '';
    position: absolute;
    left: 16px;
    top: 2px;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 31px solid #df4a5d;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  /* line 2278, ../sass/layout.scss */
  .button-triangle em {
    top: 3px;
    left: 3px;
  }
  /* line 2281, ../sass/layout.scss */
  .button-triangle em:before {
    left: -6px;
    font-size: 11px;
  }
  /* line 2285, ../sass/layout.scss */
  .button-triangle em:after {
    right: -6px;
    font-size: 11px;
  }
  /* line 2290, ../sass/layout.scss */
  .button-triangle:before {
    content: '';
    position: absolute;
    left: 8px;
    top: 0;
    z-index: 2;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 41px solid #c12d40;
  }
  /* line 2305, ../sass/layout.scss */
  .button-triangle:hover span:after {
    border-top-color: #c12d40;
  }

  /* line 2312, ../sass/layout.scss */
  .finish-record {
    padding-bottom: 42px;
  }

  /* line 2318, ../sass/layout.scss */
  .lyrics .record-player {
    width: 252px;
    margin: 28px auto 10px auto;
    position: relative;
  }
  /* line 2322, ../sass/layout.scss */
  .lyrics .record-player .base {
    background: url(../images/player_parts/base.png) 0 0 no-repeat;
    background-size: 252px 252px;
    width: 252px;
    height: 252px;
  }
  /* line 2328, ../sass/layout.scss */
  .lyrics .record-player .effect-ring {
    background: url(../images/player_parts/effect-ring.png) 0 0 no-repeat;
    background-size: 236px 236px;
    width: 236px;
    height: 236px;
    left: 8px;
    top: 8px;
  }
  /* line 2336, ../sass/layout.scss */
  .lyrics .record-player .effect-ring-blue {
    background: url(../images/player_parts/effect-ring-blue.png) 0 0 no-repeat;
    background-size: 270px 270px;
    width: 270px;
    height: 270px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 3;
  }
  /* line 2346, ../sass/layout.scss */
  .lyrics .record-player .beats-ring {
    background: url(../images/player_parts/beats-ring.png) 0 0 no-repeat;
    background-size: 204px 204px;
    width: 204px;
    height: 204px;
    position: absolute;
    left: 24px;
    top: 24px;
    z-index: 4;
  }
  /* line 2356, ../sass/layout.scss */
  .lyrics .record-player .beats-ring-blue {
    background: url(../images/player_parts/beats-ring-blue.png) 0 0 no-repeat;
    background-size: 231px 231px;
    width: 231px;
    height: 231px;
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 4;
  }
  /* line 2366, ../sass/layout.scss */
  .lyrics .record-player .melody-ring {
    background: url(../images/player_parts/melody-ring.png) 0 0 no-repeat;
    background-size: 162px 162px;
    width: 162px;
    height: 162px;
    position: absolute;
    left: 46px;
    top: 45px;
    z-index: 5;
  }
  /* line 2376, ../sass/layout.scss */
  .lyrics .record-player .melody-ring-blue {
    background: url(../images/player_parts/melody-ring-blue.png) 0 0 no-repeat;
    background-size: 184px 184px;
    width: 184px;
    height: 184px;
    position: absolute;
    left: 53px;
    top: 53px;
    z-index: 5;
  }
  /* line 2386, ../sass/layout.scss */
  .lyrics .record-player .outer-label {
    background: url(../images/player_parts/outer-label-bg.png) 0 0 no-repeat;
    background-size: 140px 140px;
    width: 140px;
    height: 140px;
    position: absolute;
    left: 76px;
    top: 74px;
  }
  /* line 2395, ../sass/layout.scss */
  .lyrics .record-player .inner-label {
    background: url(../images/player_parts/inner-label-bg.png) 0 0 no-repeat;
    background-size: 122px 122px;
    width: 122px;
    height: 122px;
    position: absolute;
    left: 66px;
    top: 65px;
    display: block;
    z-index: 6;
    text-align: center;
    color: #ffffff;
  }
  /* line 2407, ../sass/layout.scss */
  .lyrics .record-player .inner-label:after {
    width: 8px;
    height: 8px;
  }
  /* line 2411, ../sass/layout.scss */
  .lyrics .record-player .inner-label .inner-label-details {
    position: relative;
    width: 100px;
    height: 100px;
  }
  /* line 2416, ../sass/layout.scss */
  .lyrics .record-player .inner-label .label-top {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
  }
  /* line 2421, ../sass/layout.scss */
  .lyrics .record-player .inner-label .label-top .bend {
    line-height: 1;
    color: #ffffff;
  }
  /* line 2424, ../sass/layout.scss */
  .lyrics .record-player .inner-label .label-top .bend span {
    color: #ffffff;
    line-height: normal;
  }
  /* line 2430, ../sass/layout.scss */
  .lyrics .record-player .inner-label .label-bottom {
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  /* line 2436, ../sass/layout.scss */
  .lyrics .record-player .inner-label .label-bottom span {
    display: block;
  }
  /* line 2440, ../sass/layout.scss */
  .lyrics .record-player .inner-label .desc {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
  }
  /* line 2445, ../sass/layout.scss */
  .lyrics .record-player .inner-label .logo {
    background: url(../images/logo.png) 0 0 no-repeat;
    background-size: 31px 28px;
    width: 31px;
    height: 28px;
    margin: 0 auto;
  }
  /* line 2452, ../sass/layout.scss */
  .lyrics .record-player .inner-label .name {
    font-family: 'Satisfy', cursive;
    font-size: 18px;
    letter-spacing: normal !important;
    line-height: 1;
  }
  /* line 2458, ../sass/layout.scss */
  .lyrics .record-player .inner-label .dot {
    position: relative;
    top: -3px;
  }
  /* line 2464, ../sass/layout.scss */
  .lyrics .record-player .needle {
    background: url(../images/player_parts/needle.png) 0 0 no-repeat;
    background-size: 80px 136px;
    width: 80px;
    height: 136px;
    position: absolute;
    right: -15px;
    top: 9px;
    z-index: 7;
  }
  /* line 2474, ../sass/layout.scss */
  .lyrics .record-player .play-btn {
    background-color: #0092d1;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0092D1', endColorstr='#FF0081B9');
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0092d1), color-stop(47%, #0090cf), color-stop(81%, #0084bd), color-stop(100%, #0081b9));
    background-image: -webkit-linear-gradient(top, #0092d1 0%, #0090cf 47%, #0084bd 81%, #0081b9 100%);
    background-image: -moz-linear-gradient(top, #0092d1 0%, #0090cf 47%, #0084bd 81%, #0081b9 100%);
    background-image: -o-linear-gradient(top, #0092d1 0%, #0090cf 47%, #0084bd 81%, #0081b9 100%);
    background-image: linear-gradient(top, #0092d1 0%, #0090cf 47%, #0084bd 81%, #0081b9 100%);
    padding: 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px 1px;
    letter-spacing: 3px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    right: -30px;
    top: 65px;
    z-index: 8;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  /* line 2491, ../sass/layout.scss */
  .lyrics .record-player .play-btn:hover {
    background: none;
    background-color: #12729b;
  }
  /* line 2495, ../sass/layout.scss */
  .lyrics .record-player .play-btn span {
    border: 1px solid #5db1d4;
    display: block;
    width: 26px;
    height: 26px;
    background: url(../images/player_parts/play-btn.png) 58% 50% no-repeat;
    background-size: 10px 12px;
    border-radius: 50%;
  }

  /* line 2514, ../sass/layout.scss */
  .rotation {
    width: 360px;
    height: 360px;
    position: absolute;
    left: -54px;
    top: -55px;
  }
  /* line 2520, ../sass/layout.scss */
  .rotation .outer {
    background-color: rgba(255, 255, 255, 0);
    z-index: 10;
    border: 25px solid #ffffff;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 20px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 20px 0px;
    font-size: 14px;
  }
  /* line 2529, ../sass/layout.scss */
  .rotation .outer .bend {
    line-height: 1;
    font-size: 14px;
  }
  /* line 2532, ../sass/layout.scss */
  .rotation .outer .bend span {
    color: #c0b6a3;
    line-height: normal;
  }
  /* line 2537, ../sass/layout.scss */
  .rotation .outer .left {
    left: -30px;
  }
  /* line 2542, ../sass/layout.scss */
  .rotation .outer .top {
    left: 50%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  /* line 2548, ../sass/layout.scss */
  .rotation .inner {
    position: absolute;
    top: 24px;
    left: 26px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 30px solid #ece7df;
    border-radius: 50%;
    width: 310px;
    height: 310px;
    border-left-color: #dfd9ce;
    border-right-color: #dfd9ce;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  /* line 2562, ../sass/layout.scss */
  .rotation .inner .bend {
    line-height: 1;
    font-size: 14px;
  }
  /* line 2565, ../sass/layout.scss */
  .rotation .inner .bend span {
    color: #7e6d6b;
    line-height: normal;
  }
  /* line 2570, ../sass/layout.scss */
  .rotation .inner .top {
    width: 100%;
    text-align: center;
    left: 0;
  }
  /* line 2575, ../sass/layout.scss */
  .rotation .inner .right {
    right: -27px;
  }
  /* line 2578, ../sass/layout.scss */
  .rotation .inner .left {
    left: -44px;
  }
  /* line 2582, ../sass/layout.scss */
  .rotation .rotation-content {
    position: relative;
    width: 100%;
    height: 100%;
  }
  /* line 2587, ../sass/layout.scss */
  .rotation .rotation-content > div.active span {
    color: white;
  }
  /* line 2592, ../sass/layout.scss */
  .rotation .top {
    position: absolute;
    top: -21px;
    z-index: 20;
  }
  /* line 2597, ../sass/layout.scss */
  .rotation .bottom {
    position: absolute;
    bottom: -26px;
    left: 50%;
    z-index: 20;
    -webkit-transform: translate(-50%, 0px);
    -moz-transform: translate(-50%, 0px);
    -ms-transform: translate(-50%, 0px);
    -o-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
  }
  /* line 2604, ../sass/layout.scss */
  .rotation .right {
    position: absolute;
    top: 50%;
    right: -28px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    z-index: 20;
  }
  /* line 2611, ../sass/layout.scss */
  .rotation .left {
    position: absolute;
    top: 50%;
    left: -49px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    z-index: 20;
  }
  /* line 2619, ../sass/layout.scss */
  .rotation.active:after {
    content: '';
    background: url(../images/rotation-active-bg.png) 0 0 no-repeat;
    background-size: 265px 107px;
    width: 265px;
    height: 107px;
    position: absolute;
    bottom: -14px;
    left: 50.2%;
    z-index: 13;
    -webkit-transform: translate(-50%, 0px);
    -moz-transform: translate(-50%, 0px);
    -ms-transform: translate(-50%, 0px);
    -o-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
  }
  /* line 2633, ../sass/layout.scss */
  .rotation.active .inner .bottom span {
    color: #ffffff;
  }
  /* line 2639, ../sass/layout.scss */
  .rotation.active .outer .bottom {
    bottom: -25px;
  }
  /* line 2641, ../sass/layout.scss */
  .rotation.active .outer .bottom span {
    color: #8c7c7a;
  }

  /* line 2650, ../sass/layout.scss */
  .rotation-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  /* line 2656, ../sass/layout.scss */
  .rotate-next {
    background: url(../images/arrow-right.png) 0 0 no-repeat;
    background-size: 58px 50px;
    width: 58px;
    height: 25px;
    position: absolute;
    bottom: -34px;
    right: 75px;
  }
  /* line 2664, ../sass/layout.scss */
  .rotate-next:hover, .rotate-next.active {
    background-position: 0 -25px;
  }

  /* line 2669, ../sass/layout.scss */
  .rotate-prev {
    background: url(../images/arrow-left.png) 0 0 no-repeat;
    background-size: 58px 50px;
    width: 58px;
    height: 25px;
    position: absolute;
    bottom: -34px;
    left: 75px;
  }
  /* line 2677, ../sass/layout.scss */
  .rotate-prev:hover, .rotate-prev.active {
    background-position: 0 -25px;
  }

  /* line 2682, ../sass/layout.scss */
  .rotate-up {
    background: url(../images/arrow-up-down.png) 0 0 no-repeat;
    background-size: 42px 54px;
    width: 42px;
    height: 27px;
    position: absolute;
    bottom: -34px;
    left: 50%;
    -webkit-transform: translate(-50%, 0px);
    -moz-transform: translate(-50%, 0px);
    -ms-transform: translate(-50%, 0px);
    -o-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
  }
  /* line 2691, ../sass/layout.scss */
  .rotate-up:hover, .rotate-up.active {
    background: url(../images/arrow-up-down-hover.png) 0 0 no-repeat;
    background-size: 42px 54px;
  }

  /* line 2697, ../sass/layout.scss */
  .rotate-down {
    background: url(../images/arrow-up-down.png) 0 -27px no-repeat;
    background-size: 42px 54px;
    width: 42px;
    height: 27px;
    position: absolute;
    bottom: -61px;
    left: 50%;
    -webkit-transform: translate(-50%, 0px);
    -moz-transform: translate(-50%, 0px);
    -ms-transform: translate(-50%, 0px);
    -o-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
  }
  /* line 2706, ../sass/layout.scss */
  .rotate-down:hover, .rotate-down.active {
    background: url(../images/arrow-up-down-hover.png) 0 -27px no-repeat;
    background-size: 42px 54px;
  }

  /* line 2712, ../sass/layout.scss */
  .lyrics {
    padding-top: 8px;
  }

  /* line 2720, ../sass/layout.scss */
  .circle {
    width: 45px;
    height: 45px;
    background-color: #c7beb3;
    display: inline-block;
    border-radius: 50%;
    position: relative;
  }

  /* line 2729, ../sass/layout.scss */
  .icon-nav {
    margin-bottom: 30px !important;
    margin-left: -20px;
    margin-right: -20px;
  }
  /* line 2733, ../sass/layout.scss */
  .icon-nav li {
    display: inline-block;
    vertical-align: top;
    margin-left: 7px;
    margin-right: 7px;
    cursor: pointer;
  }
  /* line 2741, ../sass/layout.scss */
  .icon-nav li:hover .circle {
    background-color: #69b6d7;
  }
  /* line 2744, ../sass/layout.scss */
  .icon-nav li:hover .icon {
    -webkit-transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    -o-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
  }
  /* line 2749, ../sass/layout.scss */
  .icon-nav li.active .circle {
    background-color: #69b6d7;
  }
  /* line 2753, ../sass/layout.scss */
  .icon-nav .icon-guitar {
    background-size: 54px 66px;
    width: 54px;
    height: 66px;
    position: absolute;
    top: -26px;
    left: 5px;
  }
  /* line 2761, ../sass/layout.scss */
  .icon-nav .icon-violin {
    position: absolute;
    top: -10px;
    left: 0;
  }
  /* line 2766, ../sass/layout.scss */
  .icon-nav .icon-trumpet {
    background-size: 49px 34px;
    width: 49px;
    height: 34px;
    position: absolute;
    top: 1px;
    left: -1px;
  }
  /* line 2774, ../sass/layout.scss */
  .icon-nav .icon-sax {
    background-size: 41px 40px;
    width: 41px 40px;
    position: absolute;
    left: -9px;
    top: -2px;
  }
  /* line 2781, ../sass/layout.scss */
  .icon-nav .icon-recorder {
    background-size: 20px 38px;
    width: 25px;
    height: 38px;
    position: absolute;
    left: 11px;
    top: 2px;
  }
  /* line 2789, ../sass/layout.scss */
  .icon-nav .icon-bong {
    background-size: 32px 31px;
    width: 32px;
    height: 31px;
    position: relative;
    top: 8px;
    left: 1px;
  }
  /* line 2797, ../sass/layout.scss */
  .icon-nav .icon-drum {
    background-size: 40px 44px;
    width: 40px;
    height: 44px;
    position: relative;
    top: 12px;
    left: 2px;
  }
  /* line 2805, ../sass/layout.scss */
  .icon-nav .icon-percussion {
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    position: relative;
    top: 6px;
    left: 1px;
  }
  /* line 2813, ../sass/layout.scss */
  .icon-nav .icon-snare {
    background-size: 34px 28px;
    width: 34px;
    height: 28px;
    position: relative;
    top: 9px;
    left: 2px;
  }
  /* line 2821, ../sass/layout.scss */
  .icon-nav .icon-shaker {
    background-size: 35px 23px;
    width: 35px;
    height: 23px;
    position: relative;
    top: 11px;
    left: 1px;
  }
  /* line 2829, ../sass/layout.scss */
  .icon-nav .icon-maraca {
    background-size: 25px 42px;
    width: 25px;
    height: 42px;
    position: relative;
    left: 5px;
    top: 2px;
  }
  /* line 2837, ../sass/layout.scss */
  .icon-nav .icon-triangle {
    background-size: 30px 41px;
    width: 30px;
    height: 41px;
    position: relative;
    top: 4px;
    left: 2px;
  }
  /* line 2845, ../sass/layout.scss */
  .icon-nav .icon-cymbals-blue {
    background-size: 36px 38px;
    width: 36px;
    height: 38px;
    position: relative;
    left: 2px;
    top: 5px;
  }
  /* line 2853, ../sass/layout.scss */
  .icon-nav .icon-cymbals {
    background-size: 35px 36px;
    width: 35px;
    height: 36px;
    position: relative;
    top: 6px;
    left: 2px;
  }
  /* line 2861, ../sass/layout.scss */
  .icon-nav .icon-drum-head {
    background-size: 32px 39px;
    width: 32px;
    height: 39px;
    position: relative;
    top: 2px;
    left: -1px;
  }
  /* line 2869, ../sass/layout.scss */
  .icon-nav .icon-guitar-acoustic {
    background-size: 50px 57px;
    width: 50px;
    height: 57px;
    position: relative;
    top: -16px;
    left: -8px;
  }
  /* line 2877, ../sass/layout.scss */
  .icon-nav .icon-bell {
    background-size: 28px 38px;
    width: 28px;
    height: 38px;
    position: relative;
    top: 3px;
    left: 5px;
  }

  /* line 2887, ../sass/layout.scss */
  .instructions .record-player {
    margin-top: 20px;
  }
}
