// ------------------------------------------------------------\\
//  ARTICLES                                                
// ------------------------------------------------------------\\


.article {
    @include clear();
    display: block;
    margin-bottom: $article-margin-bottom;
    &:last-child {
        margin-bottom: 0;
    }
    .article-content {
        padding: $article-content-padding-top-normal $article-content-padding-right-normal $article-content-padding-bottom-normal $article-content-padding-left-normal;
        overflow: hidden;
        padding-bottom: 1px;
        margin-bottom: $article-margin-bottom;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .button {
        &:last-child {
            margin-bottom: 0;
        }
    }
    .article-date {
        font-size: $article-date-font-size;
        color: $article-date-color;
    }
    .article-tag {
        clear: both;
        border-top: $article-tag-border;
        border-bottom: $article-tag-border;
        display: block;
        @include clear();
        width: 100%;
        padding: $article-tag-padding-top-normal $article-tag-padding-right-normal $article-tag-padding-bottom-normal $article-tag-padding-left-normal;
        span {
            float: left;
        }
    }
    .article-top {
        background-color: $article-top-bg;
        padding: $article-top-padding-top-normal $article-top-padding-right-normal $article-top-padding-bottom-normal $article-top-padding-left-normal;
        color: $article-top-color;
        h1, h2, h3, h4, h5, h6 {
            color: $article-top-color;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .article-caption {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: $article-caption-bottom;
        top: $article-caption-top;
        display: block;
        padding: $article-caption-padding-top-normal $article-caption-padding-right-normal $article-caption-padding-bottom-normal $article-caption-padding-left-normal;
        h1, h2, h3, h4, h5, h6 {
            text-align: $article-caption-align;
            color: $article-caption-color;
            &:last-child {
                margin-bottom: 0;
            }
            
        }
    }
    
    .left, .push-left {
        margin-right: $article-margin-right;
    }
    .right, .push-right {
        margin-left: $article-margin-left;
    }
}




@media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {
    .article {
        .article-heading {
            padding: $article-top-padding-top-moderate $article-top-padding-right-moderate $article-top-padding-bottom-moderate $article-top-padding-left-moderate;
        }
        .article-caption {
            padding: $article-caption-padding-top-moderate $article-caption-padding-right-moderate $article-caption-padding-bottom-moderate $article-caption-padding-left-moderate;
        }
        .article-content {
            padding: $article-content-padding-top-moderate $article-content-padding-right-moderate $article-content-padding-bottom-moderate $article-content-padding-left-moderate;
        }
    }
}

@media (min-width: $grid-normal) and (max-width: $grid-heavy - 1) {
    
}

@media (min-width: $grid-heavy) {

}

@media (max-width: $grid-light) {
    .article {
        .article-heading {
            padding: $article-top-padding-top-light $article-top-padding-right-light $article-top-padding-bottom-light $article-top-padding-left-light;
        }
        .article-caption {
            padding: $article-caption-padding-top-light $article-caption-padding-right-light $article-caption-padding-bottom-light $article-caption-padding-left-light;
        }
        .article-content {
            padding: $article-content-padding-top-light $article-content-padding-right-light $article-content-padding-bottom-light $article-content-padding-left-light;
        }
    }
}