// ------------------------------------------------------------\\
//  BAR                                               
// ------------------------------------------------------------\\


.bar {
	display: block;
	padding: $bar-padding-top-normal $bar-padding-right-normal $bar-padding-bottom-normal $bar-padding-right-normal;
	background: $bar-bg;
	border: $bar-border;
	// border-top: $bar-border-top;
	// border-bottom: $bar-border-bottom;
	// border-left: $bar-border-left;
	// border-right: $bar-border-right;
	margin-bottom: $bar-margin-bottom;
	@include clear();
	position: relative;
	z-index: 9;
	h1, h2, h3, h4, h5, h6, p {
		&:last-child {
			margin-bottom: 0;
		}
	}
	&.normal {
		@extend .bg-normal;
	}
	&.primary {
		@extend .bg-primary;
	}
	&.secondary {
		@extend .bg-secondary;
	}
	&.tertiary {
		@extend .bg-tertiary;
	}
	&.completed {
		@extend .bg-completed;
	}
	&.error {
		@extend .bg-error;
	}
	&.important {
		@extend .bg-important;
	}

}


// Topbar 
//-------------------------------------------------------------\\

.top-bar {
	padding: $topbar-padding-top-normal $topbar-padding-right-normal $topbar-padding-bottom-normal $topbar-padding-right-normal;
	background: $topbar-bg;
	color: $topbar-color;
	border-top: $topbar-border-top;
	border-bottom: $topbar-border-bottom;
	border-left: $topbar-border-left;
	border-right: $topbar-border-right;
	margin-bottom: $topbar-margin-bottom;
	min-height: $topbar-height;
	line-height: $topbar-height;
	font-size: $topbar-font-size;
	@include clear();
	position: relative;
	z-index: 9;
	h1, h2, h3, h4, h5, h6, p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}



// Navbar 
//-------------------------------------------------------------\\

.nav-bar {
	padding: $navbar-padding-top-normal $navbar-padding-right-normal $navbar-padding-bottom-normal $navbar-padding-right-normal;
	background: $navbar-bg;
	color: $navbar-color;
	border-top: $navbar-border-top;
	border-bottom: $navbar-border-bottom;
	border-left: $navbar-border-left;
	border-right: $navbar-border-right;
	margin-bottom: $navbar-margin-bottom;
	min-height: $navbar-height;
	@include clear();
	position: relative;
	z-index: 9;
	h1, h2, h3, h4, h5, h6, p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.nav-bar-content {
	position: relative;
	z-index: 9;
	@include clear();
}


// Bottombar
//-------------------------------------------------------------\\

.bottom-bar {
	padding: $bottombar-padding-top-normal $bottombar-padding-right-normal $bottombar-padding-bottom-normal $bottombar-padding-right-normal;
	background: $bottombar-bg;
	color: $bottombar-color;
	border-top: $bottombar-border-top;
	border-bottom: $bottombar-border-bottom;
	border-left: $bottombar-border-left;
	border-right: $bottombar-border-right;
	margin-bottom: $bottombar-margin-bottom;
	@include clear();
	position: relative;
	z-index: 9;
	h1, h2, h3, h4, h5, h6, p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}


@media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {
    
}

@media (min-width: $grid-normal) and (max-width: $grid-heavy - 1) {
    
}

@media (min-width: $grid-heavy) {

}

@media (max-width: $grid-light) {
	.nav-bar {
		padding-left: 0;
		padding-right: 0;
		background: none;
		padding-top: 0;
	}
   	.nav-bar > .container {
		padding-left: 0;
		padding-right: 0;
	}
	.nav-bar-content {
		background: $navbar-bg;
		height: 50px;
	}
	.top-bar {
		padding-left: 0px;
		padding-right: 0px;
		> .container {
			padding-left: 0;
			padding-right: 0;
		}
	}
}