// ------------------------------------------------------------\\
//  HEADER                                             
// ------------------------------------------------------------\\

.header {
	width: 100%;
	color: darken($color-gray, 9%);
	@include clear();
	margin-bottom: $header-margin-bottom;
	.left {
		margin-right: 15px;
	}
	.right {
		margin-left: 15px;
	}
}

.header-logo {
	font-size: $header-logo-font-size;
	float: left;
	margin-right: 20px;
	margin-top: 11px;
	color: $header-logo-color;
	&:hover {
		text-decoration: none;
	}
}

.header-tagline {
	float: left;
	font-size: 16px;
	margin-top: 13px;
}





// Social
//-------------------------------------------------------------\\

.header-social {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		float: left;
		margin:0;
		padding: 0;
		&:before {
			display: none;
		}
	}
	a {
		display: block;
		padding: 10px;
		color: $topbar-color;
		&:hover {
			background-color: #d34548;
			color: #ffffff;
		}
	}
}



// Form
//-------------------------------------------------------------\\

.header-form {
	margin-top: 8px;
	.input-text {
		width: auto;
		min-width: 210px;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 10px;
	}
	button {
		margin-bottom: 0;
	}
}





@media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {

}

@media (min-width: $grid-normal) and (max-width: $grid-heavy - 1) {
    
}

@media (min-width: $grid-heavy) {

}

@media (max-width: $grid-light) {
	.header {
		.left {
			margin-right: 0px;
		}
		.right {
			margin-left: 0px;
		}
	}
	.header-logo {
		margin-left: 15px;
	}
}