// ------------------------------------------------------------\\
//  Figures                                              
// ------------------------------------------------------------\\


.icon {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	position: relative;
	top: -1px;
	line-height: $global-line-height-normal;
	margin-right: $icon-margin;
}

.icon-right {
	margin-left: $icon-margin;
	margin-right: 0;
}

.icon-block {
	display: block;
	margin-bottom: 25px;
}



@media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {

}

@media (min-width: $grid-normal) and (max-width: $grid-heavy - 1) {
    
}

@media (min-width: $grid-heavy) {

}

@media (max-width: $grid-light) {
   
}