<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
	<meta charset="utf-8">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css({.tmp,dist,app}) styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/normalize-css/normalize.css" />
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css({.tmp,app}) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
    <link href="styles/layout.css" rel="stylesheet" />
	<!-- endbuild -->
  </head>
  <body ng-app="musicmixingApp">
	<!--[if lt IE 7]>
	  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<!-- Add your site or application content here -->
	<div class="wrapper">
		<div class="container">
			<!-- header... -->
			<div class="header">
				<a href="#" class="header-logo">Tip Top</a>
			</div>
			<!-- end header-->

			<!-- main -->
			<div class="main">
				<div class="main-content" ng-view="">
				</div>
			</div>
			<!-- end main -->		
		</div>
		<!-- end container-->

		<!-- footer -->
		<div class="footer" ng-controller="FooterCtrl">
			<div class="disc" ng-if="isDoneRecording"></div>
			<div class="footer-content" ng-if="!isMusicPage">
				<a href="javascript:;">Terms &amp; Conditions</a><span class="div">|</span><a href="javascript:;">Privacy Policy</a>
			</div>
            <ul class="list bottom-nav" ng-if="isMusicPage">
                <li ng-class="{active: (step == 1)}">
                    <a href="#/melody-select">
                        Melody
                        <span class="circle"><i class="icon icon-guitar"></i></span>
                    </a>
                    
                </li>
                <li ng-class="{active: (step == 2)}">
                    <a href="#/beats-select">
                        Beats
                    	<span class="circle"><i class="icon icon-bong"></i></span>
                    </a>
                </li>
                <li ng-class="{active: (step == 3)}">
                    <a href="#/effects-select">
                        Effects
                    	<span class="circle"><i class="icon icon-cymbals"></i></span>
                    </a>
                </li>
                <li ng-class="{active: (step == 4)}">
                    <a href="#/lyrics-select">
                        Lyrics
                    	<span class="circle"><i class="icon icon-mic"></i></span>
                    </a>
                </li>
            </ul>
		</div>
		<!-- end footer -->
	</div> <!-- end wrapper -->
	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
	 <script>
	   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	   ga('create', 'UA-XXXXX-X');
	   ga('send', 'pageview');
	</script>

	<!--[if lt IE 9]>
	<script src="bower_components/es5-shim/es5-shim.js"></script>
	<script src="bower_components/json3/lib/json3.min.js"></script>
	<![endif]-->

	<!-- build:js({.tmp,dist,app}) scripts/vendor.js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
	<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
	<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
	<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
	<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
	<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
	<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
	<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
	<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
	<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
	<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
	<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
	<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/angular-shims-placeholder/dist/angular-shims-placeholder.js"></script>
	<script src="bower_components/spin.js/spin.js"></script>
	<script src="bower_components/soundmanager2/script/soundmanager2-nodebug-jsmin.js"></script>
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
		<!-- include: "type": "js", "files": "config/*.js" -->
		<!-- include: "type": "js", "files": "scripts/*.js" -->
		<!-- include: "type": "js", "files": "scripts/services/*.js" -->
	    <!-- include: "type": "js", "files": "scripts/common/*.js" -->
		<!-- include: "type": "js", "files": "scripts/modules/**/*.js" -->
		<!-- include: "type": "js", "files": "lib/*.js" -->
	<!-- endbuild -->

</body>
</html>
