<div class="record-player">
	<div class="filler-1"></div>
					<div class="filler-2"></div>
					<div class="filler-3"></div>
					<div class="filler-4"></div>
					<div class="filler-5"></div>
					<div class="filler-6"></div>
					<div class="filler-7"></div>
					<div class="filler-8"></div>
					<div class="base">
						<div class="needle"></div>
						<a href="#" class="play-btn" style="display: none;"><span></span></a>
						<div class="effect-ring"></div>
						<div class="beats-ring"></div>
						<div class="melody-ring"></div>
						<div class="inner-label">
							<div class="inner-label-details">
								<div class="label-top">
									<div class="logo"></div>
								</div>
								<div class="label-bottom">
									<span class="name">Mum Song</span>
									<span class="desc"><i class="dot">.</i>DEDICATIONS<i class="dot">.</i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="heading-category">
					<span class="sub-title text-heavy">Enter your</span>
					<div class="heading-bullet">
						<h1>Mum’s Name</h1>
					</div>
				</div>
				<div class="row">
					<div class="grid-4 center">
						<form class="form">
							<div class="form-category">
								<input type="text" class="input-text" id="mom-title" placeholder="What do ya call mum?">
								<input type="text" class="input-text" id="mom-name" placeholder="Mum’s Name">
							</div>
							<button class="button primary full" ng-click="continue()"><span><em>Continue</em></span></button>
						</form>
					</div>	
				</div>
				<p style="color:red !important;">{{errorMessage}}</p>