				<div class="heading-category">
					<div class="heading-bullet">
						<h1>Thank you</h1>
					</div>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Vestibulum non odio vel felis convallis feugiat et mattis libero.</p>
				<form class="form">
					<div class="tab">
						<ul class="tabs">
							<li class="active"><a href="javascript:;" ng-click="phoneTab()">Phone Call</a></li>
							<li><a href="javascript:;" ng-click="emailTab()">Email</a></li>
						</ul>
						<div class="tab-container">
							<div id="phone" class="tab-content">
								<form class="form">
									<div class="heading-category phone-title">
										<span class="sub-title">Enter</span>
										<div class="heading-bullet">
											<h2>Phone number</h2>
										</div>
									</div>
									<div class="grid-4 center">
										<div class="form-category">
											<input type="text" class="input-text" placeholder="#00000">
										</div>
										<button class="button primary full btn-call" ng-click="phoneCall()"><span><i class="dot">.</i>Call<i class="dot">.</i></span></button>
										<br>
										<div class="share-block">
											<div class="heading-category">
												<span class="sub-title">Share on</span>
												<div class="heading-bullet">
													<h2>Facebook</h2>
												</div>
											</div>
											<div class="grid-8 light-9 center">
												<a href="https://www.facebook.com/sharer/sharer.php?u={{currentPage}}" target="_blank" class="button primary full light"><span>Share</span></a>
											</div>
										</div>
									</div>
								</form>
							</div>
							<div id="email" class="tab-content" style="display:none;">
								<form class="form">
									<!--
									<h4><a href="javascript:;" class="">email@yahoo.com</a></h4>
									-->
									<div class="heading-category email-title">
										<span class="sub-title">Enter</span>
										<div class="heading-bullet">
											<h2>Email</h2>
										</div>
									</div>
									<div class="grid-4 center email-form">
										<div class="form-category">
											<input type="text" class="input-text" placeholder="admin@cypha.com">
										</div>
										<button class="button primary full btn-send" ng-click="sendEmail()"><span><i class="dot">.</i>Send<i class="dot">.</i></span></button>
										<br>
									</div>									
								</form>
							</div>
						</div>
					</div>
					<br><p class="api-error" style="color:red !important; display:none;">Your entry is not ready yet. Please try again later.</p>
					<br><br><br><br class="hide-on-light">
				</form>