// ------------------------------------------------------------\\
//  COLORS                                               
// ------------------------------------------------------------\\

.color-normal {
    color: $color-normal !important;
}
.bg-normal {
    background-color: $bg-normal-bg !important;
    color: $bg-normal-color !important;
    border-color: darken($bg-normal-bg, 10%) !important;
    a {
        color: $bg-normal-color !important;
    }
    h1, h2, h3, h4, h5, h6 {
        color: $bg-normal-color;
    }
}

.color-primary {
    color: $color-primary !important;
}
.bg-primary {
    background-color: $bg-primary-bg !important;
    color: $bg-primary-color !important;
    border-color: darken($bg-primary-bg, 10%) !important;
    a {
        color: $bg-primary-color !important;
    }
    h1, h2, h3, h4, h5, h6 {
        color: $bg-primary-color;
    }
}

.color-secondary {
    color: $color-secondary !important;
}
.bg-secondary {
    background-color: $bg-secondary-bg !important;
    color: $bg-secondary-color !important;
    border-color: darken($bg-secondary-bg, 10%) !important;
    a {
        color: $bg-secondary-color !important;
    }
    h1, h2, h3, h4, h5, h6 {
        color: $bg-secondary-color;
    }
}

.color-tertiary {
    color: $color-tertiary !important;
}
.bg-tertiary {
    background-color: $bg-tertiary-bg !important;
    color: $bg-tertiary-color !important;
    border-color: darken($bg-tertiary-bg, 10%) !important;
    a {
        color: $bg-tertiary-color !important;
    }
    h1, h2, h3, h4, h5, h6 {
        color: $bg-tertiary-color;
    }
}

.color-completed {
    color: $color-completed !important;
}
.bg-completed {
    background-color: $bg-completed-bg !important;
    color: $bg-completed-color !important;
    border-color: darken($bg-completed-bg, 10%) !important;
    a {
        color: $bg-completed-color !important;
    }
    h1, h2, h3, h4, h5, h6 {
        color: $bg-completed-color;
    }
}

.color-error {
    color: $color-error !important;
}
.bg-error {
    background-color: $bg-error-bg !important;
    color: $bg-error-color !important;
    border-color: darken($bg-error-bg, 10%) !important;
    a {
        color: $bg-error-color !important;
    }
    h1, h2, h3, h4, h5, h6 {
        color: $bg-error-color;
    }
}

.color-important {
    color: $color-important !important;
}
.bg-important {
    background-color: $bg-important-bg !important;
    color: $bg-important-color !important;
    border-color: darken($bg-important-bg, 10%) !important;
    a {
        color: $bg-important-color !important;
    }
    h1, h2, h3, h4, h5, h6 {
        color: $bg-important-color;
    }
}

.color-white {
    color: $color-white !important;
}
.bg-white {
    background-color: $bg-white-bg !important;
    color: $bg-white-color !important;
    border-color: darken($bg-white-bg, 10%) !important;
    a {
        color: $bg-white-color !important;
    }
    h1, h2, h3, h4, h5, h6 {
        color: $bg-white-color;
    }
}

.color-black {
    color: $color-black !important;
}
.bg-black {
    background-color: $bg-black-bg !important;
    color: $bg-black-color !important;
    border-color: darken($bg-black-bg, 10%) !important;
    a {
        color: $bg-black-color !important;
    }
    h1, h2, h3, h4, h5, h6 {
        color: $bg-black-color;
    }
}

.color-gray {
    color: $color-gray !important;
}
.bg-gray {
    background-color: $bg-gray-bg !important;
    color: $bg-gray-color !important;
    border-color: darken($bg-gray-bg, 10%) !important;
    a {
        color: $bg-gray-color !important;
    }
    h1, h2, h3, h4, h5, h6 {
        color: $bg-gray-color;
    }
}

.color-gray-darken {
    color: $color-gray-darken !important;
}
.bg-gray-darken {
    background-color: $bg-gray-darken-bg !important;
    color: $bg-gray-darken-color !important;
    border-color: darken($bg-gray-darken-bg, 10%) !important;
    a {
        color: $bg-gray-darken-color !important;
    }
    h1, h2, h3, h4, h5, h6 {
        color: $bg-gray-darken-color;
    }
}

.color-gray-lighten {
    color: $color-gray-lighten !important;
}
.bg-gray-lighten {
    background-color: $bg-gray-lighten-bg !important;
    color: $bg-gray-lighten-color !important;
    border-color: darken($bg-gray-lighten-bg, 10%) !important;
    a {
        color: $bg-gray-lighten-color !important;
    }
    h1, h2, h3, h4, h5, h6 {
        color: $bg-gray-lighten-color;
    }
}
