// ------------------------------------------------------------\\
//  GRID SYSTEM                                               
// ------------------------------------------------------------\\


.full {
    .container {
        width: auto !important;
    }
}

.container {
    padding-left: ($grid-gutter-normal / 2);
    padding-right: ($grid-gutter-normal / 2);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    @include clear();
}

.row {
    margin-left: ($grid-gutter-normal / -2);
    margin-right: ($grid-gutter-normal / -2);
    @include clear();
}

.grid,
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.light-1,
.light-2,
.light-3,
.light-4,
.light-5,
.light-6,
.light-7,
.light-8,
.light-9,
.light-10,
.light-11,
.light-12,
.moderate-1,
.moderate-2,
.moderate-3,
.moderate-4,
.moderate-5,
.moderate-6,
.moderate-7,
.moderate-8,
.moderate-9,
.moderate-10,
.moderate-11,
.moderate-12,
.grid-normal-1,
.grid-normal-2,
.grid-normal-3,
.grid-normal-4,
.grid-normal-5,
.grid-normal-6,
.grid-normal-7,
.grid-normal-8,
.grid-normal-9,
.grid-normal-10,
.grid-normal-11,
.grid-normal-12,
.heavy-1,
.heavy-2,
.heavy-3,
.heavy-4,
.heavy-5,
.heavy-6,
.heavy-7,
.heavy-8,
.heavy-9,
.heavy-10,
.heavy-11,
.heavy-12 {
    position: relative;
    min-height: 1px;
    padding-right: ($grid-gutter-normal / 2);
    padding-left: ($grid-gutter-normal / 2);
}


.grid-off {
    margin: 0;
    .grid,
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11,
    .grid-12,
    .light-1,
    .light-2,
    .light-3,
    .light-4,
    .light-5,
    .light-6,
    .light-7,
    .light-8,
    .light-9,
    .light-10,
    .light-11,
    .light-12,
    .moderate-1,
    .moderate-2,
    .moderate-3,
    .moderate-4,
    .moderate-5,
    .moderate-6,
    .moderate-7,
    .moderate-8,
    .moderate-9,
    .moderate-10,
    .moderate-11,
    .moderate-12,
    .grid-normal-1,
    .grid-normal-2,
    .grid-normal-3,
    .grid-normal-4,
    .grid-normal-5,
    .grid-normal-6,
    .grid-normal-7,
    .grid-normal-8,
    .grid-normal-9,
    .grid-normal-10,
    .grid-normal-11,
    .grid-normal-12,
    .heavy-1,
    .heavy-2,
    .heavy-3,
    .heavy-4,
    .heavy-5,
    .heavy-6,
    .heavy-7,
    .heavy-8,
    .heavy-9,
    .heavy-10,
    .heavy-11,
    .heavy-12 {
        padding: 0;
    }
    .grid-content {
        padding: $grid-content-padding-top-normal $grid-content-padding-right-normal $grid-content-padding-bottom-normal $grid-content-padding-left-normal;
        background: $grid-content-bg;
        color: $grid-content-color;
    }
}

// Gutter Light
//-------------------------------------------------------------\\

.gutter-light {
    .grid,
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11,
    .grid-12,
    .light-1,
    .light-2,
    .light-3,
    .light-4,
    .light-5,
    .light-6,
    .light-7,
    .light-8,
    .light-9,
    .light-10,
    .light-11,
    .light-12,
    .moderate-1,
    .moderate-2,
    .moderate-3,
    .moderate-4,
    .moderate-5,
    .moderate-6,
    .moderate-7,
    .moderate-8,
    .moderate-9,
    .moderate-10,
    .moderate-11,
    .moderate-12,
    .grid-normal-1,
    .grid-normal-2,
    .grid-normal-3,
    .grid-normal-4,
    .grid-normal-5,
    .grid-normal-6,
    .grid-normal-7,
    .grid-normal-8,
    .grid-normal-9,
    .grid-normal-10,
    .grid-normal-11,
    .grid-normal-12,
    .heavy-1,
    .heavy-2,
    .heavy-3,
    .heavy-4,
    .heavy-5,
    .heavy-6,
    .heavy-7,
    .heavy-8,
    .heavy-9,
    .heavy-10,
    .heavy-11,
    .heavy-12 {
        padding-right: ($grid-gutter-light / 2);
        padding-left: ($grid-gutter-light / 2);
    }
    &.row {
        margin-left: ($grid-gutter-light / -2);
        margin-right: ($grid-gutter-light / -2);
    }
}



// Gutter Moderate
//-------------------------------------------------------------\\

.gutter-moderate {
    .grid,
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11,
    .grid-12,
    .light-1,
    .light-2,
    .light-3,
    .light-4,
    .light-5,
    .light-6,
    .light-7,
    .light-8,
    .light-9,
    .light-10,
    .light-11,
    .light-12,
    .moderate-1,
    .moderate-2,
    .moderate-3,
    .moderate-4,
    .moderate-5,
    .moderate-6,
    .moderate-7,
    .moderate-8,
    .moderate-9,
    .moderate-10,
    .moderate-11,
    .moderate-12,
    .grid-normal-1,
    .grid-normal-2,
    .grid-normal-3,
    .grid-normal-4,
    .grid-normal-5,
    .grid-normal-6,
    .grid-normal-7,
    .grid-normal-8,
    .grid-normal-9,
    .grid-normal-10,
    .grid-normal-11,
    .grid-normal-12,
    .heavy-1,
    .heavy-2,
    .heavy-3,
    .heavy-4,
    .heavy-5,
    .heavy-6,
    .heavy-7,
    .heavy-8,
    .heavy-9,
    .heavy-10,
    .heavy-11,
    .heavy-12 {
        padding-right: ($grid-gutter-moderate / 2);
        padding-left: ($grid-gutter-moderate / 2);
    }
    &.row {
        margin-left: ($grid-gutter-moderate / -2);
        margin-right: ($grid-gutter-moderate / -2);
    }
}


// Gutter heavy
//-------------------------------------------------------------\\

.gutter-heavy {
    .grid,
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11,
    .grid-12,
    .light-1,
    .light-2,
    .light-3,
    .light-4,
    .light-5,
    .light-6,
    .light-7,
    .light-8,
    .light-9,
    .light-10,
    .light-11,
    .light-12,
    .moderate-1,
    .moderate-2,
    .moderate-3,
    .moderate-4,
    .moderate-5,
    .moderate-6,
    .moderate-7,
    .moderate-8,
    .moderate-9,
    .moderate-10,
    .moderate-11,
    .moderate-12,
    .grid-normal-1,
    .grid-normal-2,
    .grid-normal-3,
    .grid-normal-4,
    .grid-normal-5,
    .grid-normal-6,
    .grid-normal-7,
    .grid-normal-8,
    .grid-normal-9,
    .grid-normal-10,
    .grid-normal-11,
    .grid-normal-12,
    .heavy-1,
    .heavy-2,
    .heavy-3,
    .heavy-4,
    .heavy-5,
    .heavy-6,
    .heavy-7,
    .heavy-8,
    .heavy-9,
    .heavy-10,
    .heavy-11,
    .heavy-12 {
        padding-right: ($grid-gutter-heavy / 2);
        padding-left: ($grid-gutter-heavy / 2);
    }
    &.row {
        margin-left: ($grid-gutter-heavy / -2);
        margin-right: ($grid-gutter-heavy / -2);
    }
}



// 12 Column
//-------------------------------------------------------------\\


.grid-12 {
    width: 100%;
}
.grid-11 {
    width: 91.66666666666666%;
}
.grid-10 {
    width: 83.33333333333334%;
}
.grid-9 {
    width: 75%;
}
.grid-8 {
    width: 66.66666666666666%;
}
.grid-7 {
    width: 58.333333333333336%;
}
.grid-6 {
    width: 50%;
}
.grid-5 {
    width: 41.66666666666667%;
}
.grid-4 {
    width: 33.33333333333333%;
}
.grid-3 {
    width: 25%;
}
.grid-2 {
    width: 16.666666666666664%;
}
.grid-1 {
    width: 8.333333333333332%;
}



@media (min-width: $grid-moderate) {
    .grid,
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11,
    .grid-12 {
        float: left;
    }

    .grid-offset-12 {
      margin-left: 100%;
    }

    .grid-offset-11 {
      margin-left: 91.66666666666666%;
    }

    .grid-offset-10 {
      margin-left: 83.33333333333334%;
    }

    .grid-offset-9 {
      margin-left: 75%;
    }

    .grid-offset-8 {
      margin-left: 66.66666666666666%;
    }

    .grid-offset-7 {
      margin-left: 58.333333333333336%;
    }

    .grid-offset-6 {
      margin-left: 50%;
    }

    .grid-offset-5 {
      margin-left: 41.66666666666667%;
    }

    .grid-offset-4 {
      margin-left: 33.33333333333333%;
    }

    .grid-offset-3 {
      margin-left: 25%;
    }

    .grid-offset-2 {
      margin-left: 16.666666666666664%;
    }

    .grid-offset-1 {
      margin-left: 8.333333333333332%;
    }

    .grid-offset-0 {
      margin-left: 0;
    }

}


@media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {
    .container {
        width: $container-moderate;
    }

    .moderate-1,
    .moderate-2,
    .moderate-3,
    .moderate-4,
    .moderate-5,
    .moderate-6,
    .moderate-7,
    .moderate-8,
    .moderate-9,
    .moderate-10,
    .moderate-11,
    .moderate-12 {
        float: left;
    }

    .moderate-12 {
        width: 100%;
    }
    .moderate-11 {
        width: 91.66666666666666%;
    }
    .moderate-10 {
        width: 83.33333333333334%;
    }
    .moderate-9 {
        width: 75%;
    }
    .moderate-8 {
        width: 66.66666666666666%;
    }
    .moderate-7 {
        width: 58.333333333333336%;
    }
    .moderate-6 {
        width: 50%;
    }
    .moderate-5 {
        width: 41.66666666666667%;
    }
    .moderate-4 {
        width: 33.33333333333333%;
    }
    .moderate-3 {
        width: 25%;
    }
    .moderate-2 {
        width: 16.666666666666664%;
    }
    .moderate-1 {
        width: 8.333333333333332%;
    }


    .moderate-offset-12 {
        margin-left: 100%;
    }
    .moderate-offset-11 {
        margin-left: 91.66666666666666%;
    }
    .moderate-offset-10 {
        margin-left: 83.33333333333334%;
    }
    .moderate-offset-9 {
        margin-left: 75%;
    }
    .moderate-offset-8 {
        margin-left: 66.66666666666666%;
    }
    .moderate-offset-7 {
        margin-left: 58.333333333333336%;
    }
    .moderate-offset-6 {
        margin-left: 50%;
    }
    .moderate-offset-5 {
        margin-left: 41.66666666666667%;
    }
    .moderate-offset-4 {
        margin-left: 33.33333333333333%;
    }
    .moderate-offset-3 {
        margin-left: 25%;
    }
    .moderate-offset-2 {
        margin-left: 16.666666666666664%;
    }
    .moderate-offset-1 {
        margin-left: 8.333333333333332%;
    }
    .moderate-offset-0 {
        margin-left: 0;
    }


    .grid-col-1,
    .grid-col-2,
    .grid-col-3,
    .grid-col-4,
    .grid-col-5,
    .grid-col-6,
    .grid-col-7,
    .grid-col-8,
    .grid-col-9,
    .grid-col-10,
    .grid-col-11,
    .grid-col-12 {
        &.moderate-1 {
            @include grid-column(1);
        }
        &.moderate-2 {
            @include grid-column(2);
            .grid {
                &:nth-child(2n + 1) {
                    clear: left;
                }
            }
        }
        &.moderate-3 {
            @include grid-column(3);
            .grid {
                &:nth-child(3n + 1) {
                    clear: left;
                }
            }
        }
        &.moderate-4 {
            @include grid-column(4);
            .grid {
                &:nth-child(4n + 1) {
                    clear: both;
                }
            }
        }
        &.moderate-5 {
            @include grid-column(5);
            .grid {
                &:nth-child(5n + 1) {
                    clear: left;
                }
            }
        }
        &.moderate-6 {
            @include grid-column(6);
            .grid {
                &:nth-child(6n + 1) {
                    clear: left;
                }
            }
        }
        &.moderate-7 {
            @include grid-column(7);
            .grid {
                &:nth-child(7n + 1) {
                    clear: left;
                }
            }
        }
        &.moderate-8 {
            @include grid-column(8);
            .grid {
                &:nth-child(8n + 1) {
                    clear: left;
                }
            }
        }
        &.moderate-9 {
            @include grid-column(9);
            .grid {
                &:nth-child(9n + 1) {
                    clear: left;
                }
            }
        }
        &.moderate-10 {
            @include grid-column(10);
            .grid {
                &:nth-child(10n + 1) {
                    clear: left;
                }
            }
        }
        &.moderate-11 {
            @include grid-column(11);
            .grid {
                &:nth-child(11n + 1) {
                    clear: left;
                }
            }
        }
        &.moderate-12 {
            @include grid-column(12);
            .grid {
                &:nth-child(12n + 1) {
                    clear: left;
                }
            }
        }
    }
}


@media (min-width: $grid-normal) and (max-width: $grid-heavy - 1) {
    .container {
        width: $container-normal;
    }

    .grid-normal-1,
    .grid-normal-2,
    .grid-normal-3,
    .grid-normal-4,
    .grid-normal-5,
    .grid-normal-6,
    .grid-normal-7,
    .grid-normal-8,
    .grid-normal-9,
    .grid-normal-10,
    .grid-normal-11,
    .grid-normal-12 {
        float: left;
    }

    .grid-normal-12 {
        width: 100%;
    }
    .grid-normal-11 {
        width: 91.66666666666666%;
    }
    .grid-normal-10 {
        width: 83.33333333333334%;
    }
    .grid-normal-9 {
        width: 75%;
    }
    .grid-normal-8 {
        width: 66.66666666666666%;
    }
    .grid-normal-7 {
        width: 58.333333333333336%;
    }
    .grid-normal-6 {
        width: 50%;
    }
    .grid-normal-5 {
        width: 41.66666666666667%;
    }
    .grid-normal-4 {
        width: 33.33333333333333%;
    }
    .grid-normal-3 {
        width: 25%;
    }
    .grid-normal-2 {
        width: 16.666666666666664%;
    }
    .grid-normal-1 {
        width: 8.333333333333332%;
    }


    .grid-normal-offset-12 {
      margin-left: 100%;
    }
    .grid-normal-offset-11 {
      margin-left: 91.66666666666666%;
    }
    .grid-normal-offset-10 {
      margin-left: 83.33333333333334%;
    }
    .grid-normal-offset-9 {
      margin-left: 75%;
    }
    .grid-normal-offset-8 {
      margin-left: 66.66666666666666%;
    }
    .grid-normal-offset-7 {
      margin-left: 58.333333333333336%;
    }
    .grid-normal-offset-6 {
      margin-left: 50%;
    }
    .grid-normal-offset-5 {
      margin-left: 41.66666666666667%;
    }
    .grid-normal-offset-4 {
      margin-left: 33.33333333333333%;
    }
    .grid-normal-offset-3 {
      margin-left: 25%;
    }
    .grid-normal-offset-2 {
      margin-left: 16.666666666666664%;
    }
    .grid-normal-offset-1 {
      margin-left: 8.333333333333332%;
    }
    .grid-normal-offset-0 {
      margin-left: 0;
    }

    .grid-col-1 {
        @include grid-column(1);
    }
    .grid-col-2 {
        @include grid-column(2);
        .grid {
            &:nth-child(2n + 1) {
                clear: left;
            }
        }
    }
    .grid-col-3 {
        @include grid-column(3);
        .grid {
            &:nth-child(3n + 1) {
                clear: left;
            }
        }
    }
    .grid-col-4 {
        @include grid-column(4);
        .grid {
            &:nth-child(4n + 1) {
                clear: left;
            }
        }
    }
    .grid-col-5 {
        @include grid-column(5);
        .grid {
            &:nth-child(5n + 1) {
                clear: left;
            }
        }
    }
    .grid-col-6 {
        @include grid-column(6);
        .grid {
            &:nth-child(6n + 1) {
                clear: left;
            }
        }
    }
    .grid-col-7 {
        @include grid-column(7);
        .grid {
            &:nth-child(7n + 1) {
                clear: left;
            }
        }
    }
    .grid-col-8 {
        @include grid-column(8);
        .grid {
            &:nth-child(8n + 1) {
                clear: left;
            }
        }
    }
    .grid-col-9 {
        @include grid-column(9);
        .grid {
            &:nth-child(9n + 1) {
                clear: left;
            }
        }
    }
    .grid-col-10 {
        @include grid-column(10);
        .grid {
            &:nth-child(10n + 1) {
                clear: left;
            }
        }
    }
    .grid-col-11 {
        @include grid-column(11);
        .grid {
            &:nth-child(11n + 1) {
                clear: left;
            }
        }
    }
    .grid-col-12 {
        @include grid-column(12);
        .grid {
            &:nth-child(12n + 1) {
                clear: left;
            }
        }
        
    }
}


@media (min-width: $grid-heavy) {
    .container {
        width: $container-heavy;
    }

    .heavy-1,
    .heavy-2,
    .heavy-3,
    .heavy-4,
    .heavy-5,
    .heavy-6,
    .heavy-7,
    .heavy-8,
    .heavy-9,
    .heavy-10,
    .heavy-11,
    .heavy-12 {
        float: left;
    }

    .heavy-12 {
        width: 100%;
    }
    .heavy-11 {
        width: 91.66666666666666%;
    }
    .heavy-10 {
        width: 83.33333333333334%;
    }
    .heavy-9 {
        width: 75%;
    }
    .heavy-8 {
        width: 66.66666666666666%;
    }
    .heavy-7 {
        width: 58.333333333333336%;
    }
    .heavy-6 {
        width: 50%;
    }
    .heavy-5 {
        width: 41.66666666666667%;
    }
    .heavy-4 {
        width: 33.33333333333333%;
    }
    .heavy-3 {
        width: 25%;
    }
    .heavy-2 {
        width: 16.666666666666664%;
    }
    .heavy-1 {
        width: 8.333333333333332%;
    }

    .heavy-offset-12 {
        margin-left: 100%;
    }
    .heavy-offset-11 {
        margin-left: 91.66666666666666%;
    }
    .heavy-offset-10 {
        margin-left: 83.33333333333334%;
    }
    .heavy-offset-9 {
        margin-left: 75%;
    }
    .heavy-offset-8 {
        margin-left: 66.66666666666666%;
    }
    .heavy-offset-7 {
        margin-left: 58.333333333333336%;
    }
    .heavy-offset-6 {
        margin-left: 50%;
    }
    .heavy-offset-5 {
        margin-left: 41.66666666666667%;
    }
    .heavy-offset-4 {
        margin-left: 33.33333333333333%;
    }
    .heavy-offset-3 {
        margin-left: 25%;
    }
    .heavy-offset-2 {
        margin-left: 16.666666666666664%;
    }
    .heavy-offset-1 {
        margin-left: 8.333333333333332%;
    }
    .heavy-offset-0 {
        margin-left: 0;
    }

    .grid-col-1,
    .grid-col-2,
    .grid-col-3,
    .grid-col-4,
    .grid-col-5,
    .grid-col-6,
    .grid-col-7,
    .grid-col-8,
    .grid-col-9,
    .grid-col-10,
    .grid-col-11,
    .grid-col-12 {
        &.heavy-1 {
            @include grid-column(1);
        }
        &.heavy-2 {
            @include grid-column(2);
            .grid {
                &:nth-child(2n + 1) {
                    clear: left;
                }
            }
        }
        &.heavy-3 {
            @include grid-column(3);
            .grid {
                &:nth-child(3n + 1) {
                    clear: left;
                }
            }
        }
        &.heavy-4 {
            @include grid-column(4);
            .grid {
                &:nth-child(4n + 1) {
                    clear: left;
                }
            }
        }
        &.heavy-5 {
            @include grid-column(5);
            .grid {
                &:nth-child(5n + 1) {
                    clear: left;
                }
            }
        }
        &.heavy-6 {
            @include grid-column(6);
            .grid {
                &:nth-child(6n + 1) {
                    clear: left;
                }
            }
        }
        &.heavy-7 {
            @include grid-column(7);
            .grid {
                &:nth-child(7n + 1) {
                    clear: left;
                }
            }
        }
        &.heavy-8 {
            @include grid-column(8);
            .grid {
                &:nth-child(8n + 1) {
                    clear: left;
                }
            }
        }
        &.heavy-9 {
            @include grid-column(9);
            .grid {
                &:nth-child(9n + 1) {
                    clear: left;
                }
            }
        }
        &.heavy-10 {
            @include grid-column(10);
            .grid {
                &:nth-child(10n + 1) {
                    clear: left;
                }
            }
        }
        &.heavy-11 {
            @include grid-column(11);
            .grid {
                &:nth-child(11n + 1) {
                    clear: left;
                }
            }
        }
        &.heavy-12 {
            @include grid-column(12);
            .grid {
                &:nth-child(12n + 1) {
                    clear: left;
                }
            }
        }
    }
}


@media (max-width: $grid-light) {
    .container {
        padding-left: ($grid-container-row-light / 2);
        padding-right: ($grid-container-row-light / 2);
    }
    .row {
        margin-left: ($grid-container-row-light / -2);
        margin-right: ($grid-container-row-light / -2);
    }

    .grid,
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11,
    .grid-12,
    .light-1,
    .light-2,
    .light-3,
    .light-4,
    .light-5,
    .light-6,
    .light-7,
    .light-8,
    .light-9,
    .light-10,
    .light-11,
    .light-12,
    .moderate-1,
    .moderate-2,
    .moderate-3,
    .moderate-4,
    .moderate-5,
    .moderate-6,
    .moderate-7,
    .moderate-8,
    .moderate-9,
    .moderate-10,
    .moderate-11,
    .moderate-12,
    .grid-normal-1,
    .grid-normal-2,
    .grid-normal-3,
    .grid-normal-4,
    .grid-normal-5,
    .grid-normal-6,
    .grid-normal-7,
    .grid-normal-8,
    .grid-normal-9,
    .grid-normal-10,
    .grid-normal-11,
    .grid-normal-12,
    .heavy-1,
    .heavy-2,
    .heavy-3,
    .heavy-4,
    .heavy-5,
    .heavy-6,
    .heavy-7,
    .heavy-8,
    .heavy-9,
    .heavy-10,
    .heavy-11,
    .heavy-12 {
        padding-left: ($grid-container-row-light / 2);
        padding-right: ($grid-container-row-light / 2);
    }

    .grid,
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11,
    .grid-12 {
        float: none;
        width: auto;
        display: block;
        margin-bottom: $grid-margin-bottom-light;
    }

    .light-1,
    .light-2,
    .light-3,
    .light-4,
    .light-5,
    .light-6,
    .light-7,
    .light-8,
    .light-9,
    .light-10,
    .light-11,
    .light-12 {
        float: left;
    }

    .light-12 {
        width: 100%;
    }
    .light-11 {
        width: 91.66666666666666%;
    }
    .light-10 {
        width: 83.33333333333334%;
    }
    .light-9 {
        width: 75%;
    }
    .light-8 {
        width: 66.66666666666666%;
    }
    .light-7 {
        width: 58.333333333333336%;
    }
    .light-6 {
        width: 50%;
    }
    .light-5 {
        width: 41.66666666666667%;
    }
    .light-4 {
      width: 33.33333333333333%;
    }
    .light-3 {
      width: 25%;
    }
    .light-2 {
      width: 16.666666666666664%;
    }
    .light-1 {
      width: 8.333333333333332%;
    }

    .gutter-light, .gutter-moderate, .gutter-normal, .gutter-heavy {
        &.row {
            margin-left: ($grid-container-row-light / -2);
            margin-right: ($grid-container-row-light / -2);
        }
    }

    .gutter-light, .gutter-moderate, .gutter-normal, .gutter-heavy {
        .grid,
        .grid-1,
        .grid-2,
        .grid-3,
        .grid-4,
        .grid-5,
        .grid-6,
        .grid-7,
        .grid-8,
        .grid-9,
        .grid-10,
        .grid-11,
        .grid-12,
        .light-1,
        .light-2,
        .light-3,
        .light-4,
        .light-5,
        .light-6,
        .light-7,
        .light-8,
        .light-9,
        .light-10,
        .light-11,
        .light-12,
        .moderate-1,
        .moderate-2,
        .moderate-3,
        .moderate-4,
        .moderate-5,
        .moderate-6,
        .moderate-7,
        .moderate-8,
        .moderate-9,
        .moderate-10,
        .moderate-11,
        .moderate-12,
        .grid-normal-1,
        .grid-normal-2,
        .grid-normal-3,
        .grid-normal-4,
        .grid-normal-5,
        .grid-normal-6,
        .grid-normal-7,
        .grid-normal-8,
        .grid-normal-9,
        .grid-normal-10,
        .grid-normal-11,
        .grid-normal-12,
        .heavy-1,
        .heavy-2,
        .heavy-3,
        .heavy-4,
        .heavy-5,
        .heavy-6,
        .heavy-7,
        .heavy-8,
        .heavy-9,
        .heavy-10,
        .heavy-11,
        .heavy-12 {
            padding-left: ($grid-container-row-light / 2);
            padding-right: ($grid-container-row-light / 2);
        }
    }



    .grid-col-1,
    .grid-col-2,
    .grid-col-3,
    .grid-col-4,
    .grid-col-5,
    .grid-col-6,
    .grid-col-7,
    .grid-col-8,
    .grid-col-9,
    .grid-col-10,
    .grid-col-11,
    .grid-col-12 {
        .grid {
            width: auto;
        }
        &.light-1 {
            @include grid-column(1);
        }
        &.light-2 {
            @include grid-column(2);
            .grid {
                float: left;
                &:nth-child(2n + 1) {
                    clear: left;
                }
            }
        }
        &.light-3 {
            @include grid-column(3);
            .grid {
                float: left;
                &:nth-child(3n + 1) {
                    clear: left;
                }
            }
        }
        &.light-4 {
            @include grid-column(4);
            .grid {
                float: left;
                &:nth-child(4n + 1) {
                    clear: left;
                }
            }
        }
        &.light-5 {
            @include grid-column(5);
            .grid {
                float: left;
                &:nth-child(5n + 1) {
                    clear: left;
                }
            }
        }
        &.light-6 {
            @include grid-column(6);
            .grid {
                float: left;
                &:nth-child(6n + 1) {
                    clear: left;
                }
            }
        }
        &.light-7 {
            @include grid-column(7);
            .grid {
                float: left;
                &:nth-child(7n + 1) {
                    clear: left;
                }
            }
        }
        &.light-8 {
            @include grid-column(8);
            .grid {
                float: left;
                &:nth-child(8n + 1) {
                    clear: left;
                }
            }
        }
        &.light-9 {
            @include grid-column(9);
            .grid {
                float: left;
                &:nth-child(9n + 1) {
                    clear: left;
                }
            }
        }
        &.light-10 {
            @include grid-column(10);
            .grid {
                float: left;
                &:nth-child(10n + 1) {
                    clear: left;
                }
            }
        }
        &.light-11 {
            @include grid-column(11);
            .grid {
                float: left;
                &:nth-child(11n + 1) {
                    clear: left;
                }
            }
        }
        &.light-12 {
            @include grid-column(12);
            .grid {
                float: left;
                &:nth-child(12n + 1) {
                    clear: left;
                }
            }
        }
    }

}