// ------------------------------------------------------------\\
//  MIXINS                                               
// ------------------------------------------------------------\\

@mixin body-styles() {
	background-color:$body-bg !important;
    font-family:$font-family-normal;
    font-size:$global-font-size-normal;
    text-align:left;
    color:$text-color;
    -webkit-font-smoothing:antialiased;
    @media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {
		font-size:$global-font-size-moderate;
	}
	@media (max-width: $grid-light) {
	   font-size:$global-font-size-light;
	}
}


// Utilities
//-------------------------------------------------------------\\

@mixin clear() {
	&:before, &:after {
	    content: " "; 
	    display: table; 
	}
	&:after {
	    clear: both;
	}
}

@mixin image-replacement() {
	height:0;
	display:block;
	overflow:hidden;
}


// Buttons
//-------------------------------------------------------------\\

@mixin button-styles($color, $background, $border-color) {
	color: $color;
	background-color: $background;
	border-color: $border-color;
	@if $background == $color-black {
		&:hover {
			background-color: lighten($background, 15%);
			border-color: lighten($border-color, 15%);
		}
	} @else {
		&:hover {
			background-color: darken($background, 15%);
			border-color: darken($border-color, 15%);
		}
	}
	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -1px;
		width: 100%;
		height: 100%;
		@include box-shadow(rgba($button-shadow-color, $button-shadow-opacity) $button-shadow-category, rgba(darken($background, 10%), $button-shadow-inset-opacity) $button-shadow-inset-category inset);
	}
}




// Bar 
//-------------------------------------------------------------\\

// @mixin bar-border($top, $right, $bottom, $left) {
// 	border-top: $top;
// 	border-right: $right;
// 	border-bottom: $;
// }



// Grid System
//-------------------------------------------------------------\\


@mixin grid-column($column) {
	width: auto;
	float: none;
	padding: 0;
	.grid {
		width: 100% / $column;
	}
}



// List
//-------------------------------------------------------------\\

