.rotation .outer .bottom {
  bottom: -18px; }
.rotation .outer .top {
  top: -17px; }
.rotation .outer .left {
  left: -17px; }
.rotation .outer .right {
  right: -17px; }
.rotation.active .outer .bottom {
  bottom: -28px; }
  .rotation.active .outer .bottom span {
    color: #8c7c7a; }

.play-btn, .button.primary {
  filter: none !important; }
