// ------------------------------------------------------------\\
//  OVERRIDE Styles here. All Components, Modules, etc.                                                
// ------------------------------------------------------------\\

@import "compass/css3";
@import "base/config";
// Base
//-------------------------------------------------------------\\

body {
	background: url(../images/body-bg.png) 0 0 repeat;
}

html, body {
  height: 100%;
}

.wrapper {
	background: url(../images/wrapper-bg.jpg) 50% 0 no-repeat;
	min-height: 768px;
	padding-bottom: 28px;
	> .container {
		padding-bottom: 30px;
	}
}

hr {
    @include text-shadow(rgba(black, 0.4) 1px 1px 0);
    &:last-child {
        margin-bottom: 0;
    }
}



// Typography
//-------------------------------------------------------------\\
@import url(http://fonts.googleapis.com/css?family=Satisfy);

@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proximanovaexcn-semibold-webfont.eot');
    src: url('../fonts/proximanovaexcn-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanovaexcn-semibold-webfont.woff') format('woff'),
         url('../fonts/proximanovaexcn-semibold-webfont.ttf') format('truetype'),
         url('../fonts/proximanovaexcn-semibold-webfont.svg#proxima_nova_extra_condensSBd') format('svg');
    font-weight: normal;
    font-style: normal;
}

.heading-bullet {
	display: block;
	h1, h2 {
		display: inline-block;
	}
	h1 {
		&:before {
			content: "\2022";
			position: absolute;
			left: -18px;
			top: 45%;
			@include translate(0, -50%);
			font-size: 24px;
		}
		&:after {
			content: "\2022";
			position: absolute;
			right: -18px;
			top: 45%;
			@include translate(0, -50%);
			font-size: 24px;
		}
	}
	h2 {
		&:before {
			content: "\2022";
			position: absolute;
			left: -18px;
			top: 45%;
			@include translate(0, -50%);
			font-size: 24px;
		}
		&:after {
			content: "\2022";
			position: absolute;
			right: -18px;
			top: 45%;
			@include translate(0, -50%);
			font-size: 24px;
		}
	}
}

h1 {
	position: relative;
	letter-spacing: 6px;
	text-transform: uppercase;
}

h2 {
	position: relative;
	letter-spacing: 4px;
	text-transform: uppercase;
}

.sub-title {
	font-family: 'Satisfy', cursive;
	color: $color-normal;
	font-size: 17px;
	display: block;
	@include text-shadow(rgba(black, 0.3) 0px 1px 0);
	line-height: 1;
	&.text-heavy {
		font-size: 22px;
	}
}



// Buttons
//-------------------------------------------------------------\\


.button.primary {
	background-color: #0092d1; // Old browsers
	@include filter-gradient(#0092d1, #0081b9, vertical); // IE6-9
	@include background-image(linear-gradient(top,  #0092d1 0%,#0090cf 47%,#0084bd 81%,#0081b9 100%));
	padding: 2px;
	@include box-shadow(rgba(#000000, 0.3) 0 0 3px 1px);
	letter-spacing: 3px;
	.dot {
		position: relative;
		top: -4px;
	}
	&:hover {
		background: none;
		background-color: #12729b;
	}
	span {
		border: 1px solid #5db1d4;
	}
}

.button {
	text-transform: uppercase;
	span {
		display: block;
		padding: 8px 28px 7px 28px;
	}
	em {
		font-style: normal;
		position: relative;
		display: inline-block;
		vertical-align: top;
		&:before {
			content: "\2022";
			position: absolute;
			left: -10px;
			top: 45%;
			@include translate(0, -50%);
			font-size: 13px;
		}
		&:after {
			content: "\2022";
			position: absolute;
			right: -10px;
			top: 45%;
			@include translate(0, -50%);
			font-size: 13px;
		}
	}
}

.button.secondary {
	background-color: #df4a5d; // Old browsers
	@include filter-gradient(#df4a5d, #c74253, vertical); // IE6-9
	@include background-image(linear-gradient(top,  #df4a5d 0%,#df4a5d 52%,#dc495c 69%,#c84254 95%,#c74253 100%));
	padding: 2px;
	@include box-shadow(rgba(#000000, 0.3) 0 0 3px 1px);
	letter-spacing: 3px;
	.dot {
		position: relative;
		top: -6px;
	}
	&:hover {
		background: none;
		background-color: #ad3a49;
	}
	span {
		border: 1px solid #e37785;
		padding: 5px 15px;
	}
}


.button-triangle {
	color: #ffffff;
	position: relative;
	display: inline-block;
	padding: 2px;
	font-size: 24px;
	min-width: 230px;
	text-align: center;
	z-index: 99;
	em {
		font-style: normal;
		position: relative;
		z-index: 4;
		display: inline-block;
		top: 6px;
		&:before {
			content: "\2022";
			position: absolute;
			left: -10px;
			top: 45%;
			@include translate(0, -50%);
			font-size: 13px;
		}
		&:after {
			content: "\2022";
			position: absolute;
			right: -10px;
			top: 45%;
			@include translate(0, -50%);
			font-size: 13px;
		}
	}
	span {
		display: block;
		position: relative;
		z-index: 3;
		&:before {
			content: '';
			position: absolute;
			left: 17px;
			top: 1px;
			width: 0; 
			height: 0; 
			border-left: 99px solid transparent;
			border-right: 99px solid transparent;
			border-top: 54px solid #e1808d;
		}
		&:after {
			content: '';
			position: absolute;
			left: 21px;
			top: 2px;
			width: 0; 
			height: 0; 
			border-left: 95px solid transparent;
			border-right: 95px solid transparent;
			border-top: 51px solid #df4a5d;
			@include transition-property(all);
			@include transition-duration(.2s);
			@include transition-timing-function(ease-out);
		}
	}
	&:before {
		content: '';
		position: absolute;
		left: 8px;
		top: 0;
		z-index: 2;
		width: 0; 
		height: 0; 
		border-left: 110px solid transparent;
		border-right: 110px solid transparent;
		border-top: 61px solid #c12d40;
	}
	&:hover {
		text-decoration: none;
		span {
			&:after {
				border-top-color: #c12d40;
			}
		}
	}
}



// Nav
//-------------------------------------------------------------\\


// Form 
//-------------------------------------------------------------\\

.input-text {
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.select-box {
	&:after {
		content: '';
		background: url(../images/select-btn.png) 0 0 no-repeat;
		background-size: 37px 72px;
		width: 37px;
		height: 36px;
		position: absolute;
		right: 0;
		top: 1px;
	}
	&:hover {
		&:after {
			background-position: 0 -36px;
		}
	}
	select {
		cursor: pointer;
	}
}

.input-radio {
	font-size: 0;
	label span {
		display: inline-block;
	}
}

.iradio {
    margin: 0;
    padding: 0;
    width: 26px;
    height: 26px;
    background: url(../images/radio-box.png) 0 0 no-repeat;
    background-size: 26px 52px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.iradio {
    background-position: 0 0;
}
.iradio.checked {
    background-position: 0px -26px;
    cursor: default;
}

.terms {
	font-size: 14px;
}

.underline {
	text-decoration: underline;
}
a.underline {
	&:hover {
		text-decoration: none;
	}
}

// List 
//-------------------------------------------------------------\\


// Bar 
//-------------------------------------------------------------\\


// Hero
//-------------------------------------------------------------\\

.tabs {
	letter-spacing: 2px;
	li {
		a {
			@include box-shadow(rgba(black, 0.5) 0 0 8px 0px inset);
			background-color: #e8ddd6;
			color: #7e6d6b;
			min-width: 90px;
		}
		a:hover {
			color: #ffffff;
			background-color: #007baf; 
			@include filter-gradient(#007baf, #007fb5, vertical); 
			@include background-image(linear-gradient(top,  #007baf 0%,#0086bf 14%,#008ac4 27%,#008ac4 77%,#0086be 91%,#007fb5 100%));
		}
	}
	li.active {
		a {
			color: #ffffff;
			background-color: #007baf; 
			@include filter-gradient(#007baf, #007fb5, vertical); 
			@include background-image(linear-gradient(top,  #007baf 0%,#0086bf 14%,#008ac4 27%,#008ac4 77%,#0086be 91%,#007fb5 100%));
		}
	}
}


// Icons 
//-------------------------------------------------------------\\


.icon-guitar {
	background: url(../images/icons/icon-guitar.png) 0 0 no-repeat;
	background-size: 70px 66px;
	width: 70px;
	height: 66px;
}

.icon-drum {
	background: url(../images/icons/icon-drum.png) 0 0 no-repeat;
	background-size: 36px 40px;
	width: 36px;
	height: 40px;
}

.icon-maracas {
	background: url(../images/icons/icon-maracas.png) 0 0 no-repeat;
	background-size: 46px 58px;
	width: 46px;
	height: 58px;
}

.icon-drum {
	background: url(../images/icons/icon-drum.png) 0 0 no-repeat;
	background-size: 36px 40px;
	width: 36px;
	height: 40px;
}

.icon-mic {
	background: url(../images/icons/icon-mic.png) 0 0 no-repeat;
	background-size: 27px 62px;
	width: 27px;
	height: 62px;
}

.icon-violin {
	background: url(../images/icons/icon-violin.png) 0 0 no-repeat;
	background-size: 59px 69px;
	width: 59px;
	height: 69px;
}

.icon-trumpet {
	background: url(../images/icons/icon-trumpet.png) 0 0 no-repeat;
	background-size: 91px 54px;
	width: 91px;
	height: 54px;
}

.icon-sax {
	background: url(../images/icons/icon-sax.png) 0 0 no-repeat;
	background-size: 79px 84px;
	width: 79px;
	height: 84px;
}

.icon-recorder {
	background: url(../images/icons/icon-recorder.png) 0 0 no-repeat;
	background-size: 44px 82px;
	width: 46px;
	height: 82px;
}

.icon-bong {
	background: url(../images/icons/icon-bong.png) 0 0 no-repeat;
	background-size: 64px 63px;
	width: 64px;
	height: 63px;
}

.icon-percussion {
	background: url(../images/icons/icon-percussion.png) 0 0 no-repeat;
	background-size: 62px 61px;
	width: 62px;
	height: 61px;
}

.icon-snare {
	background: url(../images/icons/icon-snare.png) 0 0 no-repeat;
	background-size: 60px 50px;
	width: 60px;
	height: 50px;
}

.icon-shaker {
	background: url(../images/icons/icon-shaker.png) 0 0 no-repeat;
	background-size: 59px 39px;
	width: 59px;
	height: 39px;
}

.icon-cymbals {
	background: url(../images/icons/icon-cymbals.png) 0 0 no-repeat;
	background-size: 45px 47px;
	width: 45px;
	height: 47px;	
}

.icon-maraca {
	background: url(../images/icons/icon-maraca.png) 0 0 no-repeat;
	background-size: 39px 64px;
	width: 39px;
	height: 64px;	
}

.icon-triangle {
	background: url(../images/icons/icon-triangle.png) 0 0 no-repeat;
	background-size: 57px 77px;
	width: 57px;
	height: 77px;	
}

.icon-bell {
	background: url(../images/icons/icon-bell.png) 0 0 no-repeat;
	background-size: 48px 63px;
	width: 48px;
	height: 63px;	
}

.icon-cymbals-blue {
	background: url(../images/icons/icon-cymbals-blue.png) 0 0 no-repeat;
	background-size: 70px 73px;
	width: 70px;
	height: 73px;	
}

.icon-drum-head {
	background: url(../images/icons/icon-drum-head.png) 0 0 no-repeat;
	background-size: 53px 64px;
	width: 53px;
	height: 64px;
}

.icon-guitar-acoustic {
	background: url(../images/icons/icon-guitar-acoustic.png) 0 0 no-repeat;
	background-size: 69px 79px;
	width: 69px;
	height: 79px;
}

.icon-guitar-acoustic {
	background: url(../images/icons/icon-guitar-acoustic.png) 0 0 no-repeat;
	background-size: 69px 79px;
	width: 69px;
	height: 79px;
}





// Header
//-------------------------------------------------------------\\

.header {
	background: url(../images/header-bg.png) 0 0 no-repeat;
	background-size: 953px 217px;
	width: 953px;
	height: 217px;
	text-indent: -999999px;
	margin:30px auto 11px auto;
	text-align: center;
}

.header-logo {
	//background: url(../images/logo.png) 0 0 no-repeat;
	background-size: 92px 83px;
	width: 115px;
	height: 106px;
	text-indent: -99999px;
	display: block;
	float: none;
	margin:0 auto;
	position: relative;
	top: 8px;
	left: 5px;
}

// Main
//-------------------------------------------------------------\\


.main-content {
	text-align: center;
	display: block;
	padding-bottom: 30px;
}


// Instructions

.instructions {

}

.instruction-icons {
	padding-top: 7px;
	margin-bottom: 1px;
	ul {
		font-size: 0;
	}
	.plus {
		font-size: 40px;
		color: $color-tertiary;
		@include text-shadow(rgba(black, 0.3) 0px 1px 0);
	}
	.icon {
		@include transition-property(all);
        @include transition-duration(.2s);
        @include transition-timing-function(ease-out);
	}
	li {
		display: inline-block;
		vertical-align: top;
		line-height: 65px;
		margin-left: 7px;
		margin-right: 7px;
		&:hover {
			.icon {
				@include scale(1.3);
			}
		}
	}
	.icon-guitar {
		position: relative;
		top: -15px;
		right: -15px;
	}
	.icon-drum {
		position: relative;
		top: 3px;
	}
	.icon-maracas {
		position: relative;
		top: -5px;
	}
	.icon-mic {
		position: relative;
		top: -5px;
		left: 2px;
	}
}


// Player Box

.record-player {
	width: 360px;
	margin:80px auto 28px auto;
	position: relative;
	.base {
		background: url(../images/player_parts/base.png) 0 0 no-repeat;
		background-size: 360px 360px;
		width: 360px;
		height: 360px;
		padding: 9px;
		position: relative;
		z-index: 2;
	}
	.effect-ring {
		background: url(../images/player_parts/effect-ring.png) 0 0 no-repeat;
		background-size: 338px 338px;
		width: 338px;
		height: 338px;
		position: absolute;
		left: 12px;
		top: 11px;
		z-index: 3;
	}
	.effect-ring-blue {
		background: url(../images/player_parts/effect-ring-blue.png) 0 0 no-repeat;
		background-size: 338px 338px;
		width: 338px;
		height: 338px;
		position: absolute;
		left: 11px;
		top: 11px;
		z-index: 3;
	}
	.beats-ring {
		background: url(../images/player_parts/beats-ring.png) 0 0 no-repeat;
		background-size: 290px 290px;
		width: 290px;
		height: 290px;
		position: absolute;
		left: 36px;
		top: 36px;
		z-index: 4;
	}
	.beats-ring-blue {
		background: url(../images/player_parts/beats-ring-blue.png) 0 0 no-repeat;
		background-size: 290px 290px;
		width: 290px;
		height: 290px;
		position: absolute;
		left: 36px;
		top: 36px;
		z-index: 4;
	}
	.melody-ring {
		background: url(../images/player_parts/melody-ring.png) 0 0 no-repeat;
		background-size: 234px 234px;
		width: 234px;
		height: 234px;
		position: absolute;
		left: 64px;
		top: 64px;
		z-index: 5;
	}
	.melody-ring-blue {
		background: url(../images/player_parts/melody-ring-blue.png) 0 0 no-repeat;
		background-size: 234px 234px;
		width: 234px;
		height: 234px;
		position: absolute;
		left: 64px;
		top: 64px;
		z-index: 5;
	}
	.outer-label {
		background: url(../images/player_parts/outer-label-bg.png) 0 0 no-repeat;
		background-size: 140px 140px;
		width: 140px;
		height: 140px;
		position: absolute;
		left: 76px;
		top: 74px;
	}
	.inner-label {
		background: url(../images/player_parts/inner-label-bg.png) 0 0 no-repeat;
		background-size: 174px 174px;
		width: 174px;
		height: 174px;
		position: absolute;
		left: 94px;
		top: 94px;
		display: block;
		z-index: 6;
		text-align: center;
		color: #f1ebe6;
		&:after {
			content: '';
			width: 15px;
			height: 15px;
			position: absolute;
			background: #d9d2cc;
			border-radius: 50%;
			left: 50%;
			top: 50%;
			z-index: 5;
			@include translate(-50%, -50%);
		}
		.inner-label-details {
			position: relative;
			width: 174px;
			height: 174px;
		}
		.label-top {
			position: absolute;
			top: 20px;
			left: 0;
			width: 100%;
			.bend {
				line-height: 1;
				color: #ffffff;
				font-size: 15px;
				span {
					color: #ffffff;
					line-height: normal;
				}
			}
		}
		.label-bottom {
			position: absolute;
			bottom: 25px;
			left: 0;
			width: 100%;
			text-align: center;
			span {
				display: block;
			}
		}
		.desc {
			text-transform: uppercase;
			letter-spacing: normal;
			font-size: 14px;
		}
		.logo {
			background: url(../images/logo.png) 0 0 no-repeat;
			background-size: 51px 46px;
			width: 51px;
			height: 46px;
			margin:0 auto;
		}
		.name {
			font-family: 'Satisfy', cursive;
			font-size: 22px;
			letter-spacing: normal !important;
			line-height: 1;
		}
		.dot {
			position: relative;
			top: -3px;

		}
	}
	.needle {
		background: url(../images/player_parts/needle.png) 0 0 no-repeat;
		background-size: 155px 264px;
		width: 155px;
		height: 264px;
		position: absolute;
		right: -25px;
		top: 4px;
		z-index: 7;
	}
	.play-btn {
		background-color: #0092d1; // Old browsers
		@include filter-gradient(#0092d1, #0081b9, vertical); // IE6-9
		@include background-image(linear-gradient(top,  #0092d1 0%,#0090cf 47%,#0084bd 81%,#0081b9 100%));
		padding: 3px;
		@include box-shadow(rgba(#000000, 0.3) 0 0 3px 1px);
		letter-spacing: 3px;
		border-radius: 50%;
		width: 54px;
		height: 54px;
		position: absolute;
		right: -53px;
		top: 82px;
		z-index: 8;
		@include transition-property(background-color);
	    @include transition-duration(.4s);
	    @include transition-timing-function(ease-out);
		&:hover {
			background: none;
			background-color: #12729b;
		}
		span {
			border: 1px solid #5db1d4;
			display: block;
			width: 48px;
			height: 48px;
			background: url(../images/player_parts/play-btn.png) 56% 50% no-repeat;
			background-size: 19px 24px;
			border-radius: 50%;
		}
	}
}

.filler-1 {
	background: url(../images/filler1.png) 0 0 no-repeat;
	background-size: 149px 171px;
	width: 149px;
	height: 171px;
	position: absolute;
	top: -77px;
	right: -10px;
	z-index: 1;
}

.filler-2 {
	background: url(../images/filler2.png) 0 0 no-repeat;
	background-size: 226px 248px;
	width: 226px;
	height: 248px;
	position: absolute;
	bottom: -25px;
	left: -90px;
	z-index: 1;
}

.filler-3 {
	background: url(../images/filler3.png) 0 0 no-repeat;
	background-size: 128px 103px;
	width: 128px;
	height: 103px;
	position: absolute;
	bottom: 35px;
	right: -35px;
	z-index: 1;
}

.filler-4 {
	background: url(../images/filler4.png) 0 0 no-repeat;
	background-size: 68px 137px;
	width: 68px;
	height: 137px;
	position: absolute;
	top: 27px;
	left: 0px;
	z-index: 1;
}

.filler-5 {
	background: url(../images/filler5.png) 0 0 no-repeat;
	background-size: 116px 116px;
	width: 116px;
	height: 116px;
	position: absolute;
	top: -52px;
	left: 94px;
	z-index: 1;
}

.filler-6 {
	background: url(../images/filler6.png) 0 0 no-repeat;
	background-size: 37px 76px;
	width: 37px;
	height: 76px;
	position: absolute;
	top: 151px;
	right: -54px;
	z-index: 1;
}

.filler-7 {
	background: url(../images/filler7.png) 0 0 no-repeat;
	background-size: 53px 41px;
	width: 53px;
	height: 41px;
	position: absolute;
	bottom: -10px;
	right: 73px;
	z-index: 1;
}

.filler-8 {
	background: url(../images/filler8.png) 0 0 no-repeat;
	background-size: 44px 86px;
	width: 44px;
	height: 86px;
	position: absolute;
	top: 25px;
	left: -57px;
	z-index: 1;
}



.circle {
	width: 80px;
	height: 80px;
	background-color: #c7beb3;
	display: inline-block;
	border-radius: 50%;
	@include box-shadow(rgba(black, 0.1) 2px 2px 4px 0px inset);
	@include transition-property(background-color);
    @include transition-duration(.3s);
    @include transition-timing-function(ease-out);
    @include backface-visibility(hidden);
    position: relative;
}


// Icon Nav

.icon-nav {
	margin-bottom: 30px !important;
	li {
		display: inline-block;
		vertical-align: top;
		margin-left: 29px;
		margin-right: 29px;
		cursor: pointer;
		.icon {
			@include transition-property(all);
	        @include transition-duration(.2s);
	        @include transition-timing-function(ease-out);
	        @include backface-visibility(hidden);
		}
	}
	li:hover {
		.circle {
			background-color: $color-primary;
		}
		.icon {
			@include scale(1.3);
		}
	}
	li.active {
		.circle {
			background-color: $color-primary;
		}
	}
	.icon-guitar {
		background-size: 95px 115px;
		width: 95px;
		height: 115px;
		position: absolute;
		top: -40px;
		left: 10px;
	}
	.icon-violin {
		position: absolute;
		top: -10px;
		left: 0;
	}
	.icon-trumpet {
		position: absolute;
		top: 6px;
		left: 5px;
	}
	.icon-sax {
		position: absolute;
		left: -16px;
		top: -9px;
	}
	.icon-recorder {
		position: absolute;
		left: 17px;
		top: -8px;
	}
	.icon-bong {
		position: relative;
		top: 8px;
		left: 3px;
	}
	.icon-drum {
		background-size: 40px 44px;
		width: 40px;
		height: 44px;
		position: relative;
		top: 12px;
		left: 2px;
	}
	.icon-percussion {
		position: relative;
		top: 8px;
		left: 2px;
	}
	.icon-snare {
		position: relative;
		top: 14px;
		left: 2px;
	}
	.icon-shaker {
		position: relative;
		top: 19px;
		left: 1px;
	}
	.icon-maraca {
		position: relative;
		left: 6px;
		top: 8px;
	}
	.icon-triangle {
		position: relative;
		top: 4px;
		left: 4px;
	}
	.icon-cymbals-blue {
		position: relative;
		left: 5px;	
	}
	.icon-cymbals {
		position: relative;
		top: 14px;
	}
	.icon-drum-head {
		position: relative;
		top: 6px;
		left: -3px;
	}
	.icon-guitar-acoustic {
		position: relative;
		top: -10px;
		left: -5px;
	}
}



// Bottom Nav

.bottom-nav {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	max-width: 1200px;
	margin:0 auto;
	li {
		float: left;
		width: 25%;
		position: relative;
		background: url(../images/triangle-menu.png) 50% 0 no-repeat;
	}
	a {
		display: block;
		height: 70px;
		font-size: 17px;
		padding-top: 35px;
		color: $color-normal;
		background: url(../images/triangle-menu-hover.png) 50% 0px no-repeat;
		@include transition-property(all);
        @include transition-duration(.2s);
        @include transition-timing-function(ease-out);
        @include backface-visibility(hidden);
	}
	li:hover, li.active {
		.circle {
			background: none;
			background-color: #67b2d3;
		}
		.icon {
			@include scale(1.2);
		}
		a {
			background: url(../images/triangle-menu-hover.png) 50% -156px no-repeat;
			text-decoration: none;
			color: $color-white;
		}
	}
	.icon {
		@include transition-property(all);
        @include transition-duration(.2s);
        @include transition-timing-function(ease-out);
        @include backface-visibility(hidden);
	}
	.circle {
		width: 52px;
		height: 52px;
		position: absolute;
		left: 50%;
		top: -25px;
		margin-left: -25px;
		@include transition-property(all);
        @include transition-duration(.2s);
        @include transition-timing-function(ease-out);
        @include backface-visibility(hidden);
	}
	.icon-guitar {
		background-size: 56px 69px;
		width: 56px;
		height: 69px;
		position: absolute;
		top: -24px;
		left: 7px;
	}
	.icon-bong {
		background-size: 42px 40px;
		width: 42px;
		height: 40px;
		position: relative;
		left: 2px;
	}
	.icon-mic {
		background-size: 25px 57px;
		width: 25px;
		height: 57px;
		position: relative;
		top: -15px;
		left: 2px;
	}
	.icon-cymbals {
		background-size: 33px 35px;
		width: 33px;
		height: 35px;
		position: relative;
		top: 9px;
	}

}


// Rotation

.rotation {
	width: 518px;
	height: 518px;
	position: absolute;
	left: -80px;
	top: -80px;
	.outer {
		background-color: rgba(#ffffff, 0);
		z-index: 10;
		border: 35px solid #ffffff;
		border-radius: 50%;
		width: 100%;
		height: 100%;
		@include box-shadow(rgba(#000000, 0.4) 0 0 20px 0px);
		font-size: 14px;
		.bend {
			line-height: 1;
			font-size: 20px;
			span {
				color: #c0b6a3;
				line-height: normal;
			}
		}
		.left {
			left: -30px;
		}
		.right {
		}
		.top {
			left: 50%;
		}

	}
	.inner {
		position: absolute;
		top: 36px;
		left: 36px;
		background-color: rgba(#000000, 0.1);
		border: 45px solid #ece7df;
		border-radius: 50%;
		width: 448px;
		height: 448px;
		border-left-color: #dfd9ce;
		border-right-color: #dfd9ce;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 1px;
		.bend {
			line-height: 1;
			font-size: 17px;
			span {
				color: #7e6d6b;
				line-height: normal;
			}
		}
		.top {
			width: 100%;
			text-align: center;
			left: 0;

		}
		.right {
			right: -37px;
		}
		.left {
			left: -55px;
		}
	}
	.rotation-content {
		position: relative;
		width: 100%;
		height: 100%;
		> div.active {
			span {
				color: $color-white;
			}
		}
	}
	.top {
		position: absolute;
		top: -30px;
		z-index: 20;
		@include rotate(180deg);
	}
	.bottom {
		position: absolute;
		bottom: -31px;
		left: 50%;
		z-index: 20;
		@include translate(-50%, 0px);
	}
	.right {
		position: absolute;
		top: 50%;
		right: -28px;
		@include rotate(-90deg);
		z-index: 20;
	}
	.left {
		position: absolute;
		top: 50%;
		left: -49px;
		@include rotate(90deg);
		z-index: 20;
	}
	&.active {
		&:after {
			content:'';
			background: url(../images/rotation-active-bg.png) 0 0 no-repeat;
			background-size: 379px 153px;
			width: 379px;
			height: 153px;
			position: absolute;
			bottom: -20px;
			left: 50.2%;
			z-index: 13;
			@include translate(-50%, 0px);
		}
		.inner {
			.bottom {
				span {
					color: #ffffff;
				}
			}
		}
		.outer {
			.bottom {
				bottom: -35px;
				span {
					color: #8c7c7a;
				}
			}
		}
	}
}


.rotation-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.rotate-next {
	background: url(../images/arrow-right.png) 0 0 no-repeat;
	background-size: 84px 72px;
	width: 84px;
	height: 36px;
	position: absolute;
	bottom: -34px;
	right: 95px;
	&:hover, &.active {
		background-position: 0 -36px;
	}
}

.rotate-prev {
	background: url(../images/arrow-left.png) 0 0 no-repeat;
	background-size: 84px 72px;
	width: 84px;
	height: 36px;
	position: absolute;
	bottom: -34px;
	left: 95px;
	&:hover, &.active {
		background-position: 0 -36px;
	}
}

.rotate-up {
	background: url(../images/arrow-up-down.png) 0 0 no-repeat;
	background-size: 59px 76px;
	width: 59px;
	height: 38px;
	position: absolute;
	bottom: -47px;
	left: 50%;
	@include translate(-50%, 0px);
	&:hover, &.active {
		background: url(../images/arrow-up-down-hover.png) 0 0 no-repeat;
		background-size: 59px 76px;
	}
}

.rotate-down {
	background: url(../images/arrow-up-down.png) 0 -38px no-repeat;
	background-size: 59px 76px;
	width: 59px;
	height: 38px;
	position: absolute;
	bottom: -84px;
	left: 50%;
	@include translate(-50%, 0px);
	&:hover, &.active {
		background: url(../images/arrow-up-down-hover.png) 0 -38px no-repeat;
		background-size: 59px 76px;
	}
}

@-moz-document url-prefix() { 
  	.rotation {
  		.outer {
  			.bottom {
				bottom: -20px;
			}
			.top {
				top: -18px;
			}
			.left {
				left: -17px;
			}
			.right {
				right: -18px;
			}
  		}
  		&.active {
  			.outer {
				.bottom {
					bottom: -28px;
					span {
						color: #8c7c7a;
					}
				}
			}
  		}
  	}
}



// Thankyou

.tabs {
	li {
		a {
			min-width: 110px;
		}
	}
}

.thankyou {
	
}

.share-block {
	
	position: relative;
	padding-top: 20px;
	&:after {
		content: '';
		position: absolute;
		left: 50%;
		top: 0;
		@include translate(-50%, 0px);
		width: 195px;
		height: 3px;
		background-color: $color-tertiary;
		@include box-shadow(rgba(#000000, 0.2) 0 0 3px 1px inset);
	}
}

form {
	.heading-category {
		margin-bottom: 5px;
	}
}

.form-content {
	padding-bottom: 80px;
}



.instructions {
	.record-player {
		margin-top: 50px;
	}
}



// Footer
//-------------------------------------------------------------\\


.disc {
	background: url(../images/disc.png) 0 0 no-repeat;
	width: 324px;
	height: 104px;
	margin:0 auto;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 99;
	.footer-content {
		border-top: 1px solid #ad9d96;
		text-align: center;
		font-size: 13px;
		color: #7d6c6b;
		letter-spacing: 2px;
		text-transform: uppercase;
		a {
			color: #7d6c6b;
		}
	}
	.div {
		margin-left: 13px;
		margin-right: 13px;
	}
}


.lyrics {
	padding-bottom: 90px;
}

.finish-record {
	padding-bottom: 0;
}

// Tablet
@media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {
    .header {
		background: url(../images/header-bg.png) 0 0 no-repeat;
		background-size: 602px 143px;
		width: 602px;
		height: 143px;
		margin:42px auto 11px auto;
		text-align: center;
	}

	.bottom-nav {
		max-width: 768px;
		li {
			float: left;
			width: 25%;
			position: relative;
			background: url(../images/triangle-menu.png) 50% 0 no-repeat;
		}
		a {
			display: block;
			height: 47px;
			font-size: 14px;
			padding-top: 24px;
		}
		.circle {
			width: 42px;
			height: 42px;
			position: absolute;
			left: 50%;
			top: -28px;
			margin-left: -21px;
			@include transition-property(all);
	        @include transition-duration(.2s);
	        @include transition-timing-function(ease-out);
		}
		.icon-guitar {
			background-size: 44px 54px;
			width: 44px;
			height: 54px;
			position: absolute;
			top: -20px;
			left: 7px;
		}
		.icon-bong {
			background-size: 33px 33px;
			width: 33px;
			height: 33px;
			position: relative;
			left: 2px;
		}
		.icon-mic {
			background-size: 20px 46px;
			width: 20px;
			height: 46px;
			position: relative;
			top: -11px;
			left: 2px;
		}
		.icon-cymbals {
			background-size: 28px 29px;
			width: 28px;
			height: 29px;
			position: relative;
			top: 7px;
		}
	}
	.circle {
		width: 65px;
		height: 65px;
		background-color: #c7beb3;
		display: inline-block;
		border-radius: 50%;
		@include box-shadow(rgba(black, 0.1) 2px 2px 4px 0px inset);
		@include transition-property(background-color);
	    @include transition-duration(.3s);
	    @include transition-timing-function(ease-out);
	    position: relative;
	}
	.icon-nav {
		margin-bottom: 10px !important;
		li:hover {
			.circle {
				background-color: $color-primary;
			}
			.icon {
				@include scale(1.3);
			}
		}
		li.active {
			.circle {
				background-color: $color-primary;
			}
		}
		.icon-guitar {
			background-size: 70px 85px;
			width: 70px;
			height: 85px;
			position: absolute;
			top: -27px;
			left: 10px;
		}
		.icon-guitar-acoustic {
			background-size: 60px 69px;
			width: 60px;
			height: 69px;
			position: relative;
			top: -10px;
			left: -5px;
		}
		.icon-violin {
			position: absolute;
			top: -10px;
			left: 0;
		}
		.icon-trumpet {
			background-size: 81px 48px;
			width: 81px;
			height: 48px;
			position: absolute;
			top: 2px;
			left: 5px;
		}
		.icon-sax {
			background-size: 65px 68px;
			width: 65px; 
			height: 68px;
			position: absolute;
			left: -16px;
			top: -6px;
		}
		.icon-recorder {
			background-size: 38px 72px;
			width: 38px;
			height: 72px;
			position: absolute;
			left: 9px;
			top: -4px;
		}
		.icon-bong {
			background-size: 51px 50px;
			width: 51px;
			height: 50px;
			position: relative;
			top: 8px;
			left: 2px;
		}
		.icon-drum {
			background-size: 40px 44px;
			width: 40px;
			height: 44px;
			position: relative;
			top: 12px;
			left: 2px;
		}
		.icon-drum-head {
			background-size: 45px 55px;
			width: 45px;
			height: 55px;
		}

		.icon-percussion {
			background-size: 51px 51px;
			width: 51px;
			height: 51px;
			position: relative;
			top: 8px;
			left: 1px;
		}
		.icon-snare {
			background-size: 50px 42px;
			width: 50px;
			height: 42px;
			position: relative;
			top: 11px;
			left: 2px;
		}
		.icon-shaker {
			background-size: 49px 32px;
			width: 49px;
			height: 32px;
			position: relative;
			top: 16px;
			left: 1px;
		}
		.icon-maraca {
			background-size: 30px 50px;
			width: 30px;
			height: 50px;
			position: relative;
			left: 6px;
			top: 8px;
		}
		.icon-triangle {
			background-size: 48px 65px;
			width: 48px;
			height: 65px;
			position: relative;
			top: 4px;
			left: 4px;
		}
		.icon-cymbals-blue {
			background-size: 55px 57px;
			width: 55px;
			height: 57px;
			position: relative;
			left: 5px;	
			top: 4px;
		}
		.icon-cymbals {
			background-size: 40px 42px;
			width: 40px;
			height: 42px;
			position: relative;
			top: 11px;
		}
		.icon-bell {
			background-size: 39px 53px;
			width: 38px;
			height: 53px;
			top: 5px;
			left: 3px;
		}
	}
	.finish-record {
		padding-bottom: 20px;
	}

	.button-triangle {
		font-size: 20px;
		min-width: 200px;
		span {
			display: block;
			position: relative;
			z-index: 3;
			&:before {
				content: '';
				position: absolute;
				left: 17px;
				top: 1px;
				width: 0; 
				height: 0; 
				border-left: 79px solid transparent;
				border-right: 79px solid transparent;
				border-top: 44px solid #e1808d;
			}
			&:after {
				content: '';
				position: absolute;
				left: 21px;
				top: 2px;
				width: 0; 
				height: 0; 
				border-left: 75px solid transparent;
				border-right: 75px solid transparent;
				border-top: 41px solid #df4a5d;
				@include transition-property(all);
				@include transition-duration(.2s);
				@include transition-timing-function(ease-out);
			}
		}
		&:before {
			content: '';
			position: absolute;
			left: 8px;
			top: 0;
			z-index: 2;
			width: 0; 
			height: 0; 
			border-left: 90px solid transparent;
			border-right: 90px solid transparent;
			border-top: 51px solid #c12d40;
		}
		&:hover {
			span {
				&:after {
					border-top-color: #c12d40;
				}
			}
		}
	}



}

// Desktop
@media (min-width: $grid-normal) and (max-width: $grid-heavy - 1) {
    
}

// Wide Screen
@media (min-width: $grid-heavy) {

}

// Mobile
@media (max-width: $grid-light) {
	body {
		color: #7e6d6b;
	}
	h4 {
		color: #7e6d6b;
		font-size: 16px;
	}

	.wrapper {
		background: url(../images/mobile/wrapper-bg.jpg) 50% 0 no-repeat;
		background-size: 637px 530px;
		min-height: 430px;
		overflow: hidden;
		> .container {
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 0;
		}
		.main {
			padding-left: 20px;
			padding-right: 20px;
		}
	}


	.header {
		background: url(../images/mobile/header-bg.png) 0 0 no-repeat;
		background-size: 314px 114px;
		width: 314px;
		height: 114px;
		margin:14px auto 2px auto;
	}
	.header-logo {
		background: url(../images/mobile/logo.png) 0 0 no-repeat;
		background-size: 60px 54px;
		width: 60px;
		height: 54px;
		position: relative;
		top: 5px;
		left: 2px;
	}


	.sub-title {
		font-family: 'Satisfy', cursive;
		color: $color-normal;
		font-size: 17px;
		display: block;
		@include text-shadow(rgba(black, 0.3) 0px 1px 0);
		line-height: 1;
		&.text-heavy {
			font-size: 20px;
		}
	}

	.heading-bullet {
		h1 {
			&:before {
				content: "\2022";
				position: absolute;
				left: -13px;
				top: 45%;
				@include translate(0, -50%);
				font-size: 20px;
			}
			&:after {
				content: "\2022";
				position: absolute;
				right: -13px;
				top: 45%;
				@include translate(0, -50%);
				font-size: 20px;
			}
		}
		h2 {
			&:before {
				content: "\2022";
				position: absolute;
				left: -13px;
				top: 45%;
				@include translate(0, -50%);
				font-size: 20px;
			}
			&:after {
				content: "\2022";
				position: absolute;
				right: -13px;
				top: 45%;
				@include translate(0, -50%);
				font-size: 20px;
			}
		}
	}

	h1 {
		position: relative;
		letter-spacing: 4px;
		text-transform: uppercase;
	}


	// Record Player

	.record-player {
		width: 206px;
		margin:22px auto 10px auto;
		position: relative;
		.base {
			background: url(../images/player_parts/base.png) 0 0 no-repeat;
			background-size: 206px 206px;
			width: 206px;
			height: 206px;
		}
		.effect-ring {
			background: url(../images/player_parts/effect-ring.png) 0 0 no-repeat;
			background-size: 194px 194px;
			width: 194px;
			height: 194px;
			position: absolute;
			left: 7px;
			top: 6px;
			z-index: 3;
		}
		.effect-ring-blue {
			background: url(../images/player_parts/effect-ring-blue.png) 0 0 no-repeat;
			background-size: 194px 194px;
			width: 194px;
			height: 194px;
			position: absolute;
			left: 7px;
			top: 6px;
			z-index: 3;
		}
		.beats-ring {
			background: url(../images/player_parts/beats-ring.png) 0 0 no-repeat;
			background-size: 165px 165px;
			width: 165px;
			height: 165px;
			position: absolute;
			left: 22px;
			top: 20px;
			z-index: 4;
		}
		.beats-ring-blue {
			background: url(../images/player_parts/beats-ring-blue.png) 0 0 no-repeat;
			background-size: 162px 162px;
			width: 162px;
			height: 162px;
			position: absolute;
			left: 23px;
			top: 21px;
			z-index: 4;
		}
		.melody-ring {
			background: url(../images/player_parts/melody-ring.png) 0 0 no-repeat;
			background-size: 131px 131px;
			width: 131px;
			height: 131px;
			position: absolute;
			left: 39px;
			top: 37px;
			z-index: 5;
		}
		.melody-ring-blue {
			background: url(../images/player_parts/melody-ring-blue.png) 0 0 no-repeat;
			background-size: 131px 131px;
			width: 131px;
			height: 131px;
			position: absolute;
			left: 39px;
			top: 37px;
			z-index: 5;
		}
		.outer-label {
			background: url(../images/player_parts/outer-label-bg.png) 0 0 no-repeat;
			background-size: 140px 140px;
			width: 140px;
			height: 140px;
			position: absolute;
			left: 76px;
			top: 74px;
		}
		.inner-label {
			background: url(../images/player_parts/inner-label-bg.png) 0 0 no-repeat;
			background-size: 100px 100px;
			width: 100px;
			height: 100px;
			position: absolute;
			left: 55px;
			top: 53px;
			display: block;
			z-index: 6;
			text-align: center;
			color: #ffffff;
			&:after {
				width: 8px;
				height: 8px;
			}
			.inner-label-details {
				position: relative;
				width: 100px;
				height: 100px;
			}
			.label-top {
				position: absolute;
				top: 10px;
				left: 0;
				width: 100%;
				.bend {
					line-height: 1;
					color: #ffffff;
					font-size: 11px;
					span {
						color: #ffffff;
						line-height: normal;
					}
				}
			}
			.label-bottom {
				position: absolute;
				bottom: 12px;
				left: 0;
				width: 100%;
				text-align: center;
				span {
					display: block;
				}
			}
			.desc {
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 10px;
			}
			.logo {
				background: url(../images/logo.png) 0 0 no-repeat;
				background-size: 31px 28px;
				width: 31px;
				height: 28px;
				margin:0 auto;
			}
			.name {
				font-family: 'Satisfy', cursive;
				font-size: 18px;
				letter-spacing: normal !important;
				line-height: 1;
			}
			.dot {
				position: relative;
				top: -3px;

			}
		}
		.needle {
			background: url(../images/player_parts/needle.png) 0 0 no-repeat;
			background-size: 80px 136px;
			width: 80px;
			height: 136px;
			position: absolute;
			right: -15px;
			top: 9px;
			z-index: 7;
		}
		.play-btn {
			background-color: #0092d1; // Old browsers
			@include filter-gradient(#0092d1, #0081b9, vertical); // IE6-9
			@include background-image(linear-gradient(top,  #0092d1 0%,#0090cf 47%,#0084bd 81%,#0081b9 100%));
			padding: 2px;
			@include box-shadow(rgba(#000000, 0.3) 0 0 3px 1px);
			letter-spacing: 3px;
			border-radius: 50%;
			width: 30px;
			height: 30px;
			position: absolute;
			right: -30px;
			top: 55px;
			z-index: 8;
			@include transition-property(background-color);
		    @include transition-duration(.4s);
		    @include transition-timing-function(ease-out);
			&:hover {
				background: none;
				background-color: #12729b;
			}
			span {
				border: 1px solid #5db1d4;
				display: block;
				width: 26px;
				height: 26px;
				background: url(../images/player_parts/play-btn.png) 58% 50% no-repeat;
				background-size: 10px 12px;
				border-radius: 50%;
			}
		}
	}

	.filler-1 {
		background: url(../images/filler1.png) 0 0 no-repeat;
		background-size: 76px 87px;
		width: 76px;
		height: 87px;
		position: absolute;
		top: -22px;
		right: 0;
		z-index: 1;
	}

	.filler-2 {
		background: url(../images/mobile/filler2.png) 0 0 no-repeat;
		background-size: 107px 158px;
		width: 107px;
		height: 158px;
		position: absolute;
		bottom:0px;
		left: -40px;
		z-index: 1;
	}

	.filler-3 {
		background: url(../images/mobile/filler3.png) 0 0 no-repeat;
		background-size: 65px 69px;
		width: 65px;
		height: 69px;
		position: absolute;
		bottom: 25px;
		right: -22px;
		z-index: 1;
	}

	.filler-4 {
		background: url(../images/filler4.png) 0 0 no-repeat;
		background-size: 39px 78px;
		width: 39px;
		height: 78px;
		position: absolute;
		top: 15px;
		left: 0px;
		z-index: 1;
	}

	.filler-5 {
		background: url(../images/filler5.png) 0 0 no-repeat;
		background-size: 59px 58px;
		width: 59px;
		height: 58px;
		position: absolute;
		top: -20px;
		left: 45px;
		z-index: 1;
	}

	.filler-6 {
		display: none;
	}

	.filler-7 {
		display: none;
	}

	.filler-8 {
		display: none;
	}


	.disc {
		background: url(../images/disc.png) 0 0 no-repeat;
		background-size: 235px 46px;
		width: 235px;
		height: 46px;
		margin:0 auto;
	}



	.bottom-nav {
		max-width: 768px;
		li {
			float: left;
			width: 25%;
			position: relative;
			background: url(../images/triangle-menu.png) 50% 0 no-repeat;
			background-size: 153px 100px;
		}
		a {
			background: url(../images/triangle-menu-hover.png) 50% 0px no-repeat;
			background-size: 153px 200px;
			display: block;
			height: 47px;
			font-size: 12px;
			padding-top: 29px;
		}
		li:hover, li.active {
			a {
				background: url(../images/triangle-menu-hover.png) 50% -100px no-repeat;
				background-size: 153px 200px;
				text-decoration: none;
				color: $color-white;
			}
		}
		.circle {
			width: 28px;
			height: 28px;
			position: absolute;
			left: 50%;
			top: -10px;
			margin-left: -16px;
			@include transition-property(all);
	        @include transition-duration(.2s);
	        @include transition-timing-function(ease-out);
		}
		.icon-guitar {
			background-size: 30px 37px;
			width: 30px;
			height: 37px;
			position: absolute;
			top: -15px;
			left: 5px;
		}
		.icon-bong {
			background-size: 25px 24px;
			width: 25px;
			height: 24px;
			position: relative;
			left: 2px;
		}
		.icon-mic {
			background-size: 12px 28px;
			width: 12px;
			height: 28px;
			position: relative;
			top: -5px;
			left: 2px;
		}
		.icon-cymbals {
			background-size: 20px 21px;
			width: 20px;
			height: 21px;
			position: relative;
			top: 3px;
			left: 1px;
		}
	}
	.circle {
		width: 65px;
		height: 65px;
		background-color: #c7beb3;
		display: inline-block;
		border-radius: 50%;
		@include box-shadow(rgba(black, 0.1) 2px 2px 4px 0px inset);
		@include transition-property(background-color);
	    @include transition-duration(.3s);
	    @include transition-timing-function(ease-out);
	    position: relative;
	}



	.button-triangle {
		font-size: 18px;
		min-width: 110px;
		span {
			display: block;
			position: relative;
			z-index: 3;
			&:before {
				content: '';
				position: absolute;
				left: 12px;
				top: 1px;
				width: 0; 
				height: 0; 
				border-left: 44px solid transparent;
				border-right: 44px solid transparent;
				border-top: 34px solid #e1808d;
			}
			&:after {
				content: '';
				position: absolute;
				left: 16px;
				top: 2px;
				width: 0; 
				height: 0; 
				border-left: 40px solid transparent;
				border-right: 40px solid transparent;
				border-top: 31px solid #df4a5d;
				@include transition-property(all);
				@include transition-duration(.2s);
				@include transition-timing-function(ease-out);
			}
		}
		em {
			top: 3px;
			left: 3px;
			&:before {
				left: -6px;
				font-size: 11px;
			}
			&:after {
				right: -6px;
				font-size: 11px;
			}
		}
		&:before {
			content: '';
			position: absolute;
			left: 8px;
			top: 0;
			z-index: 2;
			width: 0; 
			height: 0; 
			border-left: 50px solid transparent;
			border-right: 50px solid transparent;
			border-top: 41px solid #c12d40;
		}
		&:hover {

			span {
				&:after {
					border-top-color: #c12d40;
				}
			}
		}
	}

	.finish-record {
		padding-bottom: 42px;
	}


	.lyrics {
		.record-player {
			width: 252px;
			margin:28px auto 10px auto;
			position: relative;
			.base {
				background: url(../images/player_parts/base.png) 0 0 no-repeat;
				background-size: 252px 252px;
				width: 252px;
				height: 252px;
			}
			.effect-ring {
				background: url(../images/player_parts/effect-ring.png) 0 0 no-repeat;
				background-size: 236px 236px;
				width: 236px;
				height: 236px;
				left: 8px;
				top: 8px;
			}
			.effect-ring-blue {
				background: url(../images/player_parts/effect-ring-blue.png) 0 0 no-repeat;
				background-size: 270px 270px;
				width: 270px;
				height: 270px;
				position: absolute;
				left: 10px;
				top: 10px;
				z-index: 3;
			}
			.beats-ring {
				background: url(../images/player_parts/beats-ring.png) 0 0 no-repeat;
				background-size: 204px 204px;
				width: 204px;
				height: 204px;
				position: absolute;
				left: 24px;
				top: 24px;
				z-index: 4;
			}
			.beats-ring-blue {
				background: url(../images/player_parts/beats-ring-blue.png) 0 0 no-repeat;
				background-size: 231px 231px;
				width: 231px;
				height: 231px;
				position: absolute;
				left: 30px;
				top: 30px;
				z-index: 4;
			}
			.melody-ring {
				background: url(../images/player_parts/melody-ring.png) 0 0 no-repeat;
				background-size: 162px 162px;
				width: 162px;
				height: 162px;
				position: absolute;
				left: 46px;
				top: 45px;
				z-index: 5;
			}
			.melody-ring-blue {
				background: url(../images/player_parts/melody-ring-blue.png) 0 0 no-repeat;
				background-size: 184px 184px;
				width: 184px;
				height: 184px;
				position: absolute;
				left: 53px;
				top: 53px;
				z-index: 5;
			}
			.outer-label {
				background: url(../images/player_parts/outer-label-bg.png) 0 0 no-repeat;
				background-size: 140px 140px;
				width: 140px;
				height: 140px;
				position: absolute;
				left: 76px;
				top: 74px;
			}
			.inner-label {
				background: url(../images/player_parts/inner-label-bg.png) 0 0 no-repeat;
				background-size: 122px 122px;
				width: 122px;
				height: 122px;
				position: absolute;
				left: 66px;
				top: 65px;
				display: block;
				z-index: 6;
				text-align: center;
				color: #ffffff;
				&:after {
					width: 8px;
					height: 8px;
				}
				.inner-label-details {
					position: relative;
					width: 100px;
					height: 100px;
				}
				.label-top {
					position: absolute;
					top: 10px;
					left: 0;
					width: 100%;
					.bend {
						line-height: 1;
						color: #ffffff;
						span {
							color: #ffffff;
							line-height: normal;
						}
					}
				}
				.label-bottom {
					position: absolute;
					bottom: 12px;
					left: 0;
					width: 100%;
					text-align: center;
					span {
						display: block;
					}
				}
				.desc {
					text-transform: uppercase;
					letter-spacing: 1px;
					font-size: 10px;
				}
				.logo {
					background: url(../images/logo.png) 0 0 no-repeat;
					background-size: 31px 28px;
					width: 31px;
					height: 28px;
					margin:0 auto;
				}
				.name {
					font-family: 'Satisfy', cursive;
					font-size: 18px;
					letter-spacing: normal !important;
					line-height: 1;
				}
				.dot {
					position: relative;
					top: -3px;

				}
			}
			.needle {
				background: url(../images/player_parts/needle.png) 0 0 no-repeat;
				background-size: 80px 136px;
				width: 80px;
				height: 136px;
				position: absolute;
				right: -15px;
				top: 9px;
				z-index: 7;
			}
			.play-btn {
				background-color: #0092d1; // Old browsers
				@include filter-gradient(#0092d1, #0081b9, vertical); // IE6-9
				@include background-image(linear-gradient(top,  #0092d1 0%,#0090cf 47%,#0084bd 81%,#0081b9 100%));
				padding: 2px;
				@include box-shadow(rgba(#000000, 0.3) 0 0 3px 1px);
				letter-spacing: 3px;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				position: absolute;
				right: -30px;
				top: 65px;
				z-index: 8;
				@include transition-property(background-color);
			    @include transition-duration(.4s);
			    @include transition-timing-function(ease-out);
				&:hover {
					background: none;
					background-color: #12729b;
				}
				span {
					border: 1px solid #5db1d4;
					display: block;
					width: 26px;
					height: 26px;
					background: url(../images/player_parts/play-btn.png) 58% 50% no-repeat;
					background-size: 10px 12px;
					border-radius: 50%;
				}
			}
			
		}
	}




	// Rotation

	.rotation {
		width: 360px;
		height: 360px;
		position: absolute;
		left: -54px;
		top: -55px;
		.outer {
			background-color: rgba(#ffffff, 0);
			z-index: 10;
			border: 25px solid #ffffff;
			border-radius: 50%;
			width: 100%;
			height: 100%;
			@include box-shadow(rgba(#000000, 0.4) 0 0 20px 0px);
			font-size: 14px;
			.bend {
				line-height: 1;
				font-size: 14px;
				span {
					color: #c0b6a3;
					line-height: normal;
				}
			}
			.left {
				left: -30px;
			}
			.right {
			}
			.top {
				left: 50%;
				@include rotate(180deg);
			}
		
		}
		.inner {
			position: absolute;
			top: 24px;
			left: 26px;
			background-color: rgba(#000000, 0.1);
			border: 30px solid #ece7df;
			border-radius: 50%;
			width: 310px;
			height: 310px;
			border-left-color: #dfd9ce;
			border-right-color: #dfd9ce;
			font-size: 14px;
			text-transform: uppercase;
			letter-spacing: 1px;
			.bend {
				line-height: 1;
				font-size: 14px;
				span {
					color: #7e6d6b;
					line-height: normal;
				}
			}
			.top {
				width: 100%;
				text-align: center;
				left: 0;
			}
			.right {
				right: -27px;
			}
			.left {
				left: -44px;
			}
		}
		.rotation-content {
			position: relative;
			width: 100%;
			height: 100%;
			> div.active {
				span {
					color: $color-white;
				}
			}
		}
		.top {
			position: absolute;
			top: -21px;
			z-index: 20;
		}
		.bottom {
			position: absolute;
			bottom: -26px;
			left: 50%;
			z-index: 20;
			@include translate(-50%, 0px);
		}
		.right {
			position: absolute;
			top: 50%;
			right: -28px;
			@include rotate(-90deg);
			z-index: 20;
		}
		.left {
			position: absolute;
			top: 50%;
			left: -49px;
			@include rotate(90deg);
			z-index: 20;
		}
		&.active {
			&:after {
				content:'';
				background: url(../images/rotation-active-bg.png) 0 0 no-repeat;
				background-size: 265px 107px;
				width: 265px;
				height: 107px;
				position: absolute;
				bottom: -14px;
				left: 50.2%;
				z-index: 13;
				@include translate(-50%, 0px);
			}
			.inner {
				.bottom {
					span {
						color: #ffffff;
					}
				}
			}
			.outer {
				.bottom {
					bottom: -25px;
					span {
						color: #8c7c7a;
					}
				}
			}
		}
	}


	.rotation-container {
		position: relative;
		width: 100%;
		height: 100%;
	}

	.rotate-next {
		background: url(../images/arrow-right.png) 0 0 no-repeat;
		background-size: 58px 50px;
		width: 58px;
		height: 25px;
		position: absolute;
		bottom: -34px;
		right: 75px;
		&:hover, &.active {
			background-position: 0 -25px;
		}
	}

	.rotate-prev {
		background: url(../images/arrow-left.png) 0 0 no-repeat;
		background-size: 58px 50px;
		width: 58px;
		height: 25px;
		position: absolute;
		bottom: -34px;
		left: 75px;
		&:hover, &.active {
			background-position: 0 -25px;
		}
	}

	.rotate-up {
		background: url(../images/arrow-up-down.png) 0 0 no-repeat;
		background-size: 42px 54px;
		width: 42px;
		height: 27px;
		position: absolute;
		bottom: -34px;
		left: 50%;
		@include translate(-50%, 0px);
		&:hover, &.active {
			background: url(../images/arrow-up-down-hover.png) 0 0 no-repeat;
			background-size: 42px 54px;
		}
	}

	.rotate-down {
		background: url(../images/arrow-up-down.png) 0 -27px no-repeat;
		background-size: 42px 54px;
		width: 42px;
		height: 27px;
		position: absolute;
		bottom: -61px;
		left: 50%;
		@include translate(-50%, 0px);
		&:hover, &.active {
			background: url(../images/arrow-up-down-hover.png) 0 -27px no-repeat;
			background-size: 42px 54px;
		}
	}

	.lyrics {
		padding-top: 8px;
	}



	// Icon Nav

	.circle {
		width: 45px;
		height: 45px;
		background-color: #c7beb3;
		display: inline-block;
		border-radius: 50%;
	    position: relative;
	}

	.icon-nav {
		margin-bottom: 30px !important;
		margin-left: -20px;
		margin-right: -20px;
		li {
			display: inline-block;
			vertical-align: top;
			margin-left: 7px;
			margin-right: 7px;
			cursor: pointer;
		}
		li:hover {
			.circle {
				background-color: $color-primary;
			}
			.icon {
				@include scale(1.3);
			}
		}
		li.active {
			.circle {
				background-color: $color-primary;
			}
		}
		.icon-guitar {
			background-size: 54px 66px;
			width: 54px;
			height: 66px;
			position: absolute;
			top: -26px;
			left: 5px;
		}
		.icon-violin {
			position: absolute;
			top: -10px;
			left: 0;
		}
		.icon-trumpet {
			background-size: 49px 34px;
			width: 49px;
			height: 34px;
			position: absolute;
			top: 1px;
			left: -1px;
		}
		.icon-sax {
			background-size: 41px 40px;
			width: 41px 40px;
			position: absolute;
			left: -9px;
			top: -2px;
		}
		.icon-recorder {
			background-size: 20px 38px;
			width: 25px;
			height: 38px;
			position: absolute;
			left: 11px;
			top: 2px;
		}
		.icon-bong {
			background-size: 32px 31px;
			width: 32px;
			height: 31px;
			position: relative;
			top: 8px;
			left: 1px;
		}
		.icon-drum {
			background-size: 40px 44px;
			width: 40px;
			height: 44px;
			position: relative;
			top: 12px;
			left: 2px;
		}
		.icon-percussion {
			background-size: 32px 32px;
			width: 32px;
			height: 32px;
			position: relative;
			top: 6px;
			left: 1px;
		}
		.icon-snare {
			background-size: 34px 28px;
			width: 34px;
			height: 28px;
			position: relative;
			top: 9px;
			left: 2px;
		}
		.icon-shaker {
			background-size: 35px 23px;
			width: 35px;
			height: 23px;
			position: relative;
			top: 11px;
			left: 1px;
		}
		.icon-maraca {
			background-size: 25px 42px;
			width: 25px;
			height: 42px;
			position: relative;
			left: 5px;
			top: 2px;
		}
		.icon-triangle {
			background-size: 30px 41px;
			width: 30px;
			height: 41px;
			position: relative;
			top: 4px;
			left: 2px;
		}
		.icon-cymbals-blue {
			background-size: 36px 38px;
			width: 36px;
			height: 38px;
			position: relative;
			left: 2px;	
			top: 5px;
		}
		.icon-cymbals {
			background-size: 35px 36px;
			width: 35px;
			height: 36px;
			position: relative;
			top: 6px;
			left: 2px;
		}
		.icon-drum-head {
			background-size: 32px 39px;
			width: 32px;
			height: 39px;
			position: relative;
			top: 2px;
			left: -1px;
		}
		.icon-guitar-acoustic {
			background-size: 50px 57px;
			width: 50px;
			height: 57px;
			position: relative;
			top: -16px;
			left: -8px;
		}
		.icon-bell {
			background-size: 28px 38px;
			width: 28px;
			height: 38px;
			position: relative;
			top: 3px;
			left: 5px;
		}
	}
	.instructions {
		.record-player {
			margin-top: 20px;
		}
	}
}