<div class="record-player">
    <div class="rotation active">
        <div class="rotation-container">
            <div class="outer">
                <div class="rotation-content">
                    <div class="bottom">
                        <span class="bend lyric">Good on ya' mum for helping me get through school</span>
                    </div>
                </div>
            </div>
            <div class="inner">
                <div class="rotation-content">
                    <div class="bottom"><span class="bend lyrics-type">Sweet</span></div>
                    <div class="right"><span class="bend lyrics-type">Nice</span></div>
                    <div class="top"><span class="bend lyrics-type">Naughty</span></div>
                    <div class="left"><span class="bend lyrics-type">Forgiving</span></div>
                </div>
            </div>
            
            <div class="arrow-holder" ng-click="nextType()">
                <div class="rotate-next" style="position: relative !important; right: 0px; top: 0px;"></div>
            </div>
           
           <!--
            <a href="javascript:;" class="rotate-prev" ng-click="prevType()"></a>
            -->
            <a href="javascript:;" class="rotate-up active" ng-click="moveUp()"></a>
            <a href="javascript:;" class="rotate-down" ng-click="moveDown()"></a>
        </div>
    </div>
    <div class="base">
        <div class="needle" style="display: none;"></div>
        <a href="#" class="play-btn" style="display: none;"><span></span></a>
        <div class="effect-ring"></div>
        <div class="beats-ring"></div>
        <div class="melody-ring"></div>
        <div class="inner-label">
            <div class="inner-label-details" style="display: none;">
                <div class="label-top">
                    <div class="bend">SONG OF THE DAY</div>
                </div>
                <div class="label-bottom">
                    <span class="name">First Name</span>
                    <span class="desc"><i class="dot">.</i>State<i class="dot">.</i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br class="hide-on-light"><br class="show-on-moderate">

<span class="sub-title lyrics-loader" style="display:none;">Loading...</span>
<br>
<div class="grid-8 light-9 center">
 <a href="javascript:;"  class="button primary  light mute-btn" ng-click="muteTrack()"><span>Mute</span></a>
</div>
<br>
<div class="heading-category">
    <span class="sub-title">Pick your</span>
    <div class="heading-bullet">
        <h1>Lyrics</h1>
    </div>
</div>


<a href="javascript:;" class="button-triangle" ng-if="isTrackComplete" ng-click="record()">
    <span>
        <div class="hide-on-light">
            <em>Record</em>
            </div><div class="show-on-light">
            <em>Rec</em>
        </div>
    </span>
</a>