<div class="record-player">
    <div class="filler-1 pulse-effect" style="display:none;"></div>
    <div class="filler-2 pulse-effect" style="display:none;"></div>
    <div class="base">
        <div class="needle"></div>
        <a href="#" class="play-btn" style="display: none;"><span></span></a>
        <div class="effect-ring" style="display: none;"></div>
        <div class="beats-ring" style="display: none;"></div>
        <div class="melody-ring-blue" style="display:none;"></div>
       

        <div class="inner-label" style="display: none;">
            <div class="inner-label-details">
                <div class="label-top">
                    <div class="bend">SONG OF THE DAY</div>
                </div>
                <div class="label-bottom">
                    <span class="name">First Name</span>
                    <span class="desc"><i class="dot">.</i>State<i class="dot">.</i></span>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="heading-category">
    <span class="sub-title text-heavy">Pick your</span>
    <div class="heading-bullet">
        <h1>Melody</h1>
    </div>
</div>
<ul class="list icon-nav">
    <li ng-repeat="iconList in circleOption" ng-class="{active: (selectedMelody == '{{iconList}}')}">
        <div class="circle" ng-click="setMelody(iconList)">
            <i class="icon {{iconList}}" ></i>
        </div>
    </li>
</ul>